<div id="main-content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-md-6 col-sm-12">
                    <h1>Patients List</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#" [routerLink]="['/home']">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="#" [routerLink]="['/Admin', {outlets: {side: ['appointment']}}]">Appointments Log</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Patient</li>
                        </ol>
                    </nav>
                </div>            
                <div class="col-md-6 col-sm-12 text-right hidden-xs">
                    <!-- <button class="btn btn-sm btn-primary" title="" data-toggle="modal" data-target="#AddPatients">Add Patient</button> -->
                    <!-- <a href="javascript:void(0);" class="btn btn-sm btn-primary" title="">Create Campaign</a>
                    <a href="https://themeforest.net/item/oculux-bootstrap-4x-admin-dashboard-clean-modern-ui-kit/23091507" class="btn btn-sm btn-success" title="Themeforest"><i class="icon-basket"></i> Buy Now</a> -->
                </div>
            </div>
        </div>


        <div class="row clearfix">
                   
            <div class="col-12">
                <div class="card">
                    <div class="body">
                        <form class="form-auth-small m-t-20" role="form" (ngSubmit)="onClickSubmit(sp)" #sp="ngForm">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-4">
                                <label>Search Patient</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search..." value="" ngModel name="customer">
                                    
                                </div>
                            </div>    
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <label>&nbsp;</label>
                                <div class="input-group">
                                    <select class="form-control" ngModel name="action">
                                        <option value="">-Select-</option>
                                        <option value="card_number">Hospital Number</option>
                                        <option value="name">Patient Name</option>
                                        <option value="mobile_number">Phone Number</option>                                                    
                                    </select>
                                </div>
                            </div>                           
                            <div class="col-lg-2 col-md-2 col-sm-4">
                                <label>&nbsp;</label>
                                <button type="submit" class="btn btn-sm btn-primary btn-block" title="">Search<i *ngIf="disabled" class="fa fa-spin fa-spinner"></i></button>

                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
            </div>

                <div class="row clearfix" *ngIf="show">

                    <div class="col-xl-4 col-lg-4 col-md-5">

                        <div class="card profile-header">

                            <div class="header">
                                <h2>Patient</h2>
                                <ul class="header-dropdown dropdown">                                
                                    <li><a href="javascript:void(0);" class="full-screen"><i class="icon-frame"></i></a></li>
                                    <li class="dropdown">
                                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="javascript:void(0);">Action</a></li>
                                            <li><a href="javascript:void(0);">Another Action</a></li>
                                            <li><a href="javascript:void(0);">Something else</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>                            
                            <div class="body text-center">
                                <img style="width:60%" src="http://{{ imgLink}}/backend/public/upload/uploads/{{pat[0].patient_image}}" class="rounded-circle" alt="">
                                <div class="mt-3">
                                    <h5 class="mb-0"><strong>{{patient.card_number}}</strong></h5>
                                    <span>{{patient.name}}</span>
                                </div>
                                <!-- <div class="m-t-15">
                                    <button class="btn btn-primary">Follow</button>
                                    <button class="btn btn-outline-secondary">Message</button>
                                </div>                             -->
                            </div>
                        </div>
                        
                        <div class="card">
                            <div class="header">
                                <h2>Basic Information</h2>
                                <ul class="header-dropdown dropdown">                                
                                    <li><a href="javascript:void(0);" class="full-screen"><i class="icon-frame"></i></a></li>
                                    <li class="dropdown">
                                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="javascript:void(0);">Action</a></li>
                                            <li><a href="javascript:void(0);">Another Action</a></li>
                                            <li><a href="javascript:void(0);">Something else</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="body">
                                <small class="text-muted">Address: </small>
                                <p>{{patient.address}}</p>
                                <div>
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1923731.7533500232!2d-120.39098936853455!3d37.63767091877441!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80859a6d00690021%3A0x4a501367f076adff!2sSan+Francisco%2C+CA%2C+USA!5e0!3m2!1sen!2sin!4v1522391841133" width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
                                </div>
                                <hr>
                                <small class="text-muted">Email address: </small>
                                <p>{{patient.email}}</p>                            
                                <hr>
                                <small class="text-muted">Mobile: </small>
                                <p>{{patient.contact_number}}</p>
                                <hr>
                                <small class="text-muted">Birth Date: </small>
                                <p class="m-b-0">October 17th, 93</p>
                                <hr>
                                <small class="text-muted">Social: </small>
                                <p><i class="fa fa-twitter m-r-5"></i> twitter.com/example</p>
                                <p><i class="fa fa-facebook  m-r-5"></i> facebook.com/example</p>
                                <p><i class="fa fa-github m-r-5"></i> github.com/example</p>
                                <p><i class="fa fa-instagram m-r-5"></i> instagram.com/example</p>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-xl-8 col-lg-8 col-md-7">

                        <div class="card">
                            <div class="header">
                                <h2>Header</h2>
                            </div>
                            <div class="body">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#Basic">Appointment</a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Account">New Appointment</a></li>
                                    <!-- <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#test">Lab Tests</a></li> -->
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#settings">Settings</a></li>
                                    <!-- <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#voucher">Vouchers</a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#invoice">Invoices</a></li> -->
                                </ul>
                            </div>
                        </div>

                        <div class="card">
                            <div class="row profile_state">
                                <div class="col-lg-4 col-md-12">
                                    <div class="body">
                                        <div class="form-group">
                                            <label class="d-block">OPD <span class="float-right">77%</span></label>
                                            <div class="progress progress-xxs">
                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100" style="width: 77%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12">
                                    <div class="body">
                                        <div class="form-group">
                                            <label class="d-block">Operations <span class="float-right">50%</span></label>
                                            <div class="progress progress-xxs">
                                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12">
                                    <div class="body">
                                        <div class="form-group">
                                            <label class="d-block">Patient visit <span class="float-right">23%</span></label>
                                            <div class="progress progress-xxs">
                                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="23" aria-valuemin="0" aria-valuemax="100" style="width: 23%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="tab-content padding-0">
                            <div class="tab-pane active" id="Basic">
                                <div class="card">
                                    <div class="header">
                                        <h2>Appointment Informations</h2>
                                    </div>
                                    <div class="body">
                                        <div id="biography">
                                            <div class="row">
                                                <div class="col-md-3 col-sm-6">
                                                    <strong>Full Name</strong>
                                                    <br>
                                                    <p class="text-muted">Dr.Colin Brown</p>
                                                </div>
                                                <div class="col-md-3 col-sm-6">
                                                    <strong>Mobile</strong>
                                                    <br>
                                                    <p class="text-muted">(123) 456 7890</p>
                                                </div>
                                                <div class="col-md-3 col-sm-6">
                                                    <strong>Email</strong>
                                                    <br>
                                                    <p class="text-muted">Colin_Brown@info.com</p>
                                                </div>
                                                <div class="col-md-3 col-sm-6">
                                                    <strong>Location</strong>
                                                    <br>
                                                    <p class="text-muted">USA</p>
                                                </div>
                                            </div>
                                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. </p>
                                            <p>Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                                            <br>
                                            <h6 class="font-bold">Education</h6>
                                            <ul class="list-group">
                                                <li class="list-group-item">M.B.B.S.,Harvard University, USA.</li>
                                                <li class="list-group-item">M.S.,Harvard University, USA.</li>
                                                <li class="list-group-item">SPINAL FELLOWSHIP Dr. John Adam, Allegimeines Krakenhaus, Schwerin, Germany.</li>
                                                <li class="list-group-item">Fellowship in Endoscopic Spine Surgery Phoenix, USA.</li>
                                                <li class="list-group-item">D.N.B from AIIMS</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="Account">
                                <div class="card">
                                    <div class="header">
                                        <h2>New Appointment</h2>
                                    </div>
                                    <div class="body">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Phone Number">
                                                </div>
                                                <div class="form-group">
                                                    <select class="form-control">
                                                        <option>--TimeZone--</option>
                                                        <optgroup label="Africa">
                                                            <option value="Africa/Abidjan">Abidjan</option>
                                                            <option value="Africa/Accra">Accra</option>
                                                            <option value="Africa/Addis_Ababa">Addis Ababa</option>
                                                        <option value="Africa/Tripoli">Tripoli</option>
                                                            <option value="Africa/Tunis">Tunis</option>
                                                            <option value="Africa/Windhoek">Windhoek</option>
                                                        </optgroup>
                                                        <optgroup label="America">
                                                            <option value="America/Adak">Adak</option>
                                                         <option value="America/Argentina/Mendoza">Argentina - Mendoza</option>
                                                            <option value="America/Argentina/Rio_Gallegos">Argentina - Rio Gallegos</option>
                                                           
                                                        </optgroup>
                                                        <optgroup label="Antarctica">
                                                            <option value="Antarctica/Casey">Casey</option>
                                                            <option value="Antarctica/Davis">Davis</option>
                                                            <option value="Antarctica/DumontDUrville">DumontDUrville</option>
                                                         
                                                        </optgroup>
                                                        <optgroup label="Arctic">
                                                            <option value="Arctic/Longyearbyen">Longyearbyen</option>
                                                        </optgroup>
                                                        <optgroup label="Asia">
                                                            <option value="Asia/Aden">Aden</option>
                                                            <option value="Asia/Almaty">Almaty</option>
                                                            <option value="Asia/Amman">Amman</option>
                                                            <option value="Asia/Anadyr">Anadyr</option>
                                                           
                                                        </optgroup>
                                                        <optgroup label="Atlantic">
                                                            <option value="Atlantic/Azores">Azores</option>
                                                            <option value="Atlantic/Bermuda">Bermuda</option>
                                                            <option value="Atlantic/Canary">Canary</option>
                                                          
                                                        </optgroup>
                                                        <optgroup label="Australia">
                                                            <option value="Australia/Adelaide">Adelaide</option>
                                                            <option value="Australia/Brisbane">Brisbane</option>
                                                            <option value="Australia/Broken_Hill">Broken Hill</option>
                                                         
                                                        </optgroup>
                                                        <optgroup label="Europe">
                                                            <option value="Europe/Amsterdam">Amsterdam</option>
                                                            <option value="Europe/Andorra">Andorra</option>
                                                            <option value="Europe/Athens">Athens</option>
                                                    
                                                        </optgroup>
                                                        <optgroup label="Indian">
                                                            <option value="Indian/Antananarivo">Antananarivo</option>
                                                            <option value="Indian/Chagos">Chagos</option>
                                                            <option value="Indian/Christmas">Christmas</option>
                                                         
                                                        </optgroup>
                                                        <optgroup label="Pacific">
                                                            <option value="Pacific/Apia">Apia</option>
                                                            <option value="Pacific/Auckland">Auckland</option>
                                                            <option value="Pacific/Chatham">Chatham</option>
                                                            
                                                        </optgroup>
                                                        <optgroup label="UTC">
                                                            <option value="UTC">UTC</option>
                                                        </optgroup>
                                                        <optgroup label="Manual Offsets">
                                                            <option value="UTC-12">UTC-12</option>
                                                      
                                                        </optgroup>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>Date Format</label>
                                                    <div class="fancy-radio">
                                                        <label><input name="dateFormat" value="" type="radio"><span><i></i>May 18, 2018</span></label>&nbsp;&nbsp;
                                                        <label><input name="dateFormat" value="" type="radio"><span><i></i>2018, May, 18</span></label>&nbsp;&nbsp;
                                                        <label><input name="dateFormat" value="" type="radio" checked><span><i></i>2018-03-10</span></label>&nbsp;&nbsp;
                                                        <label><input name="dateFormat" value="" type="radio"><span><i></i>02/09/2018</span></label>&nbsp;&nbsp;
                                                        <label><input name="dateFormat" value="" type="radio"><span><i></i>10/05/2018</span></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12">
                                                <h6>Email from Lucid</h6>
                                                <p>I'd like to receive the following emails:</p>
                                                <ul class="list-unstyled list-email-received">
                                                    <li>
                                                        <label class="fancy-checkbox">
                                                            <input type="checkbox" checked><span>Weekly account summary</span></label>
                                                    </li>
                                                    <li>
                                                        <label class="fancy-checkbox">
                                                            <input type="checkbox"><span>Campaign reports</span></label>
                                                    </li>
                                                    <li>
                                                        <label class="fancy-checkbox">
                                                            <input type="checkbox" checked><span>Promotional news such as offers or discounts</span></label>
                                                    </li>
                                                    <li>
                                                        <label class="fancy-checkbox">
                                                            <input type="checkbox" checked><span>Tips for campaign setup, growth and client success stories</span></label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-primary">Update</button> &nbsp;&nbsp;
                                        <button class="btn btn-default">Cancel</button>
                                    </div>
                                </div>
                            </div>                       

                

                        <div class="tab-pane" id="settings">
                        <div class="card">
                            <div class="header">
                                <h2>Settings</h2>
                                <ul class="header-dropdown dropdown">                                
                                    <li><a href="javascript:void(0);" class="full-screen"><i class="icon-frame"></i></a></li>
                                    <li class="dropdown">
                                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="javascript:void(0);">Action</a></li>
                                            <li><a href="javascript:void(0);">Another Action</a></li>
                                            <li><a href="javascript:void(0);">Something else</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="body">
                                <div class="row clearfix">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group">                                                
                                            <input type="text" class="form-control" placeholder="First Name">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group">                                                
                                            <input type="text" class="form-control" placeholder="Last Name">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12">
                                        <div class="form-group">
                                            <select class="form-control">
                                                <option value="">-- Select Gander --</option>
                                                <option value="AF">Male</option>
                                                <option value="AX">Female</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="icon-calendar"></i></span>
                                                </div>
                                                <input data-provide="datepicker" data-date-autoclose="true" class="form-control" placeholder="Birthdate">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="icon-globe"></i></span>
                                                </div>
                                                <input type="text" class="form-control" placeholder="http://">
                                            </div>
                                        </div>
                                    </div>                                
                                    <div class="col-lg-4 col-md-12">
                                        <div class="form-group">
                                            <select class="form-control">
                                                <option value="">-- Select Country --</option>
                                                <option value="AF">Afghanistan</option>
                                                <option value="AX">Åland Islands</option>
                                                
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="State/Province">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="City">
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group">                                                
                                            <textarea rows="4" type="text" class="form-control" placeholder="Address"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <ul class="list-group mb-3 tp-setting">
                                            <li class="list-group-item">
                                                Anyone seeing my profile page
                                                <div class="float-right">
                                                    <label class="switch">
                                                        <input type="checkbox" checked>
                                                        <span class="slider round"></span>
                                                    </label>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                Anyone send me a message
                                                <div class="float-right">
                                                    <label class="switch">
                                                        <input type="checkbox">
                                                        <span class="slider round"></span>
                                                    </label>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                Anyone posts a comment on my post
                                                <div class="float-right">
                                                    <label class="switch">
                                                        <input type="checkbox" checked>
                                                        <span class="slider round"></span>
                                                    </label>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                Anyone invite me to group
                                                <div class="float-right">
                                                    <label class="switch">
                                                        <input type="checkbox" checked>
                                                        <span class="slider round"></span>
                                                    </label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-round btn-primary">Update</button> &nbsp;&nbsp;
                                <button type="button" class="btn btn-round btn-default">Cancel</button>
                            </div>
                        </div>

                        <div class="card">
                            <div class="header">
                                <h2>Account Data</h2>
                            </div>
                            <div class="body">
                                <div class="row clearfix">
                                    <div class="col-lg-4 col-md-12">                                            
                                        <div class="form-group">                                                
                                            <input type="text" class="form-control" value="louispierce" disabled placeholder="Username">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12">
                                        <div class="form-group">
                                            <input type="email" class="form-control" value="louis.info@yourdomain.com" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Phone Number">
                                        </div>
                                    </div>                                
                                    <div class="col-lg-12 col-md-12">
                                        <hr>
                                        <h6>Change Password</h6>
                                        <div class="form-group">
                                            <input type="password" class="form-control" placeholder="Current Password">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" placeholder="New Password">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" placeholder="Confirm New Password">
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-round btn-primary">Update</button> &nbsp;&nbsp;
                                <button type="button" class="btn btn-round btn-default">Cancel</button>
                            </div>
                        </div>
                    </div>

                </div>

                
        
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    
                    <div class="body">
                        <div class="row">
                            <!-- <div class="col-lg-10 col-md-10 col-sm-6">
                                <label>Search User</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="patient_data" placeholder="Search..."  [formControl]="control">
                                    
                                </div>
                            </div>   -->
                        <div class="table-responsive">
                            <!-- <table class="table table-hover js-basic-example dataTable table-custom spacing5">
                                <thead>
                                    <tr>
                                        <th>S/N</th>
                                        <th>Image</th>
                                        <th>Name</th>
                                        <th>Card Number</th>
                                        <th>Gender</th>
                                      
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>                              
                                <tbody>
                                    <tr  *ngFor="let p of pat; let r = index">
                                        <td> {{r+1}}</td>
                                        <td class="w60">
                                                <img src="http://{{ imgLink}}/backend/public/upload/uploads/{{p.patient_image}}" data-toggle="tooltip" data-placement="top" title="Avatar Name" alt="Avatar" class="w35 rounded">
                                            </td>
                                        <td>
                                            <a href="javascript:void(0);" title="" [routerLink]="['/Admin', {outlets: {side: ['patient_profile',p.id]}}]">{{p.name}}</a>
                                            <p class="mb-0">{{p.othername}}</p>
                                        </td>
                                        <td class="text-center">{{p.card_number}}</td>  
                                        <td>{{p.gender}}</td>   
                                      
                                        <td>
                                                <span class="badge badge-success" *ngIf ="p.status=== 'active'">Active</span>
                                                  <span class="badge badge-danger" *ngIf ="p.status=== 'suspend'">Suspend</span>                                   
                                            </td> 
                                        <td>
                                            <a href="javascript:void(0);" class="btn btn-primary btn-round" (click)= "appointment(p.id)" data-toggle="modal" data-target=".new-project-modal">Make Appointment</a>
                                        </td>
                                    </tr>  
                                    <div *ngIf="!pat">
                                        <div class="spinner-grow text-primary" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                <div class="spinner-grow text-secondary" role="status">
            <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-success" role="status">
            <span class="sr-only">Loading...</span>
            </div> -->
                                      </div> 
                            
                            <!-- <div class="modal fade new-project-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Department</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form class="form-auth-small m-t-20" role="form" (ngSubmit)="onSubmitApp(ap)" #ap="ngForm"> 
                                        <div class="modal-body">
                                                <div class="input-group-prepend">
                                                        <label class="input-group-text" for="inputGroupSelect01">Select Department</label>
                                                    </div> 
                                                    <select class="custom-select"  id="inputGroupSelect01"  ngModel name="dept_id">
                                                        <option *ngFor="let d of department" [value]="d.id">{{d.name}}</option>                                       
                                                    </select>                                           
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-round btn-default" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-round btn-success" >Appoint</button>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>                                
                                </tbody>
                            </table> -->
                            <!-- <button class="btn btn-danger" (click)="prev(d.last_page)">Prev</button>
                            <button class="btn btn-success" (click)="next(d.)">Next</button> -->
                            <!-- <pagination-controls style="background: blue;" (pageChange)="p = $event" class="my-pagination"></pagination-controls>   -->
                        </div>
                    </div>
                </div>
            </div>          
        </div>
    </div>
    

</div>



<!-- Default Size -->
<div class="modal fade" id="AddPatients" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title h4" id="myLargeModalLabel">Add Patient</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                  </button>
              </div>
              <form class="form-auth-small m-t-20" role="form" (ngSubmit)="onSubmit(fm)" #fm="ngForm"> 
              <div class="modal-body">             
                  <div class="row clearfix">
                      <div class="col-md-8">
                          <div class="form-group">
                              <input type="text" class="form-control" placeholder=" Patient Firstname" ngModel name="name" required>
                          </div>
                      </div>             
                  </div>
              </div>
              <div class="modal-body">             
                <div class="row clearfix">
                    <div class="col-md-8">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Patient Other Name" ngModel name="othername" required>
                        </div>
                    </div>             
                </div>
            </div>
            <div class="modal-body">             
                    <div class="row clearfix">
                        <div class="col-md-8">
                            <div class="form-group">
                                    <label class="fancy-radio custom-color-green"><input name="gender" ngModel name="gender" value="Male" type="radio" checked><span><i></i>Male</span></label>
                                    <label class="fancy-radio custom-color-green"><input name="gender" ngModel name="gender" value="Female" type="radio"><span><i></i>Female</span></label>
                              </div>
                        </div>             
                    </div>
                </div>
            <div class="modal-body">             
                    <div class="row clearfix">
                        <div class="col-md-8">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Patient Email Address if available" ngModel name="email">
                            </div>
                        </div>             
                    </div>
                </div>
            <div class="modal-body">             
              <div class="row clearfix">
                  <div class="col-md-8">
                      <div class="form-group">
                          <input type="text" class="form-control" placeholder="Patient Contact Number" ngModel name="mobile_number" required>
                      </div>
                  </div>             
              </div>
          </div>
          <div class="modal-body">             
            <div class="row clearfix">
                <div class="col-md-8">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Patient Address" ngModel name="address" required>
                    </div>
                </div>             
            </div>
        </div>
        <div class="modal-body">             
                <div class="row clearfix">
                    <div class="col-md-8">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Patient City" ngModel name="city" required>
                        </div>
                    </div>             
                </div>
            </div>
            <div class="modal-body">             
                    <div class="row clearfix">
                        <div class="col-md-8">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Patient State" ngModel name="state" required>
                            </div>
                        </div>             
                    </div>
                </div>
                <div class="modal-body">             
                        <div class="row clearfix">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Patient Country" ngModel name="country" required>
                                </div>
                            </div>              
                        </div>
                    </div>
                    <div class="modal-body">             
                            <div class="row clearfix">
                                <div class="col-md-8">
                                    <div class="form-group">
                                            <input type="date" class="form-control" placeholder="Patient Date of Birth" ngModel name="d_o_b" required>
                                        </div>
                                </div>              
                            </div>
                        </div>
                    <div class="modal-body">             
                            <div class="row clearfix">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Patient Card Number" ngModel name="card_number" required>
                                    </div>
                                </div>             
                            </div>
                        </div>
                        <div class="modal-body">             
                                <div class="row clearfix">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Patient NHIS" ngModel name="n_h_i_s" required>
                                        </div>
                                    </div>             
                                </div>
                            </div>
                            <div class="modal-body">             
                                    <div class="row clearfix">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Patient Allergy" ngModel name="allergy" required>
                                            </div>
                                        </div>             
                                    </div>
                                </div>
                                <div class="modal-body">             
                                        <div class="row clearfix">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="About Patient" ngModel name="about" required>
                                                </div>
                                            </div>             
                                        </div>
                                    </div>
              <div class="modal-body">             
                  <div class="row clearfix">
                      <div class="col-md-8">
                          <div class="form-group">
                              <select class="form-control show-tick" ngModel name="status">
                                  <option value="">-- Select Status --</option>
                                  <option value="active">Active</option>
                                  <option value="suspend">Suspend</option>                                
                              </select>                  
                            </div>
                      </div>             
                  </div>
              </div>      
              <div class="modal-footer">
                  <button type="submit" class="btn btn-round btn-primary">Add<i *ngIf="disabled" class="fa fa-spin fa-spinner"></i></button>
                  <button type="button" class="btn btn-round btn-default" data-toggle="modal">Close</button>
              </div>
              </form>
          </div>
        </div>
        </div>