<div id="wrapper">
    <div *ngIf = "hms == 'active'">
        <div *ngIf="department=='Pharmacy'">
        <app-pharmacy></app-pharmacy>
        </div>
        <div *ngIf="department=='Records'">
         <app-record></app-record>
        </div>
        <div *ngIf="role=='1001' || role=='2002' || role=='5006' || role=='5007'">
        <app-admin></app-admin>
        </div>
        <div *ngIf="department=='Clinic'">
        <app-clinic></app-clinic>
        </div>   
        <div *ngIf="department=='Nurse'">
        <app-nurse></app-nurse>
        </div>  
        <div *ngIf="department=='Revenue'">
        <app-revenue></app-revenue>
        </div>  
        <div *ngIf="department=='Radiology'">
        <app-radio></app-radio>
        </div>  
        <div *ngIf="department=='Laboratory'">
        <app-lab></app-lab>
        </div>  
        <div *ngIf="department=='Theater'">
        <app-theater></app-theater>
        </div> 
        <div *ngIf="department=='Ward'">
        <app-ward></app-ward>
        </div>   
    </div>

    <div >
        <router-outlet name="side"></router-outlet>
  </div>
    
</div>
