<div id="main-content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-md-6 col-sm-12">
                    <h1>Records Department</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                        <!-- <li class="breadcrumb-item"><a href="#"></a></li> -->
                        <li class="breadcrumb-item active" aria-current="page">Home</li>
                        </ol>
                    </nav>
                </div>            
                <div class="col-md-6 col-sm-12 text-right hidden-xs">
                    <a href="javascript:void(0);" class="btn btn-sm btn-primary" title="">Create Patient</a>
                    <a href="" class="btn btn-sm btn-success" title="Themeforest">Patient Library</a>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="body">
                        <div class="d-flex align-items-center">
                            <div class="icon-in-bg bg-indigo text-white rounded-circle"><i class="fa fa-briefcase"></i></div>
                            <div class="ml-4">
                                <span>New Appointment</span>
                                <h4 class="mb-0 font-weight-medium">{{appts}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6" *ngFor = 'let countAppt of pharmacyCenters'>
                <div class="card">
                    <div class="body">
                        <div class="d-flex align-items-center">
                            <div class="icon-in-bg bg-azura text-white rounded-circle"><i class="fa fa-users"></i></div>
                            <div class="ml-4">
                                <span>{{countAppt[0]}} Pharmacy</span>
                                <h4 class="mb-0 font-weight-medium">{{countAppt[1]}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="body">
                        <div class="d-flex align-items-center">
                            <div class="icon-in-bg bg-azura text-white rounded-circle"><i class="fa fa-credit-card"></i></div>
                            <div class="ml-4">
                                <span>OPD</span>
                                <h4 class="mb-0 font-weight-medium">$3,651</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="body">
                        <div class="d-flex align-items-center">
                            <div class="icon-in-bg bg-orange text-white rounded-circle"><i class="fa fa-users"></i></div>
                            <div class="ml-4">
                                <span>IPD</span>
                                <h4 class="mb-0 font-weight-medium">5,805</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="body">
                        <div class="d-flex align-items-center">
                            <div class="icon-in-bg bg-pink text-white rounded-circle"><i class="fa fa-life-ring"></i></div>
                            <div class="ml-4">
                                <span>EPS</span>
                                <h4 class="mb-0 font-weight-medium">$13,651</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-4 col-md-12">
                <div class="card">
                    <div class="header">
                        <h2>Users</h2>
                    </div>
                    <div class="body">
                        <div class="row text-center">
                            <div class="col-6 border-right pb-4 pt-4">
                                <label class="mb-0">All Patient</label>
                                <h4 class="font-30 font-weight-bold text-col-blue">{{patients}}</h4>
                            </div>
                            <div class="col-6 pb-4 pt-4">
                                <label class="mb-0">EPS Customer</label>
                                <h4 class="font-30 font-weight-bold text-col-blue">0</h4>
                            </div>
                        </div>
                    </div>
                    <div class="body">
                        <div class="form-group">
                            <label class="d-block">New Users <span class="float-right"></span></label>
                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100" style="width: 77%;"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="d-block">Return Visitors <span class="float-right"></span></label>
                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="d-block">Engagement <span class="float-right"></span></label>
                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="23" aria-valuemin="0" aria-valuemax="100" style="width: 23%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="card">
                    <div class="header">
                        <h2>Appointments Analysis By Type</h2>
                    </div>
                    <div class="body">
                        <div id="chart-Events-Interest" style="height: 300px"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="header">
                    <p class="header">Usage Analysis</p>
                </div>
                <a class="card" href="javascript:void(0)">
                    <div class="body text-center">
                        <img class="img-thumbnail rounded-circle" src="../assets/images/sm/avatar1.jpg" alt="">
                        <h6 class="mt-3">Michelle Green</h6>
                        <div class="text-center text-muted">Intranet Developer</div>
                    </div>
                    <div class="card-footer text-center">
                        <div class="row clearfix">
                            <div class="col-6">
                                <i class="fa fa-tag font-22"></i>
                                <div><span class="text-muted">9 Badges</span></div>
                            </div>
                            <div class="col-6">
                                <i class="fa fa-dollar font-22"></i>
                                <div><span class="text-muted">$ 3.100</span></div>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="card">
                    <div class="body">
                        <div class="card-text">
                            <div class="mt-0">
                                <small class="float-right text-muted">10/200 GB</small>
                                <span>Memory</span>
                                <div class="progress progress-xxs">
                                    <div style="width: 60%;" class="progress-bar"></div>
                                </div>
                            </div>
                            <div class="mt-4">
                                <small class="float-right text-muted">40 MB</small>
                                <span>Bandwidth</span>
                                <div class="progress progress-xxs">
                                    <div style="width: 50%;" class="progress-bar"></div>
                                </div>
                            </div>
                            <div class="mt-4">
                                <small class="float-right text-muted">73%</small>
                                <span>Activity</span>
                                <div class="progress progress-xxs">
                                    <div style="width: 40%;" class="progress-bar"></div>
                                </div>
                            </div>
                            <div class="mt-4">
                                <small class="float-right text-muted">400 GB</small>
                                <span>FTP</span>
                                <div class="progress progress-xxs mb-0">
                                    <div style="width: 80%;" class="progress-bar bg-danger"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                    
            </div>
        </div>

    </div>
</div> 