<div id="main-content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-md-6 col-sm-12">
                    <h1>Instructions Settings</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="../html/index.html">Dashboard</a></li>
                        <!-- <li class="breadcrumb-item"><a href="index.html">Hospital</a></li> -->
                        <li class="breadcrumb-item active" aria-current="page">Instruction Settings</li>
                        </ol>
                    </nav>
                </div>            
                <div class="col-md-6 col-sm-12 text-right">
                    <button class="btn btn-sm btn-primary" title="" data-toggle="modal" data-target="#AddDepartments">Add</button>
                    <!-- <a href="https://themeforest.net/item/oculux-bootstrap-4x-admin-dashboard-clean-modern-ui-kit/23091507" class="btn btn-sm btn-success" title="Themeforest"><i class="icon-basket"></i> Buy Now</a> -->
                </div>
            </div>
        </div>
  
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-hover table-custom spacing8">
                        <thead>
                            <tr> 
                                <th>#</th>
                                <th>Instruction</th>
                                <th>Value</th>
                                <th>Item Type</th>
                                <th>Status</th>
                                <th>Date</th>
                                <th>Admin</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let d of manuf; let r = index">
                                <td>
                                    {{r+1}}
                                </td>                              
                                <td style="color: #17C2D7;">{{d.name}}</td>
                                <td>{{d.value}}</td>
                                <td>{{d.type_name}} </td>                              
                                <td>
                                    <span class="badge badge-success" *ngIf ="d.status=== 'active'">Active</span>
                                      <span class="badge badge-danger" *ngIf ="d.status=== 'suspend'">Suspend</span>                                   
                                </td>  
                                <td>{{d.created_at}} </td> 
                                <td>{{d.firstname}} {{d.lastname}}</td>                         
                                <td>
                                    <button type="button" class="btn btn-default btn-sm" style="color: blue;" title="Edit" data-toggle="modal" data-target="#EditDepartments" (click)="editdept(d.id)"><i class="fa fa-pencil"></i></button>
                                    <button type="button" class="btn btn-default btn-sm" style="color: red;" title="Delete" data-toggle="modal" (click)="onDelete(d.id)"><i class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>                                                   
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
  </div>
  
  
  <!-- Default Size -->
  <div class="modal fade" id="AddDepartments" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title h4" id="myLargeModalLabel">Add Instruction</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
            </button>
        </div>
        <form class="form-auth-small m-t-20" role="form" (ngSubmit)="onSubmit(typ)" #typ="ngForm"> 
        <div class="modal-body">             
            <div class="row clearfix">
                <div class="col-md-8">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Instruction Here" ngModel name="name" required>
                    </div>
                </div>             
            </div>
        </div>
        <div class="modal-body">             
            <div class="row clearfix">
                <div class="col-md-8">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Value" ngModel name="value" required>
                    </div>
                </div>             
            </div>
        </div>
        <div class="modal-body">             
            <div class="row clearfix">
                <div class="col-md-8">
                  <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text">Item Type</label>
                        </div> 
                        <select class="custom-select" ngModel name="type_id"> 
                            <option value="">Select Item Type...</option>   
                            <ng-container *ngFor="let t of types">
                                <ng-container>
                                    <option value="{{t.id}}">{{t.type_name}}</option>
                                </ng-container>
                            </ng-container>                                                                           
                        </select>        
                    </div>
                </div>
                </div>             
            </div>
        </div>
        <div class="modal-body">             
            <div class="row clearfix">
                <div class="col-md-8">
                    <div class="form-group">                      
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <label class="input-group-text">Status</label>
                          </div> 
                          <select class="custom-select" ngModel name="status"> 
                              <option value="">Select Status...</option>   
                              <ng-container>
                                  <ng-container>
                                    <option value="active">Active</option>
                                    <option value="suspend">Suspend</option>  
                                  </ng-container>
                              </ng-container>                                                                           
                          </select>        
                      </div>                  
                      </div>
                </div>             
            </div>
        </div>      
        <div class="modal-footer">
            <button type="submit" class="btn btn-round btn-primary">Add</button>
            <button type="button" class="btn btn-round btn-default" data-toggle="modal">Close</button>
        </div>
        </form>
    </div>
  </div>
  </div>
  
  
  <!-- Default Size -->
  <div class="modal fade" id="EditDepartments" tabindex="1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title h4" id="myLargeModalLabel">Update Item Brand</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
                </button>
            </div>
            <form class="form-auth-small m-t-20" role="form" (ngSubmit)="onUpdate(ed)" #ed="ngForm"> 
              <div class="modal-body">             
                <div class="row clearfix">
                    <div class="col-md-8">
                        <div class="form-group">
                            <input type="text" class="form-control" [value]="durationName" placeholder="Duration" ngModel name="name" required>
                        </div>
                    </div>             
                </div>
            </div>
            <div class="modal-body">             
                <div class="row clearfix">
                    <div class="col-md-8">
                        <div class="form-group">
                            <input type="text" class="form-control" [value]="upvalue" placeholder="Value" ngModel name="value" required>
                            <input type="hidden" ngModel name="id" required>
                        </div>
                    </div>             
                </div>
            </div>
            <div class="modal-body">             
                <div class="row clearfix">
                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text">Item Type</label>
                            </div> 
                            <select class="custom-select" ngModel name="type_id"> 
                                <option value="">Select Item Type...</option>   
                                <ng-container *ngFor="let t of types">
                                    <ng-container>
                                        <option value="{{t.id}}">{{t.type_name}}</option>
                                    </ng-container>
                                </ng-container>                                                                           
                            </select>        
                        </div>
                    </div>
                    </div>             
                </div>
            </div>
            <div class="modal-body">             
                <div class="row clearfix">
                    <div class="col-md-8">
                        <div class="form-group">                      
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                  <label class="input-group-text">Status</label>
                              </div> 
                              <select class="custom-select" ngModel name="status"> 
                                  <option value="">Select Status...</option>   
                                  <ng-container>
                                      <ng-container>
                                        <option value="active">Active</option>
                                        <option value="suspend">Suspend</option>  
                                      </ng-container>
                                  </ng-container>                                                                           
                              </select>        
                          </div>                  
                          </div>
                    </div>             
                </div>
            </div>      
            <div class="modal-footer">
                <button type="submit" class="btn btn-round btn-primary">Update</button>
                <button type="button" class="btn btn-round btn-default" class="close" data-dismiss="modal" aria-label="Close">Close</button>
            </div>
            </form>
        </div>
    </div>
    </div>
  