        
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <ul class="nav nav-tabs2">
                        <li class="nav-item"><a id="vouch" class="nav-link active" data-toggle="tab" href="#payvoucher">Voucher</a></li>
                        <li class="nav-item"><a id="slip" class="nav-link" disabled="true">Payment Slip</a></li>       
                        <li class="nav-item"><a id="label" class="nav-link" disabled="true" data-toggle="tab" href="#plabel">Label</a></li>                
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="payvoucher">
                            <div class="table-responsive invoice_list mb-4">
                                <button class="float-right btn btn-default text-success"><a data-toggle="tab" class="text-success"  href="#Payslip" (click)="onPayall()">pay all</a></button>
                                <table class="table table-hover table-custom spacing8">
                                    <thead>
                                        <tr> 
                                            <th style="width: 20px;">#</th>
                                            <th style="width: 20px;">Voucher No</th>                                           
                                            <th >Service Type</th>                                            
                                            <th class="w100">Date/Time</th>                                            
                                            <th class="w60">Amount</th>
                                            <th class="w60">Discount %</th>                                            
                                            <th class="w60">Total Amount</th>
                                            <th class="w60">Paid</th>
                                            <th class="w60">Status</th>
                                            <th class="w60">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let v of roll; let r = index ">
                                            <td>
                                                <span>{{r+1}} </span>
                                            </td>  
                                            <td>{{v.id}}</td>                                         
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <!-- <div class="avtar-pic w35 bg-red" data-toggle="tooltip" data-placement="top" title="Avatar Name"><span>PH</span></div> -->
                                                    <div class="ml-3">
                                                        <a href="javascript:void(0);"  title="">{{v.module}}</a>
                                                        <!-- <p class="mb-0">{{v.br_name}}</p> -->
                                                    </div>
                                                </div>                                        
                                            </td>                                            
                                            <td>{{v.created_at}}</td>
                                            <td>{{v.amount | currency:'NGN':'symbol-narrow'}}</td>                                            
                                            <td>{{v.charges}}%</td>
                                            <td><span class="badge badge-danger ml-0 mr-0">{{v.balance | currency:'NGN':'symbol-narrow'}}</span></td>
                                            <td><span class="badge badge-success ml-0 mr-0">{{v.paid | currency:'NGN':'symbol-narrow'}}</span></td>                                            
                                            <td *ngIf="v.paid_status == 'open'"><span class="badge badge-warning ml-0 mr-0">{{v.paid_status}}</span></td>
                                            <td *ngIf="v.paid_status == 'paid'"><span class="badge badge-success ml-0 mr-0">{{v.paid_status}}</span></td>
                                            <td *ngIf="v.paid_status == 'terminate'"><span class="badge badge-danger ml-0 mr-0">Terminated</span></td>
                                            <td>
                                                <!-- invoice botton for service Charges -->
                                                <!-- <button *ngIf="v.module_id == '2'" type="button" class="btn btn-sm btn-default " title="Print" data-toggle="tooltip" data-placement="top"><a data-toggle="tab"  href="#Payslip" (click)="onPayCharges(v.id, 'slip', '#Payslip')"><i class="icon-printer"></i> Invoice</a></button> &nbsp; -->
                                                <!-- invoice botton for Pharmacy -->
                                                <button type="button" class="btn btn-sm btn-default " title="Print" data-toggle="tooltip" data-placement="top"><a data-toggle="tab"  href="#Payslip" (click)="onPay(v.id, 'slip', v.module_id, 'Payslip')"><i class="icon-printer"></i> Invoice</a></button> &nbsp;
                                               
                                                <button type="button" class="btn btn-sm btn-default" title="Label" data-placement="top" (click)="onPay(v.id, 'label')"><a class="text text-success" data-toggle="tab"  href="#plabel"><i class="icon-printer"></i> Label</a></button> &nbsp;
                                                <button type="button" class="btn btn-sm btn-default" title="councle" data-placement="top"><a class="text text-danger" data-toggle="tab" data-target="#cancelPay"  href="#EmployeeSalary"><i class="icon-trash"></i> Cancel</a></button>
                                            </td>

                                            <div class="modal fade" id="cancelPay" tabindex="-1" role="dialog">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">  
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Note !</h4>
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        </div>
                                                        <div class="modal-body">             
                                                            <div class="row  justify-content-center">
                                                                    <h6>You are about to terminate this voucher! Click on Continue Button to Proceed  </h6>     
                                                                    <small>Please Note: This action would delete the prescribed items in this voucher</small>
                                                            </div>
                                                        </div>      
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-round btn-primary" data-dismiss="modal" aria-label="Close" aria-hidden="true">Cancel</button>
                                                            <button type="button" class="btn btn-round btn-success" data-dismiss="modal" aria-label="Close" aria-hidden="true"  (click)="cancelPay(v.id)">Continue</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </tr>
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="tab-pane" id="Payslip">
                            <div class="card">
                            <div id="print-history">
                                <div class="col-md-12 col-sm-12 body">
                                    <div style="margin-left:33% ;" class="col-md-6 col-sm-6">
                                    <img width="70%" src="http://{{imgLink}}/backend/public/upload/icons/{{icon}}" alt="Check Logo" class="center"><span id="cin"></span>                                
                                    </div>                                
                                </div>                            
                                <article class="media body mb-0">
                                    <div class="mr-3">
                                        <img class="rounded" src="../assets/images/xs/avatar4.jpg" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="content">
                                            <span><strong>RX#: </strong> {{voucher_Id}}</span>
                                            <p class="h5">{{name}} {{othername}}: {{card_number}} <strong *ngIf="v_status == 'open'" class="float-right badge badge-warning">UNPAID</strong>  <strong *ngIf="v_status == 'paid'" class="float-right badge badge-success">PAID</strong></p>
                                            <p>{{address}}, {{city}}, {{state}}, {{country}}</p>
                                            <p>{{mobile_no}}</p>
                                        </div>
                                        <nav class="d-flex text-muted">
                                            <a href="javascript:void(0);" class="badge badge-primary">{{p_date}}</a>                                            
                                        </nav>
                                    </div>
                                </article>
                                <div class="row clearfix">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table class="table table-hover table-custom spacing5" *ngIf = "invoiceModule == 'pharmacy'">
                                                <thead>
                                                    <tr>
                                                        <th class="w60">#</th>
                                                        <!-- <th>Prescription Code</th> -->
                                                        <th>Item</th>
                                                        <th class="w100">Rate</th>
                                                        <th class="w100">Amount</th>
                                                        <th class="w100 text-right">Total Amount</th>
                                                    </tr>
                                                </thead>
                                                <tbody *ngIf="isEmpty !='0'">
                                                    <tr *ngFor="let i of pres; let n = index">
                                                    
                                                            <!-- <ng-container *ngIf = "i.status == 'invoice'" > -->
                                                                <td>{{n+1}}</td>
                                                                <td>
                                                                    <span>{{i.generic_name}}</span>
                                                                    <p class="hidden-sm-down mb-0 text-muted"> {{i.name}}</p>
                                                                </td>                                                    
                                                                <td>{{i.quantity}}</td>
                                                                <td class="hidden-sm-down">{{i.amount  | currency:'NGN':'symbol-narrow'}}</td>
                                                                <td class="text-right">{{i.amount_paid  | currency:'NGN':'symbol-narrow'}}</td>
                                                            <!-- </ng-container> -->
                                                        </tr>
                                                     
                                                  </tbody>
                                                  <div *ngIf="isEmpty =='0'" class="alert alert-danger" role="alert">
                                                    No Invoice
                                                </div>
                                             
                                                <div *ngIf="!inv">
                                                    <div class="spinner-grow text-primary" role="status">
                                                        <span class="sr-only">Loading...</span>
                                                    </div>
                                                    <div class="spinner-grow text-secondary" role="status">
                                                        <span class="sr-only">Loading...</span>
                                                    </div>
                                                    <div class="spinner-grow text-success" role="status">
                                                        <span class="sr-only">Loading...</span>
                                                    </div>
                                                </div> 
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="3"><span><strong>Note:</strong> Note...</span></td>
                                                        <td>
                                                          Sub Total: <br>
                                                          Discount %:<br>
                                                          Service Charge: <br>
                                                          Total: <br>
                                                      </td>
                                                      <td>
                                                          <strong class="text-success">{{amount | currency:'NGN':'symbol-narrow'}}</strong><br>
                                                          <strong class="text-warning">{{schemePercentToView}}%</strong><br>
                                                          <strong class="text-success">{{selling_price  | currency:'NGN':'symbol-narrow'}}</strong><br>
                                                          <strong class="text-success">{{afterPercentCost  | currency:'NGN':'symbol-narrow'}}</strong><br>
                                                      </td>
                                                    </tr>
                                                </tfoot>
                                            </table>

                                            <table class="table table-hover table-custom spacing5" *ngIf = "invoiceModule == 'other'">
                                                <thead>
                                                    <tr>
                                                        <th class="w60">#</th>
                                                        <th>Department</th>
                                                        <th>Service Charge Name</th>
                                                        <th class="w100">Amount</th>
                                                        <th>Less Discount</th>
                                                    </tr>
                                                </thead>
                                                <tbody *ngIf="isEmpty !='0'">
                                                    <tr *ngFor="let i of pres; let n = index">
                                                        <td>{{n+1}}</td>                                                          
                                                        <td>
                                                            <p class="hidden-sm-down mb-0 text-muted"> {{i.department}}</p>
                                                        </td> 
                                                        <td>
                                                            <p class="hidden-sm-down mb-0 text-muted"> {{i.service_charge_name}}</p>
                                                        </td>                                                        
                                                        <td *ngIf="i.insurance_status == 'enabled'" class="hidden-sm-down">{{i.amount_2 | currency:'NGN':'symbol-narrow'}}</td>
                                                        <td *ngIf="i.insurance_status != 'enabled'" class="hidden-sm-down">{{i.amount | currency:'NGN':'symbol-narrow'}}</td>
                                                       
                                                        <td class="hidden-sm-down" *ngIf="i.discount_1 != 0 && i.care_type == 'primary' && i.insurance_status != 'enabled'" >{{(100 - i.discount_1) * i.amount  /100 | currency:'NGN':'symbol-narrow'}} <span class="text-success">({{i.discount_1}}%) <i class="fa fa-caret-up"></i></span></td>
                                                        <td class="hidden-sm-down" *ngIf="i.discount_2 != 0 && i.care_type == 'secondary' && i.insurance_status != 'enabled'" >{{(100 - i.discount_2) * i.amount /100 | currency:'NGN':'symbol-narrow'}} <span class="text-success">({{i.discount_2}}%) <i class="fa fa-caret-up"></i></span></td>
                                                        <td class="hidden-sm-down" *ngIf="i.discount_3 != 0 && i.care_type == 'others' && i.insurance_status != 'enabled'" >{{(100 - i.discount_3) * i.amount  /100  | currency:'NGN':'symbol-narrow'}} <span class="text-success">({{i.discount_3}}%) <i class="fa fa-caret-up"></i></span></td>

                                                        <td class="hidden-sm-down" *ngIf="i.discount_1 != 0 && i.care_type == 'primary' && i.insurance_status == 'enabled'" >{{(100 - i.discount_1) * i.amount_2 /100 | currency:'NGN':'symbol-narrow'}} <span class="text-success">({{i.discount_1}}%) <i class="fa fa-caret-up"></i></span></td>
                                                        <td class="hidden-sm-down" *ngIf="i.discount_2 != 0 && i.care_type == 'secondary' && i.insurance_status == 'enabled'" >{{(100 - i.discount_2) * i.amount_2 /100 | currency:'NGN':'symbol-narrow'}} <span class="text-success">({{i.discount_2}}%) <i class="fa fa-caret-up"></i></span></td>
                                                        <td class="hidden-sm-down" *ngIf="i.discount_3 != 0 && i.care_type == 'others' && i.insurance_status == 'enabled'" >{{(100 - i.discount_3) * i.amount_2/100 | currency:'NGN':'symbol-narrow'}} <span class="text-success">({{i.discount_3}}%) <i class="fa fa-caret-up"></i></span></td>
                                                        <td class="hidden-sm-down" *ngIf="i.discount_1 == 0" >{{i.total_amount  | currency:'NGN':'symbol-narrow'}}  <span class="text-warning">({{i.discount_percentage}}%) <i class="fa fa-caret-down"></i></span></td>   
                                                        <!-- <td class="hidden-sm-down">{{i.total_amount  | currency:'NGN':'symbol-narrow'}}</td> -->
                                                    </tr>
                                                  </tbody>
                                                  <div *ngIf="isEmpty =='0'" class="alert alert-danger" role="alert">
                                                    No Invoice
                                                </div>
                                             
                                                <div *ngIf="!inv">
                                                    <div class="spinner-grow text-primary" role="status">
                                                        <span class="sr-only">Loading...</span>
                                                    </div>
                                                    <div class="spinner-grow text-secondary" role="status">
                                                        <span class="sr-only">Loading...</span>
                                                    </div>
                                                    <div class="spinner-grow text-success" role="status">
                                                        <span class="sr-only">Loading...</span>
                                                    </div>
                                                </div> 
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="3"><span><strong>Note:</strong> Note...</span></td>
                                                        <td>
                                                          Sub Total: <br>
                                                          Discount Amount:<br>
                                                          Total: <br>
                                                      </td>
                                                      <td>
                                                          <!-- <strong class="text-success">{{amount | currency:'NGN':'symbol-narrow'}}</strong><br> -->
                                                          <!-- <strong class="text-warning">{{schemePercentToView}}%</strong><br>
                                                          <strong class="text-success">{{afterPercentCost  | currency:'NGN':'symbol-narrow'}}</strong><br> -->
                                                          <strong class="text-secondary">{{footerSubTotal | currency:'NGN':'symbol-narrow'}}</strong><br>
                                                          <strong class="text-warning">{{footerDiscountAmount | currency:'NGN':'symbol-narrow'}}</strong><br>
                                                          <strong class="text-success">{{footerTotal  | currency:'NGN':'symbol-narrow'}}</strong><br>
                                                      </td>
                                                    </tr>
                                                </tfoot>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                                <div class="row clearfix">
                                    <div class="col-md-12 text-right">
                                        <button *ngIf="v_status== 'open'" class="btn btn-danger" [hidden]="dept!='11'" data-toggle="modal" data-target="#payment"><i class="icon-cash"></i> Payment</button> &nbsp;
                                        <button *ngIf="v_status == 'paid' || v_status == 'terminate'" disabled class="btn btn-success" [hidden]="dept!='11'"><i class="icon-cash"></i> Payment</button> &nbsp;
                                        <button class="btn btn-info" (click)="printComponent()"><i class="icon-printer"></i> Print</button> &nbsp;
                                        <button class="btn btn-success" [hidden]="dept!='11'"  [routerLink]="['/Admin', {outlets: {side: ['invoice',voucher_Id]}}]"><i class="icon-printer"></i> Reciept</button>
                                    </div>
                                </div> 


                                 <!-- Default Size -->
                                <div class="modal fade" id="payment" tabindex="1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title h4" id="myLargeModalLabel">Select Payment Method</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <form class="form-auth-small m-t-20"  role="form" (ngSubmit)="onPaid(ed)" #ed="ngForm"> 
                                                <div class="modal-body">             
                                                    <div class="row clearfix">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label>Payment Method</label>
                                                                <select class="form-control show-tick" ngModel name="method">
                                                                    <option>--Select Status--</option>
                                                                    <option value="cash">Cash Payment</option>
                                                                    <option value="pos">Pay with POS</option>  
                                                                    <option value="wallet">Pay From Wallet</option> 
                                                                </select>                                                         
                                                            </div>
                                                            <div class="form-group">
                                                                <label>To Pay</label>
                                                                  <input type="text" class="form-control" placeholder="Payment" (keyup)="apartTablet($event)" value="{{amountPaid}}" ngModel name="topay" required>
                                                              </div>
                                                              <div class="form-group">
                                                                <label>Balance</label>
                                                                  <input type="text" disabled class="form-control" placeholder="0" value="{{balanceAmount | currency:'NGN':'symbol-narrow'}}" [ngModelOptions]="{standalone: true}" ngModel required>
                                                              </div>
                                                        </div>                                                               
                                                    </div>
                                                </div>                                                
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-round btn-primary">Pay<i *ngIf="disabled" class="fa fa-spin fa-spinner"></i></button>
                                                <button type="button" class="btn btn-round btn-default" class="close" data-dismiss="modal" aria-label="Close">Close</button>
                                            </div>
                                            </form>
                                        </div>
                                    </div>
                                    </div>



                            </div>
                        </div>









    <div *ngIf="payall" class="tab-pane" id="Payslip2">
    <div *ngFor="let pay of payall.original">
    <div class="card">
    <div id="print-history">
    <div class="col-md-12 col-sm-12 body">
    <div style="margin-left:33% ;" class="col-md-6 col-sm-6">
    <img width="70%" src="http://{{imgLink}}/backend/public/upload/icons/{{icon}}" alt="Check Logo" class="center"><span id="cin"></span>                                
    </div>                                
    </div>                            
    <article class="media body mb-0">
    <div class="mr-3">
    <img class="rounded" src="../assets/images/xs/avatar4.jpg" alt="">
    </div>
    <div class="media-body">
    <div class="content">
    <span><strong>RX#: </strong> {{voucher_Id}}</span>
    <p class="h5">{{name}} {{othername}}: {{card_number}} <strong *ngIf="v_status == 'open'" class="float-right badge badge-warning">UNPAID</strong>  <strong *ngIf="v_status == 'paid'" class="float-right badge badge-success">PAID</strong></p>
    <p>{{address}}, {{city}}, {{state}}, {{country}}</p>
    <p>{{mobile_no}}</p>
    </div>
    <nav class="d-flex text-muted">
    <a href="javascript:void(0);" class="badge badge-primary">{{p_date}}</a>                                            
    </nav>
    </div>
    </article>
    <div class="row clearfix">
    <div class="col-md-12">
    <div class="table-responsive">
    <table class="table table-hover table-custom spacing5">
    <thead>
    <tr>
        <th class="w60">#</th>
        <!-- <th>Prescription Code</th> -->
        <th>Item</th>
        <th class="w100">Rate</th>
        <th class="w100">Amount</th>
        <th class="w100 text-right">Total Amount</th>
    </tr>
    </thead>
    <tbody *ngIf="isEmpty !='0'">
    <tr *ngFor="let i of pres; let n =index">

            <!-- <ng-container *ngIf = "i.status == 'invoice'" > -->
                <td>{{n+1}}</td>
                <td>
                    <span>{{i.generic_name}}</span>
                    <p class="hidden-sm-down mb-0 text-muted"> {{i.name}}</p>
                </td>                                                    
                <td>{{i.quantity}}</td>
                <td class="hidden-sm-down">{{i.amount  | currency:'NGN':'symbol-narrow'}}</td>
                <td class="text-right">{{i.amount_paid  | currency:'NGN':'symbol-narrow'}}</td>
            <!-- </ng-container> -->
        </tr>
        
    </tbody>
    <div *ngIf="isEmpty =='0'" class="alert alert-danger" role="alert">
    No Invoice
    </div>

    <div *ngIf="!inv">

    <div class="spinner-grow text-primary" role="status">
    <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-secondary" role="status">
    <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-success" role="status">
    <span class="sr-only">Loading...</span>
    </div>
    </div> 
    <tfoot>
    <tr>
        <td colspan="3"><span><strong>Note:</strong> Note...</span></td>
        
        <td>
            Sub Total: <br>
            Discount %:<br>
            Service Charge: <br>
            Total: <br>
        </td>
        <td>
            <strong class="text-success">{{amount | currency:'NGN':'symbol-narrow'}}</strong><br>
            <strong class="text-warning">{{schemePercentToView}}%</strong><br>
            <strong class="text-success">{{selling_price  | currency:'NGN':'symbol-narrow'}}</strong><br>
            <strong class="text-success">{{afterPercentCost  | currency:'NGN':'symbol-narrow'}}</strong><br>
        </td>
    </tr>

    </tfoot>
    </table>
    </div>
    </div>
    </div>
    </div>
    <div class="row clearfix">
    <div class="col-md-12 text-right">
    <button *ngIf="v_status== 'open'" class="btn btn-danger" [hidden]="dept!='11'" data-toggle="modal" data-target="#payment"><i class="icon-cash"></i> Payment</button> &nbsp;
    <button *ngIf="v_status == 'paid' || v_status == 'terminate'" disabled class="btn btn-success" [hidden]="dept!='11'"><i class="icon-cash"></i> Payment</button> &nbsp;
    <button class="btn btn-info" (click)="printComponent()"><i class="icon-printer"></i> Print</button> &nbsp;
    <button class="btn btn-success" [hidden]="dept!='11'"  [routerLink]="['/Admin', {outlets: {side: ['invoice',voucher_Id]}}]"><i class="icon-printer"></i> Reciept</button>
    </div>
    </div> 


    <!-- Default Size -->
    <div class="modal fade" id="payment" tabindex="1" role="dialog">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
    <h5 class="modal-title h4" id="myLargeModalLabel">Select Payment Method</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">×</span>
    </button>
    </div>
    <form class="form-auth-small m-t-20"  role="form" (ngSubmit)="onPaid(ed)" #ed="ngForm"> 
    <div class="modal-body">             
    <div class="row clearfix">
    <div class="col-md-12">
    <div class="form-group">
        <label>Payment Method</label>
        <select class="form-control show-tick" ngModel name="method">
            <option>--Select Status--</option>
            <option value="cash">Cash Payment</option>
            <option value="pos">Pay with POS</option>  
            <option value="wallet">Pay From Wallet</option> 
        </select>                                                         
    </div>
    <div class="form-group">
        <label>To Pay</label>
            <input type="text" class="form-control" placeholder="Payment" (keyup)="apartTablet($event)" value="{{amountPaid}}" ngModel name="topay" required>
        </div>
        <div class="form-group">
        <label>Balance</label>
            <input type="text" disabled class="form-control" placeholder="0" value="{{balanceAmount | currency:'NGN':'symbol-narrow'}}" ngModel required>
        </div>
    </div>                                                               
    </div>
    </div>                                                
    <div class="modal-footer">
    <button type="submit" class="btn btn-round btn-primary">Pay<i *ngIf="disabled" class="fa fa-spin fa-spinner"></i></button>
    <button type="button" class="btn btn-round btn-default" class="close" data-dismiss="modal" aria-label="Close">Close</button>
    </div>
    </form>
    </div>
    </div>
    </div>
    </div>
    </div>
</div>
























                        <div class="tab-pane" id="plabel">
                            <div class="card">


                                <div class="container-fluid">
                                    <div class="block-header">
                                        <div class="row clearfix">
                                            <div class="col-md-6 col-sm-12">
                                                <!-- <h2>Label Table</h2>  <strong>Invoice Status: </strong><span *ngIf = "invoice == 'unpaid'" class="badge badge-danger">{{invoice}}</span> <span *ngIf = "invoice == 'paid'" class="badge badge-success">{{invoice}}</span> -->
                                                <nav aria-label="breadcrumb">
                                                    <ol class="breadcrumb">                    
                                                    <li class="breadcrumb-item active" aria-current="page">The following lable description would be printable immediately after payment</li>
                                                    </ol>
                                                </nav>
                                            </div>            
                                            <div class="col-md-6 col-sm-12 text-right">
                                                <button class="btn btn-sm btn-primary btn-round" title="End process after label is printed" *ngIf = "status == 'invoice'" disabled><i class="fa fa-hourglass-end fa fa-spin fa-spinner"></i>End Process</button>
                                                <button class="btn btn-sm btn-primary btn-round"  (click)="closeAppointment()" title="End process after label is printed"*ngIf = "status == 'paid'"><i class="icon-printer"></i>End Process</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-lg-12">
                                            <div class="table-responsive invoice_list mb-4">
                                                <table class="table table-hover table-custom spacing8">
                                                    <thead>
                                                        <tr> 
                                                            <th style="width: 20px;">#</th>
                                                            <th>Client</th>
                                                            <th style="width: 50px;">Amount</th>
                                                            <!-- <th style="width: 50px;">Status</th> -->
                                                            <th style="width: 110px;">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody *ngIf="isEmpty !='0'">
                                                        <tr *ngFor="let i of pres; let n =index">
                                                            <!-- <ng-container *ngIf = "i.status == 'paid'" > -->
                                                                <td>
                                                                        <span>{{n+1}}</span>
                                                                    </td>
                                                                    <td>
                                                                        <div class="d-flex align-items-center">
                                                                                <img src="https://{{imgLink}}/backend/public/upload/uploads/{{i.item_img}}" data-toggle="tooltip" data-placement="top" title="Avatar Name" alt="Avatar" class="w35 h35 rounded">
                                                                                <div class="ml-3">
                                                                                <a href="javascript:void(0);" title="{{i.generic_name}} ">{{i.generic_name}}</a>
                                                                                <p class="mb-0">{{i.name}}</p>
                                                                            </div>
                                                                        </div>                                        
                                                                    </td>
                                                                    <td>{{i.amount  | currency:'NGN':'symbol-narrow'}}</td>
                                                                    <!-- <td><span class="badge badge-success ml-0 mr-0">{{appointments[0].invoice}}</span></td> -->
                                                                    <td>
                                                                        <!-- <button type="button" class="btn btn-sm btn-default" title="Send Invoice" data-toggle="tooltip" data-placement="top"><i class="icon-envelope"></i></button> -->
                                                                        <button type="button" class="btn btn-sm btn-danger" *ngIf = "v_status != 'paid'" disabled title="Print Label" ><i class="icon-printer"></i></button>
                                                                        <button type="button" class="btn btn-sm btn-success" *ngIf = "v_status == 'paid'" (click)="openPrintDialogue(i.id)" title="Print Label" data-toggle="tooltip" data-placement="top"><i class="icon-printer"></i></button>
                                                                        <!-- <button type="button" class="btn btn-sm btn-default" title="Delete" data-toggle="tooltip" data-placement="top"><i class="icon-trash"></i></button> -->
                                                                    </td>
                                                            <!-- </ng-container> -->
                                                        </tr>
                                                       
                                                    </tbody>
                                                    <div *ngIf="isEmpty =='0'" class="alert alert-danger" role="alert">
                                                        No Label
                                                    </div>
                                                 
                                                    <div *ngIf="!inv">
                                                        
                                                        <div class="spinner-grow text-primary" role="status">
                                                        <span class="sr-only">Loading...</span>
                                                    </div>
                                                <div class="spinner-grow text-secondary" role="status">
                                        <span class="sr-only">Loading...</span>
                                        </div>
                                        <div class="spinner-grow text-success" role="status">
                                        <span class="sr-only">Loading...</span>
                                        </div>
                                                      </div> 
                                                </table>
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>


                    </div>            
                </div>
            </div>
        </div>
    <!-- </div>

  </div> 
   -->
  


