<div id="main-content">
  <div class="container-fluid">
      <div class="block-header">
          <div class="row clearfix">
              <div class="col-md-6 col-sm-12">
                  <h1>Add Process Properties</h1>
                  <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                      <!-- <li class="breadcrumb-item"><a href="index.html">Hospital</a></li> -->
                      <li class="breadcrumb-item active" aria-current="page">Process Properties</li>
                      </ol>
                  </nav>
              </div>            
          </div>
      </div>

      <div class="row clearfix">
        <div class="body col-12">
          <ul class="nav nav-tabs2">
              <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#properties">Properties</a></li>
              <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#attributes">Attributes</a></li>
              <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#values">Values</a></li>
              <li class="nav-item" (click)="fetchForms()"><a class="nav-link" data-toggle="tab" href="#forms">Form</a></li>

              <!-- <li class="nav-item"><button class="bth btn-primary" data-toggle="modal" data-target="#formTesting"  >Values</button></li> -->

            </ul>
          <hr>
          <div class="tab-content">
              <!-- Properties display start here -->
              <div class="tab-pane vvivify fadeIn delay-100 active" id="properties">
                <div class="col-sm-12 col-lg-12">
                  <div class="row text-right ">
                    <input type="search" id="propertiesSearch" class="col-6 form-control" placeholder="search.....">
                  <span class="col-6"><button class="btn btn-sm btn-primary float-right" title="" data-toggle="modal" data-target="#AddProperty">Add Property</button></span>
                  </div>
                  <div class="table-responsive">
                      <table class="table table-hover table-custom spacing8">
                          <thead>
                              <tr> 
                                  <th>#</th>
                                  <th>Property</th>
                                  <th>Position</th>
                                  <th>Created By</th>
                                  <th>Updated By</th>
                                  <th>Date & Time</th>
                                  <th>Status</th>
                                  <th>Action</th>
                              </tr>
                          </thead>
                          <tbody id="searchproperties">
                              <tr *ngFor="let prop of process_properties; let r = index">
                                  <td>
                                      {{r+1}}
                                  </td>                              
                                  <td style="color: #17C2D7;">{{prop.property}}</td>
                                  <td>{{prop.dept_name}}</td>
                                  <td>{{prop.firstname}} {{prop.lastname}}</td>    
                                  <td>{{prop.firstname}} {{prop.lastname}}</td>      
                                  <td>{{prop.created_at}} </td>                         
                                  <td>
                                    <span class="badge badge-success" *ngIf ="prop.status=== 'active'">Active</span>
                                    <span class="badge badge-danger" *ngIf ="prop.status=== 'suspend'">Suspend</span>                                   
                                  </td>                       
                                  <td>
                                      <button type="button" class="btn btn-default btn-sm" style="color: blue;" title="Edit" data-toggle="modal" data-target="#EditProperty" (click)="editProperty(prop.id)"><i class="fa fa-pencil"></i></button>
                                      <button type="button" class="btn btn-default btn-sm" style="color: red;" title="Delete" data-toggle="modal" (click)="onDeleteProp(prop.id)"><i class="fa fa-trash-o"></i></button>
                                  </td>
                              </tr>  
                              <div *ngIf="!process_properties">
                                  <div class="spinner-grow text-primary" role="status">
                                  <span class="sr-only">Loading...</span>
                              </div>
                              <div class="spinner-grow text-secondary" role="status">
                                <span class="sr-only">Loading...</span>
                              </div>
                              <div class="spinner-grow text-success" role="status">
                                <span class="sr-only">Loading...</span>
                              </div>
                              </div>                                                 
                          </tbody>
                      </table>
                  </div>
              </div>
              </div>
              <!-- Properties display start here -->

              <!-- Attributes display start here  -->
              <div class="tab-pane vivify fadeIn delay-100" id="attributes">
                <div class="col-sm-12 col-lg-12">
                  <div class="row text-ri">
                    <input type="search" class="col-6 form-control" id="atributtesSearch" placeholder="search.....">
                    <span class="col-6"><button class="btn btn-sm btn-primary float-right" title="" data-toggle="modal" data-target="#AddAttr">Add Attribute</button></span>
                  </div>
                  <div class="table-responsive">
                      <table class="table table-hover table-custom spacing8">
                          <thead>
                              <tr> 
                                  <th>#</th>
                                  <th>Attribute Name</th>
                                  <th>Attribute Description</th>
                                  <th>Process Property</th>
                                  <th>Created By</th>
                                  <th>Updated By</th>
                                  <th>Date & Time</th>
                                  <th>Status</th>
                                  <th>Action</th>
                              </tr>
                          </thead>
                          <tbody id="searchattribute">
                              <tr *ngFor="let propAttr of processAttributes; let r = index">
                                  <td>
                                      {{r+1}}
                                  </td>                              
                                  <td style="color: #17C2D7;">{{propAttr.attribute}}</td>
                                  <td>{{propAttr.description}}</td>
                                  <td>{{propAttr.property}}</td>
                                  <td>{{propAttr.firstname}} {{propAttr.lastname}}</td>    
                                  <td>{{propAttr.firstname}} {{propAttr.lastname}}</td>      
                                  <td>{{propAttr.created_at}} </td>                         
                                  <td>
                                    <span class="badge badge-success" *ngIf ="propAttr.status=== 'active'">Active</span>
                                    <span class="badge badge-danger" *ngIf ="propAttr.status=== 'suspend'">Suspend</span>                                   
                                  </td>                       
                                  <td>
                                      <button type="button" class="btn btn-default btn-sm" style="color: blue;" title="Edit" data-toggle="modal" data-target="#EditAttribute" (click)="editAttribute(propAttr.id)"><i class="fa fa-pencil"></i></button>
                                      <button type="button" class="btn btn-default btn-sm" style="color: red;" title="Delete" data-toggle="modal" (click)="onDeleteAttr(propAttr.id)"><i class="fa fa-trash-o"></i></button>
                                  </td>
                              </tr>  
                              <div *ngIf="!processAttributes">
                                  <div class="spinner-grow text-primary" role="status">
                                  <span class="sr-only">Loading...</span>
                              </div>
                              <div class="spinner-grow text-secondary" role="status">
                                <span class="sr-only">Loading...</span>
                              </div>
                              <div class="spinner-grow text-success" role="status">
                                <span class="sr-only">Loading...</span>
                              </div>
                              </div>                                                 
                          </tbody>
                      </table>
                  </div>
              </div>
            </div>
            <!-- Attributes display end here -->


            <!-- Values display start here -->
            
            <div class="tab-pane vivify fadeIn delay-100" id="values">
              <div class="col-sm-12 col-lg-12">
                <div class="col-sm-12 col-lg-12">
                  <div class="col-12 text-right">
                    <input type="search" id="valueSearch" class="col-6 form-control" placeholder="Search......" >
                    <button class="btn btn-sm btn-primary float-right" title="" data-toggle="modal" data-target="#AddValue">Add Values</button>
                  </div>
                  <div class="table-responsive">
                      <table class="table table-hover table-custom spacing8">
                          <thead>
                              <tr> 
                                  <th>#</th>
                                  <th>Value Name</th>
                                  <th>Process Attribute</th>
                                  <th>Value Description</th>
                                  <th>Created By</th>
                                  <th>Updated By</th>
                                  <th>Date & Time</th>
                                  <th>Status</th>
                                  <th>Action</th>
                              </tr>
                          </thead>
                          <tbody id="searchValues">
                            <ng-container *ngFor="let propVal of processValues; let r = index">
                              <tr>
                                  <td>
                                      {{r+1}}
                                  </td>                              
                                  <td style="color: #17C2D7;" data-toggle="modal" title="add properties" data-target="#Pulse" (click)="value(propVal.id)">{{propVal.value}}</td>
                                  <td>{{propVal.attribute}}</td>
                                  <td>{{propVal.description}}</td>
                                  <td>{{propVal.firstname}} {{propVal.lastname}}</td>    
                                  <td>{{propVal.firstname}} {{propVal.lastname}}</td>      
                                  <td *ngFor="let test of propVal.value_body"> <span>{{test}}</span></td>                         
                                  <td>
                                    <span class="badge badge-success" *ngIf ="propVal.status=== 'active'">Active</span>
                                    <span class="badge badge-danger" *ngIf ="propVal.status=== 'suspend'">Suspend</span>                                   
                                  </td>                       
                                  <td>
                                      <button type="button" class="btn btn-default btn-sm" style="color: blue;" title="Edit" data-toggle="modal" data-target="#EditProcessValue" (click)="editProcessValue(propVal.id)"><i class="fa fa-pencil"></i></button>
                                      <button type="button" class="btn btn-default btn-sm" style="color: red;" title="Delete" data-toggle="modal" (click)="onDeletePropVal(propVal.id)"><i class="fa fa-trash-o"></i></button>
                                  </td>
                              </tr>
                            </ng-container>
                              <div *ngIf="!processValues">
                                  <div class="spinner-grow text-primary" role="status">
                                  <span class="sr-only">Loading...</span>
                              </div>
                              <div class="spinner-grow text-secondary" role="status">
                                <span class="sr-only">Loading...</span>
                              </div>
                              <div class="spinner-grow text-success" role="status">
                                <span class="sr-only">Loading...</span>
                              </div>
                              </div>                                                 
                          </tbody>
                      </table>
                  </div>
              </div>
              </div>
            </div>
            <!-- Values display end here -->
            <div class="tab-pane vivify fadeIn delay-100" id="forms">
              <div class="row clearfix">
                <div  class="col-lg-2 col-md-4 col-sm-6" *ngFor="let form of testingform">
                    <button class="modal-title  h4 btn btn-default" id="myLargeModalLabel" (click)="formValue(form.id)">{{form.attribute}}</button>     
            </div>
          </div>
              <form class="form-auth-small m-t-20" role="form" (ngSubmit)="onSaveTestingProcessValue(valuepayload2)" #valuepayload2="ngForm">              
                  <div class="row clearfix">
                      <!-- <div class="col-md-6"> -->
                        <div class="form-group">
                          <div class="input-group mb-3" *ngFor="let fr of form_res">
                              <div class="input-group-prepend mb-3">
                                  <label class="input-group-text">{{fr.value}}</label>
                              </div>
                              <ng-container *ngIf="fr.value_type == 'number' || fr.value_type == 'text'">
                                <input class="form-control col-lg-6" ngModel type="{{fr.value_type}}" name="{{fr.value}}" value="{{fr.value_option}}"  [matAutocomplete]="auto">
                                <mat-autocomplete #auto="matAutocomplete" >
                                  <mat-option *ngFor="let street of fr.suggestion" [value]="street" >
                                   {{street}} 
                                  </mat-option>
                              </mat-autocomplete> 
                              <ng-container *ngFor="let ops of fr.options">
                                <div class="input-group mb-3 col-lg-6">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text">{{ops}}</label>
                                    </div> 
                                    <textarea class="form-control" ngModel name="ops" style="border: none; border-bottom: solid grey 1px;background-color: inherit;outline: none;color:white"></textarea>
                                </div>
                            </ng-container>  
                              </ng-container>
                    
                              <ng-container *ngIf="fr.value_type == 'radio' || fr.value_type == 'checkbox'">
                                <div  *ngIf="fr.value_type == 'radio'">
                                  <ng-container  *ngFor="let rad of fr.value_options">
                                    <div  class="col-lg-1 mr-2">
                                      <!-- name="{{fr.value}}" -->
                                      <label class="fancy-radio custom-color-green"><input type="radio"   ngModel name="{{fr.value}}"  value="{{rad}}" ><span><i></i>{{rad}}</span></label>
                                      <!-- {{rad}} <input type="{{fr.value_type}}" ngModel name="gender" value="male"> -->
                                    </div>
                                 </ng-container>
                                </div>
                                <div  *ngIf="fr.value_type == 'checkbox'">
                                  <ng-container  *ngFor="let rad of fr.value_options">
                                    <div  class="col-lg-1 mr-2">
                                      {{rad}} <input   type="checkbox" ngModel name="{{rad}}"  value="{{rad}}">
                                    </div>
                                 </ng-container>
                                </div>
                             <!-- <div *ngIf="fr.value_type == 'checkbox'" class="col-lg-1 mr-2">
                              {{rad}} <input   type="{{fr.value_type}}" ngModel name="{{rad}}" value="{{rad}}">
                            </div> -->
                                <ng-container *ngFor="let ops of fr.options">
                                    <div class="input-group mb-3 col-lg-6">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text">{{ops}}</label>
                                        </div> 
                                        <textarea class="form-control" ngModel name="{{ops}}" style="border: none; border-bottom: solid grey 1px;background-color: inherit;outline: none;color:white"></textarea>
                                    </div>
                                </ng-container>
                              </ng-container>
                          </div>
                        </div>
                      <!-- </div>              -->
                  </div>
              <div>
                  <button type="submit" class="btn btn-round btn-primary">Add<i *ngIf="disabled" class="fa fa-spin fa-spinner"></i></button>
                  <button type="button" class="btn btn-round btn-default" data-toggle="modal">Close</button>
              </div>
              </form>
            </div>
            <div *ngIf="datas">
              <ng-container *ngFor="let val of datas.value_option">
                <div class="input-group mb-3 col-lg-6">
                  <div class="input-group-prepend">
                      <label class="input-group-text">{{val[0]}}</label>
                  </div> 
                  <input *ngIf="val[1] != true" type="text" disabled value="{{val[1]}}" name="" style="width: auto;" id="">
                  <label *ngIf="val[1] == true" class="fancy-checkbox mt-3">
                    <input class="checkbox-tick" type="checkbox" (click)="check(mod.id,'write')" checked>
                    <span></span>
                </label>
                <label *ngIf="val[1] == ''" class="fancy-checkbox mt-3">
                  <input class="checkbox-tick" type="checkbox" (click)="check(mod.id,'write')" >
                  <span></span>
              </label>

              </div>
              </ng-container>

            </div>

          </div>
      </div>
    </div>
  </div>
  
         
      </div>



<!-- Populate Value -->
<div class="modal fade" id="Pulse" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title h4" id="myLargeModalLabel">Populate Value</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
            </button>
        </div>    
        <form class="form-auth-small m-t-20" role="form"  (ngSubmit)="onSaveProcessValues(populatevalue)" #populatevalue="ngForm"> 
          <div class="modal-body">             
            <div class="row clearfix">
                <div class="col-md-8">
                    <div class="form-group">                      
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <label class="input-group-text">Value Type</label>
                          </div> 
                          <select class="custom-select text-light" [(ngModel)]="value_type" name="value_type"> 
                              <option value="">--Select value type</option>
                              <option value="number">Number input</option>
                              <option value="text">Text input</option>
                              <option value="textarea">Textarea</option>
                              <option value="radio">Radio input</option>
                              <option value="checkbox">Checkbox input</option>
                              <option value="table">Table</option>
                          </select>       
                      </div>                  
                      </div>
                </div>             
            </div>
        </div>  
        

        <div *ngIf="value_type == 'number' || value_type == 'text' || value_type == 'textarea'" class="modal-body">             
          <div class="row clearfix">
              <div class="col-md-8">
                  <div class="form-group">                      
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text">Default value</label>
                        </div> 
                        <input type="text" class="form-control"  placeholder="Value" [(ngModel)]="value_option" name="value_option">      
                        <!-- <textarea   style="background-color: inherit;color: white;" ></textarea> -->
                      </div>                  
                    </div>
              </div>             
          </div>
      </div> 
      <div  *ngIf="value_type == 'radio' || value_type == 'checkbox'"  class="modal-body">             
        <div class="row clearfix">
            <div class="col-md-8">
                <div class="form-group">                      
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                          <label class="input-group-text">Value Option</label>
                      </div> 
                      <input type="text" class="form-control"  placeholder="Value" [(ngModel)]="value_options" name="value_options">      
                      <!-- <textarea   style="background-color: inherit;color: white;" ></textarea> -->
                    </div>                  
                  </div>
            </div>             
        </div>
    </div> 
      <div *ngIf="value_type == 'number'" class="modal-body">             
        <div class="row clearfix">
            <div class="col-md-8">
                <div class="form-group">                      
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                          <label class="input-group-text">Normal range</label>
                      </div> 
                      <input type="text" class="form-control text-light" name="normal_range" [(ngModel)]="normal_range">      
                  </div>                  
                  </div>
            </div>             
        </div>
    </div> 
    <div *ngIf="value_type == 'number'" class="modal-body">             
      <div class="row clearfix">
          <div class="col-md-8">
              <div class="form-group">                      
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text">Unit</label>
                    </div> 
                   <input type="text" class="form-control text-light" name="unit" [(ngModel)]="unit">
     
                </div>                  
                </div>
          </div>             
      </div>
  </div> 
  <div  *ngIf="value_type == 'radio' || value_type == 'checkbox'" class="modal-body">             
    <div class="row clearfix">
        <div class="col-md-8">
            <div class="form-group">                      
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                      <label class="input-group-text">Comment</label>
                  </div> 
                  <select class="custom-select text-light" [(ngModel)]="comment" name="comment"> 
                      <option value="">--Select if comment</option>
                      <option value="text">Yes</option>
                      <option value="no">No</option>
                  </select>       
              </div>                  
              </div>
        </div>             
    </div>
</div>  
<div  *ngIf="value_type == 'radio' || value_type == 'checkbox' || value_type == 'table' " class="modal-body">             
  <div class="row clearfix">
      <div class="col-md-8">
          <div class="form-group">                      
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text">Options</label>
                </div> 
                <div class="body row">
                  <div class="input-group  demo-tagsinput-area col-12"  id="options" >
                      <!-- <input type="text"    data-role="tagsinput"  value="Washington,Beijing,Cairo,Taiwoa" > -->
                  <textarea  name="options" [(ngModel)]="options" style="background-color: inherit; color: white;"></textarea>
                    </div>
                      
              </div> 
            </div>                  
            </div>
      </div>             
  </div>
</div> 
  <div class="modal-body">             
    <div class="row clearfix">
        <div class="col-md-8">
            <div class="form-group">                      
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                      <label class="input-group-text">Sugestions</label>
                  </div> 
                  <div class="body row">
                    <div class="input-group  demo-tagsinput-area col-12"  id="sugestion" >
                        <!-- <input type="text"    data-role="tagsinput"  value="Washington,Beijing,Cairo,Taiwoa" > -->
                    <textarea  name="sugestion" [(ngModel)]="sugestion" style="background-color: inherit; color: white;"></textarea>
                      </div>
                        
                </div> 
              </div>                  
              </div>
        </div>             
    </div>
</div> 
        <div class="modal-footer">
          <button type="submit" class="btn btn-round btn-primary">Add<i *ngIf="disabled" class="fa fa-spin fa-spinner"></i></button>
          <button type="button" class="btn btn-round btn-default" data-toggle="modal">Close</button>
      </div>    
        </form>    
      </div>
    </div>
  </div>
     
                         



<!-- Add Property -->
<div class="modal fade" id="AddProperty" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title h4" id="myLargeModalLabel">Add Process Property</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
            </button>
        </div>
        <form class="form-auth-small m-t-20" role="form" (ngSubmit)="onSaveProcessProp(propertiespayload)" #propertiespayload="ngForm"> 
  
          <div class="modal-body">             
            <div class="row clearfix">
                <div class="col-md-8">
                  <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text">Process Modules</label>
                        </div> 
                        <select class="custom-select"  ngModel name="position_id"> 
                            <option value="">-- Select Process Module--</option>   
                            <ng-container *ngFor="let pm of processModules">
                                <ng-container>
                                    <option value="{{pm.id}}" >{{pm.position_name}}</option>
                                </ng-container>
                            </ng-container>                                                                           
                        </select>     
                    </div>
                  </div>
                </div>             
            </div>
          </div>
  
        <div class="modal-body">             
            <div class="row clearfix">
                <div class="col-md-8">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Input Property Name" ngModel name="property" required>
                    </div>
                </div>             
            </div>
        </div>
  
        <div class="modal-body">             
            <div class="row clearfix">
                <div class="col-md-8">
                    <div class="form-group">                      
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <label class="input-group-text">Status</label>
                          </div> 
                          <select class="custom-select" ngModel name="status"> 
                              <option value="">-- Select Status --</option>   
                              <ng-container>
                                  <ng-container>
                                    <option value="active">Active</option>
                                    <option value="suspend">Suspend</option>  
                                  </ng-container>
                              </ng-container>                                                                           
                          </select>        
                      </div>                  
                      </div>
                </div>             
            </div>
        </div>      
        <div class="modal-footer">
            <button type="submit" class="btn btn-round btn-primary">Add<i *ngIf="disabled" class="fa fa-spin fa-spinner"></i></button>
            <button type="button" class="btn btn-round btn-default" data-toggle="modal">Close</button>
        </div>
        </form>
    </div>
  </div>
  </div>

<!-- Edit Property -->
  <div class="modal fade" id="EditProperty" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title h4" id="myLargeModalLabel">Edit Process Property</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
              </button>
          </div>
          <form class="form-auth-small m-t-20" role="form" (ngSubmit)="onEditProperty(edit1)" #edit1="ngForm">     
          <div class="modal-body">             
              <div class="row clearfix">
                  <div class="col-md-8">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Name" [(ngModel)]="propertyName" ngModel name="propertyName">
                      </div>
                  </div>             
              </div>
          </div>      
          <div class="modal-footer">
              <button type="submit" class="btn btn-round btn-primary">Update<i *ngIf="disabled" class="fa fa-spin fa-spinner"></i></button>
              <button type="button" class="btn btn-round btn-default" data-toggle="modal">Close</button>
          </div>
          </form>
      </div>
    </div>
    </div>
  
  <!-- Add Attribute -->
<div class="modal fade" id="AddAttr" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title h4" id="myLargeModalLabel">Add Process Attribute</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
            </button>
        </div>
        <form class="form-auth-small m-t-20" role="form" (ngSubmit)="onSaveProcessAttribute(attributepayload)" #attributepayload="ngForm"> 
          <div class="modal-body">             
            <div class="row clearfix">
                <div class="col-md-8">
                  <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text">Process Property</label>
                        </div> 
                        <select class="custom-select" ngModel name="process_id"> 
                            <option value="">-- Select Property--</option>   
                            <ng-container *ngFor="let apro of process_properties">
                                <ng-container>
                                    <option value="{{apro.id}}">{{apro.property}}</option>
                                </ng-container>
                            </ng-container>                                                                           
                        </select>        
                    </div>
                  </div>
                </div>             
            </div>
          </div>
          <div class="modal-body">             
            <div class="row clearfix">
                <div class="col-md-8">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Input Attribute Name" ngModel name="attribute" required>
                    </div>
                </div>             
            </div>
        </div>

          <div class="modal-body">             
              <div class="row clearfix">
                  <div class="col-md-8">
                      <div class="form-group">
                          <input type="text" class="form-control" placeholder="Input Attribute Description" ngModel name="description" required>
                      </div>
                  </div>             
              </div>
          </div>
  
        <div class="modal-body">             
            <div class="row clearfix">
                <div class="col-md-8">
                    <div class="form-group">                      
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <label class="input-group-text"> Attribute Status</label>
                          </div> 
                          <select class="custom-select" ngModel name="status"> 
                              <option value="">-- Select Status --</option>   
                              <ng-container>
                                  <ng-container>
                                    <option value="active">Active</option>
                                    <option value="suspend">Suspend</option>  
                                  </ng-container>
                              </ng-container>                                                                           
                          </select>        
                      </div>                  
                      </div>
                </div>             
            </div>
        </div>      
        <div class="modal-footer">
            <button type="submit" class="btn btn-round btn-primary">Add<i *ngIf="disabled" class="fa fa-spin fa-spinner"></i></button>
            <button type="button" class="btn btn-round btn-default" data-toggle="modal">Close</button>
        </div>
        </form>
    </div>
  </div>
  </div>

  <!-- Edit Attribute -->
  <div class="modal fade" id="EditAttribute" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title h4" id="myLargeModalLabel">Edit Process Attribute</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
              </button>
          </div>
          <form class="form-auth-small m-t-20" role="form" (ngSubmit)="onEditAttribute(edit2)" #edit2="ngForm">     
          <div class="modal-body">             
              <div class="row clearfix">
                  <div class="col-md-8">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Name" [(ngModel)]="attributeName" ngModel name="attributeName">
                        <input type="text" class="form-control" placeholder="Description" [(ngModel)]="attributeDesc" ngModel name="attributeDesc">
                      </div>
                  </div>             
              </div>
          </div>      
          <div class="modal-footer">
              <button type="submit" class="btn btn-round btn-primary">Update<i *ngIf="disabled" class="fa fa-spin fa-spinner"></i></button>
              <button type="button" class="btn btn-round btn-default" data-toggle="modal">Close</button>
          </div>
          </form>
      </div>
    </div>
    </div>

  <!-- Add Values -->
<div class="modal fade" id="AddValue" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title h4" id="myLargeModalLabel">Add Process Value</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
            </button>
        </div>
        <form class="form-auth-small m-t-20" role="form" (ngSubmit)="onSaveProcessValue(valuepayload)" #valuepayload="ngForm"> 
          <div class="modal-body">             
            <div class="row clearfix">
                <div class="col-md-8">
                  <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text">Process Attribute</label>
                        </div> 
                        <select class="custom-select" ngModel name="process_attribute_id"> 
                            <option value="">-- Select Attribute--</option>   
                            <ng-container *ngFor="let pAttrb of processAttributes">
                                <ng-container>
                                    <option value="{{pAttrb.id}}">{{pAttrb.attribute}}</option>
                                </ng-container>
                            </ng-container>                                                                           
                        </select>        
                    </div>
                  </div>
                </div>             
            </div>
          </div>
          <div class="modal-body">             
            <div class="row clearfix">
                <div class="col-md-8">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Input Value Name" ngModel name="value" required>
                    </div>
                </div>             
            </div>
        </div>

          <div class="modal-body">             
              <div class="row clearfix">
                  <div class="col-md-8">
                      <div class="form-group">
                          <input type="text" class="form-control" placeholder="Input Value Description" ngModel name="description" required>
                      </div>
                  </div>             
              </div>
          </div>
  
        <div class="modal-body">             
            <div class="row clearfix">
                <div class="col-md-8">
                    <div class="form-group">                      
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <label class="input-group-text"> Value Status</label>
                          </div> 
                          <select class="custom-select" ngModel name="status"> 
                              <option value="">-- Select Status --</option>   
                              <ng-container>
                                  <ng-container>
                                    <option value="active">Active</option>
                                    <option value="suspend">Suspend</option>  
                                  </ng-container>
                              </ng-container>                                                                           
                          </select>        
                      </div>                  
                      </div>
                </div>             
            </div>
        </div>      
        <div class="modal-footer">
            <button type="submit" class="btn btn-round btn-primary">Add<i *ngIf="disabled" class="fa fa-spin fa-spinner"></i></button>
            <button type="button" class="btn btn-round btn-default" data-toggle="modal">Close</button>
        </div>
        </form>
    </div>
  </div>
  </div>

  <!-- Edit ProcessValue -->
  <div class="modal fade" id="EditProcessValue" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title h4" id="myLargeModalLabel">Edit Process Value</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
              </button>
          </div>
          <form class="form-auth-small m-t-20" role="form" (ngSubmit)="onEditProcessValue(edit3)" #edit3="ngForm">     
          <div class="modal-body">             
              <div class="row clearfix">
                  <div class="col-md-8">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Name" [(ngModel)]="process_valueName" ngModel name="process_valueName">
                        <input type="text" class="form-control" placeholder="Description" [(ngModel)]="process_valueDesc" ngModel name="process_valueDesc">
                      </div>
                  </div>             
              </div>
          </div>      
          <div class="modal-footer">
              <button type="submit" class="btn btn-round btn-primary">Update<i *ngIf="disabled" class="fa fa-spin fa-spinner"></i></button>
              <button type="button" class="btn btn-round btn-default" data-toggle="modal">Close</button>
          </div>
          </form>
      </div>
    </div>
    </div>


