<div id="main-content">
  <div class="container-fluid">
      <div class="block-header">
          <div class="row clearfix">
              <div class="col-md-6 col-sm-12">
                  <h2>Voucher</h2>
                  <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="#" [routerLink]="['/Admin', {outlets: {side: ['home']}}]">Home</a></li>
                      <li class="breadcrumb-item"><a href="#"   [routerLink]="['/Admin', {outlets: {side: ['patient_log']}}]">Phamarcy Log</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Pescription</li>
                      </ol>
                  </nav>
              </div>            
          </div>
      </div>
      <div class="row clearfix">
          <div class="col-md-12">
              <div class="card social">
                  <div class="profile-header d-flex justify-content-between justify-content-center">
                      <div class="d-flex">
                          <div class="mr-3">
                              <img src="http://{{ imgLink}}/backend/public/upload/uploads/{{pat[0].patient_image}}" class="rounded" alt="Patient_Photo">
                          </div>
                         <div class="details">
                                <h4 class="mb-0">Card Number : {{pat[0].card_number}}</h4>
                                <span class="text-light"><b>Name : </b>{{pat[0].name + " " + pat[0].othername}}</span>
                                <div><b>Mobile: </b>{{pat[0].mobile_number}}</div>
                          </div>                                 
                      </div>
                      <div class="col text-center">
                        <div class="m-0"><b>Customer Category: </b>{{schemeCat}}</div>
                        <div class="m-0"><b>Scheme ID: </b>{{schemeId}}</div>
                        <div class="m-0"><b>Percentage: </b>{{schemePercentToView}}%</div>
                        <!-- <div href="#" style="color: blue;" title="click to change the customer category" data-toggle="modal" data-target="#category">Change Category</div> -->
                      </div>
                       <div class="col text-right">
                          <div class="small text-light">Prescription Number</div>
                          <div class="h4 m-0">Appointment No: {{appId}}</div>
                        </div>
                  </div>
              </div>                    
          </div>
      </div>


      
<!-- Default Size -->
<div class="modal fade" id="category" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title h4" id="myLargeModalLabel">Customer Category</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
              </button>
          </div>
          <form class="form-auth-small m-t-20" role="form" (ngSubmit)="onSubmit_cat(fm)" #fm="ngForm"> 
          <div class="modal-body">             
              <div class="row clearfix">                
                  <div class="col-sm-12">
                    <div class="form-group">
                        <label><span class="hidden-xs">Customer Category</span> </label>
                        <div class="form-inline">
                            <select class="form-control" style="width:80%" ngModel name="category_name" >                               
                                <option *ngFor="let c of cust_cat" value="{{c.id}}" >{{c.category_name}}</option>                                
                            </select>                                                  
                        </div>
                        
                    </div>
                  </div>                  
              </div>
              <!-- <input type="text" value="{{patID}}" ngModel name="cust_id" required>  -->
          </div>
          <div class="modal-footer">
              <button type="submit" class="btn btn-round btn-primary">Submit<i *ngIf="disabled" class="fa fa-spin fa-spinner"></i></button>
              <button type="button" class="btn btn-round btn-default" data-dismiss="modal" data-toggle="modal">Close</button>
          </div>
          </form>
      </div>
    </div>
    </div>
    
    <div class="row clearfix">
        <div class="col-xl-12 col-lg-12 col-md-12">
            <div class="card">
                <div class="header">
                    <h2>Voucher</h2>
                    <ul class="header-dropdown dropdown">                                
                        <li><a href="javascript:void(0);" class="full-screen"><i class="icon-frame"></i></a></li>
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                            <ul class="dropdown-menu">                               
                                <li><a href="javascript:void(0);">Charges Settings</a></li>
                                <!-- <li><a href="javascript:void(0);">Settings</a></li> -->
                            </ul>
                        </li>
                    </ul>
                </div>
        <div class="body">
            <div class="table-responsive">
                <table class="table table-hover table-custom spacing8">
                    <thead>
                        <tr>
                            <th>S/N</th>
                            <th>Image</th>
                            <th>Item</th>
                            <th>Category</th>
                            <th>Original Quantity</th>
                            <th>Quantity</th>                                                                            
                            <!-- <th>Refill</th>  
                            <th>Remain</th>                            -->                         
                            <th>Cost</th>
                            <th>Amount</th>
                            <th>Refill Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let r of prescriptionsList; let i =index">
                           <td>{{i+1}}</td>                                                                                     
                           <td class="w60">
                            <img src="http://{{ imgLink}}/backend/public/upload/uploads/{{r.item_img}}" data-toggle="tooltip" data-placement="top" title="Avatar Name" alt="Avatar" class="w35 rounded">
                        </td>
                        <td>
                            <a href="javascript:void(0);" title="">{{r.generic_name}}</a>
                            <p class="mb-0">{{r.name}}</p>
                        </td>
                        <td><span class="badge badge-warning">{{r.cat_name}}</span></td>
                        <td>{{r.original_qty}}</td>
                        <td>{{r.quantity}}</td>                                                                          
                        <!-- <td>{{r.refill}}</td>
                        <td>{{r.remain}}</td> -->                     
                        <td>{{r.amount | currency:'NGN':'symbol-narrow'}}</td>
                        <td>{{r.amount_paid | currency:'NGN':'symbol-narrow'}}</td>
                        <td>
                            <span class="badge badge-warning" *ngIf="r.refill_status == 'refillable' ">
                                Refill
                            </span>
                            <span class="badge badge-success" *ngIf="r.refill_status == 'non-refillable' ">
                               Close
                            </span>
                        </td>
                        <td>
                          <button type="button" class="btn btn-default btn-sm" style="color: blue;" title="Edit" data-toggle="modal" data-target="#EditTra" (click)="editTrans(r.id)"><i class="fa fa-pencil"></i></button>
                          <button type="button" class="btn btn-default btn-sm" style="color: red;" title="Delete" data-toggle="modal" (click)="deleteTrans(r.id)"><i class="fa fa-trash-o"></i></button>
                      </td> 
                      
                      <div class="modal fade" id="EditTra" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div  class="modal-content">  
                            <div class="modal-header">
                                <h4 class="modal-title">Make Refill</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                              <div class="modal-body">             
                                <form class="form-auth-small m-t-20" role="form" (ngSubmit)="onUpdate(ed)" #ed="ngForm"> 
                                                                     
                                  <div class="modal-body">             
                                      <div class="row clearfix"> 
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-group">
                                                <label>Instock</label>
                                                <input type="text" class="form-control" value="{{instock}}" disabled>
                                            </div>
                                        </div>                                    
                                            <div class="col-lg-6 col-md-12">
                                                <div class="form-group">
                                                    <label>General Quantity</label>
                                                    <input type="text" class="form-control" value="{{original_qty}}" disabled>
                                                </div>
                                            </div> 
                                            <div class="col-lg-6 col-md-12">
                                                <div class="form-group">
                                                        <label>Refill Quatity</label>
                                                    <input type="text" disabled class="form-control" value="{{refill_qty}}">
                                                </div>
                                            </div>                                                 
                                        </div>
                                        <div class="row clearfix">                                    
                                            <div class="col-lg-6 col-md-12">
                                                <div class="form-group">
                                                    <label>Total Quantity</label>
                                                    <input type="text" class="form-control" value="{{total_quantity}}" disabled>
                                                </div>
                                            </div> 
                                            <div class="col-lg-6 col-md-12">
                                                <div class="form-group">
                                                        <label>Amount</label>
                                                    <input type="text" disabled class="form-control" value="{{total_amount}}">
                                                </div>
                                            </div>                                                 
                                        </div>

                                        <div class="row clearfix">                                    
                                            <div class="col-lg-6 col-md-12">
                                                <div class="form-group">
                                                    <label>Change Total Quantity</label>
                                                    <input type="text" (keyup)="apartTablet2($event)" class="form-control" ngModel name="quantity" value="">
                                                </div>
                                            </div> 
                                            <div class="col-lg-6 col-md-12">
                                                <div class="form-group">
                                                        <label>Amount</label>
                                                    <input type="text" class="form-control" ngModel name="amount" value="{{amount_p | currency:'NGN':'symbol-narrow'}}">
                                                </div>
                                            </div>                                                 
                                        </div>
                                    </div>                                     
                                  <div class="modal-footer">
                                      <button type="submit" class="btn btn-round btn-primary">Update<i *ngIf="disabled" class="fa fa-spin fa-spinner"></i></button>
                                      <button type="button" class="btn btn-round btn-default" class="close" data-dismiss="modal" aria-label="Close">Close</button>
                                  </div>
                                  </form>
                              </div>     
                            
                          </div>
                        </div>
                        </div>
                        </tr>
                        <div *ngIf="!prescriptionsList">
                            
                            <div class="spinner-grow text-primary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-secondary" role="status">
                            <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-success" role="status">
                            <span class="sr-only">Loading...</span>
                            </div>
                            <h5 class="text text-center text-primary">No Medications yet</h5>
                          </div>                                                    
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th> 
                            <th></th>
                            <th></th> 
                            <th></th>                         
                            <th><strong>SUB TOTAL</strong></th>                             
                                                                               
                            <th>{{tcost | currency:'NGN':'symbol-narrow'}}</th>
                            <th></th>
                            <th></th>
                            <th></th> 
                        </tr>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th> 
                            <th></th>
                            <th></th>
                            <th></th>   
                            <th><strong>DISCOUNT %</strong></th>                                                                
                                                                                             
                            <th>{{schemePercentToView}}%</th>
                            <th></th>
                            <th></th> 
                            <th></th>     
                        </tr>
                        <tr *ngFor="let cg of charges">
                            <th></th>
                            <th></th>
                            <th></th> 
                            <th></th>
                            <th></th>
                            <th></th>    
                            <th><strong>{{cg.charge_name}}</strong></th>                                                                
                                                                            
                            <th *ngIf="schemePriceList == 'price_1'">{{cg.selling_price | currency:'NGN':'symbol-narrow'}}</th>
                            <th *ngIf="schemePriceList != 'price_1'"><del>{{cg.selling_price | currency:'NGN':'symbol-narrow'}}</del></th>
                            <th></th> 
                            <th></th> 
                            <th></th>   
                        </tr>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>    
                            <th></th>
                            <th></th>
                            <th></th>                
                            <th><strong>TOTAL</strong></th>                            
                          
                            <th>{{afterPercentCost | currency:'NGN':'symbol-narrow'}}</th>
                            <th></th>
                            <th></th>    
                            <th></th>   
                        </tr>
                    </tfoot>
                </table>
                <div>
                    <button type="button" (click)="saveTovoucher()" class="btn btn-round btn-primary">Checkout<i *ngIf="disabled" class="fa fa-spin fa-spinner"></i></button> &nbsp;

                    <!-- <button type="button" *ngIf = "voucher != 'open' " disabled class="btn btn-round btn-primary">Checkout</button> &nbsp;&nbsp;
                    <button type="button" (click)="saveTovoucher()" *ngIf = "voucher == 'open'" class="btn btn-round btn-primary">Checkout<i *ngIf="disabled" class="fa fa-spin fa-spinner"></i></button> &nbsp; -->
                    <button type="button" class="btn btn-round btn-secondary"><a class="p-1 text-white" style="text-decoration:none" href="#" [routerLink]="['/Admin', {outlets: {side: ['revenue_log', appId]}}]">Voucher</a></button> &nbsp;&nbsp;
                    <button type="button" *ngIf ="invoice == 'paid'" [routerLink]="['/Admin', {outlets: {side: ['invoice',appId]}}]" class="btn btn-round btn-secondary">Invoice</button> &nbsp;&nbsp;
                    <a type="button" [routerLink]="['/Admin', {outlets: {side: ['pharmacy_log']}}]" class="btn btn-round btn-default">Cancel</a>
                </div><br>              
                </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
