<div id="main-content">
  <div class="container-fluid">
      <div class="block-header">
          <div class="row clearfix">
              <div class="col-md-6 col-sm-12">
                  <h2>User Profile</h2>
                  <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="#">Oculux</a></li>
                      <li class="breadcrumb-item"><a href="#">Pages</a></li>
                      <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                      </ol>
                  </nav>
              </div>            
              <div class="col-md-6 col-sm-12 text-right hidden-xs">
                  <a href="javascript:void(0);" class="btn btn-sm btn-primary btn-round" title="">Add New</a>
              </div>
          </div>
      </div>
      <div class="row clearfix">
          <div class="col-md-12">
              <div class="card social">
                  <div class="profile-header d-flex justify-content-between justify-content-center">
                      <div class="d-flex">
                          <div class="mr-3">
                              <img src="../assets/images/user.png" class="rounded" alt="">
                          </div>
                          <div class="details">
                              <h5 class="mb-0">Louis Pierce</h5>
                              <span class="text-light">Ui UX Designer</span>
                              <p class="mb-0"><span>Posts: <strong>321</strong></span> <span>Followers: <strong>4,230</strong></span> <span>Following: <strong>560</strong></span></p>
                          </div>                                
                      </div>
                      <div class="col text-right">
                          <div class="small text-light">Wallet</div>
                          <div class="h4 m-0">$15,600</div>
                      </div>
                  </div>
              </div>                    
          </div>
      </div>
      <div class="row clearfix">
        <div class="col-md-6 col-lg-3">
          <div class="card">
            <div class="body">
                <div class="media mb-0">
                    <img class="rounded mr-3" src="../assets/images/xs/avatar4.jpg" alt="">
                    <div class="media-body">
                        <h5 class="m-0">Deborah Cox</h5>
                        <p class="text-muted mb-0">Webdeveloper</p>                                    
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="card ">
                <div class="body p-4">
                    <div class="row clearfix">
                        <div class="col-auto">
                            <div class="stamp stamp-md bg-success">
                                <i class="fa fa-institution"></i>
                            </div>
                        </div>
                        <div class="col text-right">
                            <div class="small text-muted">Revenue</div>
                            <div class="h4 m-0">$1,345</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="card">
                <div class="body p-4">
                    <div class="row clearfix">
                        <div class="col-auto">
                            <div class="stamp stamp-md bg-danger">
                                <i class="fa fa-bug"></i>
                            </div>
                        </div>
                        <div class="col text-right">
                            <div class="small text-muted">Bugs</div>
                            <div class="h4 m-0">24</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="card ">
                <div class="body p-4">
                    <div class="row clearfix">
                        <div class="col-auto">
                            <div class="stamp stamp-md bg-info">
                                <i class="fa fa-twitter"></i>
                            </div>
                        </div>
                        <div class="col text-right">
                            <div class="small text-muted">Followers</div>
                            <div class="h4 m-0">10K</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-12">
            <div class="card">
                    <div class="header">
                            <h2>Drug Prescription</h2>
                            <!-- <ul class="header-dropdown dropdown">                                
                                <li><a href="javascript:void(0);" class="full-screen"><i class="icon-frame"></i></a></li>
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another Action</a></li>
                                        <li><a href="javascript:void(0);">Something else</a></li>
                                    </ul>
                                </li>
                            </ul> -->
                        </div>              
                        
                        <div class="row clearfix">
                            <div class="col-12">
                                <div class="card">
                                    <div class="body">
                                        <form class="form-auth-small m-t-20" role="form" (ngSubmit)="onSubmitAdd(fm)" #fm="ngForm">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-sm-6">
                                                <label>Item</label>
                                                <div class="form-group">
                                                    <select class="form-control" (click)="get()" (change)="onSelectItem($event)" ngModel name="item_id">
                                                        <option value="">Select Item</option>
                                                        <option  *ngFor="let itdet of itemDet" value="{{itdet.id}}" [ngValue]="itdet.id">{{itdet.generic_name}}</option>
                                                    </select>
                                                </div>
                                            </div> 
                                            <div><span class="badge badge-warning">{{total[0].total_remain}} 9</span></div>                                            
                                            <div class="col-lg-3 col-md-3 col-sm-6">
                                                <label>Daily Supply</label>
                                                <div class="form-group">
                                                    <select class="custom-select" ngModel name="day_supply">
                                                        <option selected="">Select Daily Supply</option>
                                                        <option value="1">Once Daily</option>
                                                        <option value="2">Twice Daily</option>
                                                        <option value="3">Thrice Daily</option>
                                                        <option value="4">Four in a Day</option>
                                                        <option value="4">Once in a Week</option>
                                                    </select>
                                                </div>
                                            </div> 
                                            <div class="col-lg-2 col-md-2 col-sm-6">
                                                <label>Day(s)</label>
                                                <div class="form-group">
                                                    <input type="number" class="form-control" ngModel name="days" placeholder="Input Number of Day(s)">
                                                </div>
                                            </div> 

                                            <div class="col-lg-2 col-md-2 col-sm-6">
                                                    <label>Instruction</label>
                                                    <div class="input-group">
                                                        <textarea type="text" class="form-control" ngModel name="instruction" placeholder="Give an Intruction here"></textarea>
                                                    </div>
                                                </div>  
                                            <div class="col-lg-2 col-md-4 col-sm-6">
                                                <button class="btn btn-primary btn-block" type="submit">Add</button>
                                            </div>
                                        </div>
                                    </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
            </div>
        </div>
    </div>


    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12">
          <div class="card">
              <!-- <div class="header">
                  <h2>Basic Information</h2>
                  <ul class="header-dropdown dropdown">                                
                      <li><a href="javascript:void(0);" class="full-screen"><i class="icon-frame"></i></a></li>
                      <li class="dropdown">
                          <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                          <ul class="dropdown-menu">
                              <li><a href="javascript:void(0);">Action</a></li>
                              <li><a href="javascript:void(0);">Another Action</a></li>
                              <li><a href="javascript:void(0);">Something else</a></li>
                          </ul>
                      </li>
                  </ul>
              </div> -->
              <div class="body">
                  <div class="row clearfix">
                      <div class="col-lg-12 col-md-12">

                          <table id="mainTable" class="table table-hover">
                              <thead>
                                  <tr>
                                      <th>S/N</th>
                                      <th>Image</th>
                                      <th>Name</th>
                                      <th>In stock</th>
                                      <th>Quantity</th>
                                      <th>Amount</th>
                                      <th>Refill</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let p of pres; let r = index">
                                      <td>{{r+1}}</td>
                                      <td class="w60">
                                          <img src="../assets/images/xs/avatar1.jpg" data-toggle="tooltip" data-placement="top" title="Avatar Name" alt="Avatar" class="w35 rounded">
                                      </td>
                                      <td>
                                          <a href="javascript:void(0);" title="">1006473</a>
                                          <p class="mb-0">sigu Soloman</p>
                                      </td>
                                      <td>789</td>
                                      <td><input disabled value="{{p.quantity}}" style="width: 70%;"></td>
                                      <td><input value="N{{p.quantity*p.selling_price}}" style="width: 70%;"></td>
                                      <td><input value="0" style="width: 70%;"></td>
                                  </tr>
                                  <!-- <tr>
                                      <td class="w60">
                                          <img src="../assets/images/xs/avatar1.jpg" data-toggle="tooltip" data-placement="top" title="Avatar Name" alt="Avatar" class="w35 rounded">
                                      </td>
                                      <td>
                                          <a href="javascript:void(0);" title="">1006473</a>
                                          <p class="mb-0">sigu Soloman</p>
                                      </td>
                                      <td>789</td>
                                      <td><input value="16" style="width: 70%;"></td>
                                      <td><input value="N2400" style="width: 70%;"></td>
                                      <td><input value="0" style="width: 70%;"></td>
                                  </tr>
                                  <tr>
                                      <td class="w60">
                                          <img src="../assets/images/xs/avatar1.jpg" data-toggle="tooltip" data-placement="top" title="Avatar Name" alt="Avatar" class="w35 rounded">
                                      </td>
                                      <td>
                                          <a href="javascript:void(0);" title="">1006473</a>
                                          <p class="mb-0">sigu Soloman</p>
                                      </td>
                                      <td>789</td>
                                      <td><input value="16" style="width: 70%;"></td>
                                      <td><input value="N2400" style="width: 70%;"></td>
                                      <td><input value="0" style="width: 70%;"></td>
                                  </tr>
                                  <tr>
                                      <td class="w60">
                                          <img src="../assets/images/xs/avatar1.jpg" data-toggle="tooltip" data-placement="top" title="Avatar Name" alt="Avatar" class="w35 rounded">
                                      </td>
                                      <td>
                                          <a href="javascript:void(0);" title="">1006473</a>
                                          <p class="mb-0">sigu Soloman</p>
                                      </td>
                                      <td>789</td>
                                      <td><input value="16" style="width: 70%;"></td>
                                      <td><input value="N2400" style="width: 70%;"></td>
                                      <td><input value="0" style="width: 70%;"></td>
                                  </tr>
                                  <tr>
                                      <td class="w60">
                                          <img src="../assets/images/xs/avatar1.jpg" data-toggle="tooltip" data-placement="top" title="Avatar Name" alt="Avatar" class="w35 rounded">
                                      </td>
                                      <td>
                                          <a href="javascript:void(0);" title="">1006473</a>
                                          <p class="mb-0">sigu Soloman</p>
                                      </td>
                                      <td>789</td>
                                      <td><input value="16" style="width: 70%;"></td>
                                      <td><input value="N2400" style="width: 70%;"></td>
                                      <td><input value="0" style="width: 70%;"></td>
                                  </tr> -->
                              </tbody>
                              <tfoot>
                                  <tr>
                                      <th><strong>TOTAL</strong></th>
                                      <th></th>
                                      <th></th>
                                      <th>1420</th>
                                      <th>5</th>
                                      <th>5</th>
                                  </tr>
                              </tfoot>
                          </table>
                         
                          </div>
                      </div>                      
                  <button type="button" class="btn btn-round btn-primary">Update</button> &nbsp;&nbsp;
                  <button type="button" class="btn btn-round btn-default">Cancel</button>
              
          </div>
          <div class="card">
              <div class="header">
                  <h2>Label</h2>
              </div>
              <div class="body">
                  <div class="row clearfix">
                      <div class="col-lg-4 col-md-12">                                            
                          <div class="form-group">                                                
                              <input type="text" class="form-control" value="louispierce" disabled placeholder="Username">
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-12">
                          <div class="form-group">
                              <input type="email" class="form-control" value="louis.info@yourdomain.com" placeholder="Email">
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-12">
                          <div class="form-group">
                              <input type="text" class="form-control" placeholder="Phone Number">
                          </div>
                      </div>                                
                      <div class="col-lg-12 col-md-12">
                          <hr>
                          <h6>Change Password</h6>
                          <div class="form-group">
                              <input type="password" class="form-control" placeholder="Current Password">
                          </div>
                          <div class="form-group">
                              <input type="password" class="form-control" placeholder="New Password">
                          </div>
                          <div class="form-group">
                              <input type="password" class="form-control" placeholder="Confirm New Password">
                          </div>
                      </div>
                  </div>
                  <button type="button" class="btn btn-round btn-primary">Update</button> &nbsp;&nbsp;
                  <button type="button" class="btn btn-round btn-default">Cancel</button>
              </div>
          </div>
      </div>
  </div>

    
  </div>
</div>
