<div id="main-content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-md-6 col-sm-12">
                    <h1>All Doctors</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="../html/index.html">Oculux</a></li>
                        <li class="breadcrumb-item"><a href="index.html">Hospital</a></li>
                        <li class="breadcrumb-item active" aria-current="page">All Doctors</li>
                        </ol>
                    </nav>
                </div>            
                <div class="col-md-6 col-sm-12 text-right hidden-xs">
                    <a href="javascript:void(0);" class="btn btn-sm btn-primary" title="" data-toggle="modal" data-target="#AddStaff">Add New</a>
                    <!-- <a href="https://themeforest.net/item/oculux-bootstrap-4x-admin-dashboard-clean-modern-ui-kit/23091507" class="btn btn-sm btn-success" title="Themeforest"><i class="icon-basket"></i> Buy Now</a> -->
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-3 col-md-4 col-sm-12">
                <ul class="list-group mt-0 mb-4">
                    <li class="list-group-item d-flex justify-content-between align-items-center">All Contacts<span class="badge badge-info">14</span></li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">Dentist<span class="badge badge-primary">2</span></li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">Gynecologist<span class="badge badge-warning">1</span></li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">Nursing<span class="badge badge-danger">14</span></li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">Audiology<span class="badge badge-success">2</span></li>
                </ul>
                <small class="text-muted">LOCATION</small>
                <ul class="list-group mt-2 mb-4">
                    <li class="list-group-item d-flex justify-content-between align-items-center">San Francisco<span class="badge badge-info">14</span></li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">Los Angeles<span class="badge badge-primary">2</span></li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">New York<span class="badge badge-warning">1</span></li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">Las Vegas<span class="badge badge-danger">14</span></li>
                </ul>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-12">
                <div class="row clearfix">
                    <div class="col-lg-4 col-md-6">
                        <div class="card c_grid c_yellow">
                            <div class="body text-center">
                                <div class="circle">
                                    <img class="rounded-circle" src="../assets/images/sm/avatar1.jpg" alt="">
                                </div>
                                <h6 class="mt-3 mb-0">Michelle Green</h6>
                                <span>jason-porter@info.com</span>
                                <ul class="mt-3 list-unstyled d-flex justify-content-center">
                                    <li><a class="p-3" target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a class="p-3" target="_blank" href="#"><i class="fa fa-slack"></i></a></li>
                                    <li><a class="p-3" target="_blank" href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                                <button class="btn btn-default btn-sm">Follow</button>
                                <button class="btn btn-default btn-sm">Message</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="card c_grid c_indigo">
                            <div class="body text-center">
                                <div class="circle">
                                    <img class="rounded-circle" src="../assets/images/sm/avatar2.jpg" alt="">
                                </div>
                                <h6 class="mt-3 mb-0">Jason Porter</h6>
                                <span>Carol@info.com</span>
                                <ul class="mt-3 list-unstyled d-flex justify-content-center">
                                    <li><a class="p-3" target="_blank" href="#"><i class="fa fa-skype"></i></a></li>
                                    <li><a class="p-3" target="_blank" href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a class="p-3" target="_blank" href="#"><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                                <button class="btn btn-default btn-sm">Follow</button>
                                <button class="btn btn-default btn-sm">Message</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="card c_grid c_pink">
                            <div class="body text-center">
                                <div class="circle">
                                    <img class="rounded-circle" src="../assets/images/sm/avatar3.jpg" alt="">
                                </div>
                                <h6 class="mt-3 mb-0">David Wallace</h6>
                                <span>Michelle@info.com</span>
                                <ul class="mt-3 list-unstyled d-flex justify-content-center">
                                    <li><a class="p-3" target="_blank" href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a class="p-3" target="_blank" href="#"><i class="fa fa-dribbble"></i></a></li>
                                    <li><a class="p-3" target="_blank" href="#"><i class="fa fa-slack"></i></a></li>
                                    <li><a class="p-3" target="_blank" href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                                <button class="btn btn-default btn-sm">Follow</button>
                                <button class="btn btn-default btn-sm">Message</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="card c_grid c_cyan">
                            <div class="body text-center">
                                <div class="circle">
                                    <img class="rounded-circle" src="../assets/images/sm/avatar4.jpg" alt="">
                                </div>
                                <h6 class="mt-3 mb-0">Michelle Green</h6>
                                <span>jason-porter@info.com</span>
                                <ul class="mt-3 list-unstyled d-flex justify-content-center">
                                    <li><a class="p-3" target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a class="p-3" target="_blank" href="#"><i class="fa fa-slack"></i></a></li>
                                    <li><a class="p-3" target="_blank" href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                                <button class="btn btn-default btn-sm">Follow</button>
                                <button class="btn btn-default btn-sm">Message</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="card c_grid c_red">
                            <div class="body text-center">
                                <div class="circle">
                                    <img class="rounded-circle" src="../assets/images/sm/avatar5.jpg" alt="">
                                </div>
                                <h6 class="mt-3 mb-0">Michelle Green</h6>
                                <span>jason-porter@info.com</span>
                                <ul class="mt-3 list-unstyled d-flex justify-content-center">
                                    <li><a class="p-3" target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a class="p-3" target="_blank" href="#"><i class="fa fa-slack"></i></a></li>
                                    <li><a class="p-3" target="_blank" href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                                <button class="btn btn-default btn-sm">Follow</button>
                                <button class="btn btn-default btn-sm">Message</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="card c_grid c_blue">
                            <div class="body text-center">
                                <div class="circle">
                                    <img class="rounded-circle" src="../assets/images/sm/avatar6.jpg" alt="">
                                </div>
                                <h6 class="mt-3 mb-0">Michelle Green</h6>
                                <span>jason-porter@info.com</span>
                                <ul class="mt-3 list-unstyled d-flex justify-content-center">
                                    <li><a class="p-3" target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a class="p-3" target="_blank" href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a class="p-3" target="_blank" href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                                <button class="btn btn-default btn-sm">Follow</button>
                                <button class="btn btn-default btn-sm">Message</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="card c_grid c_green">
                            <div class="body text-center">
                                <div class="circle">
                                    <img class="rounded-circle" src="../assets/images/sm/avatar1.jpg" alt="">
                                </div>
                                <h6 class="mt-3 mb-0">Sean Black</h6>
                                <span>jason-porter@info.com</span>
                                <ul class="mt-3 list-unstyled d-flex justify-content-center">
                                    <li><a class="p-3" target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a class="p-3" target="_blank" href="#"><i class="fa fa-slack"></i></a></li>
                                    <li><a class="p-3" target="_blank" href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                                <button class="btn btn-default btn-sm">Follow</button>
                                <button class="btn btn-default btn-sm">Message</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="card c_grid c_cyan">
                            <div class="body text-center">
                                <div class="circle">
                                    <img class="rounded-circle" src="../assets/images/sm/avatar2.jpg" alt="">
                                </div>
                                <h6 class="mt-3 mb-0">David Wallace</h6>
                                <span>jason-porter@info.com</span>
                                <ul class="mt-3 list-unstyled d-flex justify-content-center">
                                    <li><a class="p-3" target="_blank" href="#"><i class="fa fa-flickr"></i></a></li>
                                    <li><a class="p-3" target="_blank" href="#"><i class="fa fa-dropbox"></i></a></li>
                                    <li><a class="p-3" target="_blank" href="#"><i class="fa fa-apple"></i></a></li>
                                    <li><a class="p-3" target="_blank" href="#"><i class="fa fa-pinterest"></i></a></li>
                                </ul>
                                <button class="btn btn-default btn-sm">Follow</button>
                                <button class="btn btn-default btn-sm">Message</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- Default Size -->
<div class="modal fade" id="AddStaff" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title h4" id="myLargeModalLabel">Add New Staff</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
              </button>
          </div>
          <form class="form-auth-small m-t-20" role="form" (ngSubmit)="onSubmit(fm)" #fm="ngForm"> 
            <div class="modal-body">             
                <div class="row clearfix">
                    <div class="col-md-8">                
                        <div class="form-group">
                            <input type="text" class="form-control round" placeholder="Input staff ID number here" ngModel name="id_number" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">             
                <div class="row clearfix">
                    <div class="col-md-8">
                        <div class="form-group">
                            <input type="text" class="form-control round" placeholder="Input staff Firstname here" ngModel name="firstname" required>
                            <div class="text-danger" [hidden]="!error.firstname">
                                {{error.firstname}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">             
                <div class="row clearfix">
                    <div class="col-md-8">
                        <div class="form-group">
                            <input type="text" class="form-control round" placeholder="Input staff Othername here" ngModel name="lastname" required>
                            <div class="text-danger" [hidden]="!error.lastname">
                                {{error.lastname}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
              <div class="modal-body">             
                <div class="row clearfix">
                    <div class="col-md-8">
                        <div class="form-group">                            
                                <label class="fancy-radio custom-color-green"><input name="gender" ngModel name="gender" value="male" type="radio" checked><span><i></i>Male</span></label>
                                <label class="fancy-radio custom-color-green"><input name="gender" ngModel name="gender" value="female" type="radio"><span><i></i>Female</span></label>
                            <div class="text-danger" [hidden]="!error.gender">
                                {{error.gender}}
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="modal-body">             
                <div class="row clearfix">
                    <div class="col-md-8">
                        <div class="form-group">
                            <input type="email" class="form-control round" placeholder="Input staff email address here" ngModel name="email" required>
                            <div class="text-danger" [hidden]="!error.email">
                                {{error.email}}
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="modal-body">             
                <div class="row clearfix">
                    <div class="col-md-8">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text">Staff Department</label>
                                </div> 
                                <select class="custom-select" (click)="onChange1($event)" ngModel name="dept_id">   
                                    <option value="">Select Department...</option>                                     
                                    <option *ngFor="let d of department" value="{{d.id}}" [value]="d.id">{{d.name}}</option>                                       
                                </select>        
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="text-danger" [hidden]="!error.dept_id">
                    {{error.dept_id}}
                </div> -->
              </div>
              <div class="modal-body">             
                <div class="row clearfix">
                    <div class="col-md-8">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text">Staff Role</label>
                                </div> 
                                <select class="custom-select" ngModel name="role_id"> 
                                    <option value="">Select Role...</option>                                       
                                    <option *ngFor="let r of role"  value="{{r.id}}" [value]="r.id">{{r.name}}</option>                                       
                                </select>        
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="text-danger" [hidden]="!error.id">
                    {{error.id}}
                </div> -->
              </div>
              <div class="modal-body">             
                <div class="row clearfix">
                    <div class="col-md-8">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text">Staff Position</label>
                                </div> 
                                <select class="custom-select" ngModel name="position_id">                                        
                                    <option value="">Select Position...</option>
                                    <option *ngFor="let p of position"  value="{{p.id}}" [value]="p.id">{{p.position_name}}</option>                                       
                                </select>        
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="text-danger" [hidden]="!error.id">
                    {{error.id}}
                </div> -->
              </div>
              <div class="modal-body" *ngIf= "givenDept == '1'">             
                <div class="row clearfix">
                    <div class="col-md-8">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text">Staff Pharmacist Branch</label>
                                </div> 
                                <select class="custom-select" ngModel name="dept_id"> 
                                    <option>Select Branch...</option>                                       
                                    <option *ngFor="let b of branch"  value="{{b.id}}" [value]="d.id">{{b.name}}</option>                                    
                                </select>        
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="text-danger" [hidden]="!error.id">
                    {{error.id}}
                </div> -->
              </div>
              
              <div class="modal-footer">
                <button type="submit" class="btn btn-round btn-primary">Add</button>
                <button type="button" class="btn btn-round btn-default" data-toggle="modal">Close</button>
            </div>                                
        </form>
      </div>
    </div>
    </div>
