@media screen and (min-width:768px){  
  /* Track */
  ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey;  */
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#282B2F; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:grey; 
  }
.process{
    height:100vh !important;
    overflow-y: auto !important;
    /* position: absolute; */
    margin-bottom:50px;
}
.forms{
    height:70vh !important;
    overflow-y: auto !important;
    /* position: absolute; */
    margin-bottom:50px;
}
}
.cont{
  border: none;
  border-bottom: 1px grey solid;
  width: auto;
  height:40px;
}
.cont input{
  border: none;
  width:auto;
  height:100%;
}
