<div id="main-content">
    <div class="container-fluid">
    <div class="block-header">
    <div class="row clearfix">
    <div class="col-md-6 col-sm-12">
    <h1>Center List</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        <!-- <li class="breadcrumb-item"><a href="index.html">Hospital</a></li> -->
        <li class="breadcrumb-item active" aria-current="page">Branch</li>
        </ol>
    </nav>
    </div>            
    <div class="col-md-6 col-sm-12 text-right hidden-xs">
    <button class="btn btn-sm btn-primary" title="" data-toggle="modal" data-target="#AddDepartments" (click)="branche()">Add</button>
    <!-- <a href="https://themeforest.net/item/oculux-bootstrap-4x-admin-dashboard-clean-modern-ui-kit/23091507" class="btn btn-sm btn-success" title="Themeforest"><i class="icon-basket"></i> Buy Now</a> -->
    </div>
    </div>
    </div>
    <div class="modal fade" id="suspend" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">  
    <div class="modal-header">
    <h4 class="modal-title">Note !</h4>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">             
    <div class="row  justify-content-center">
            <h6>You are about to suspend this Center!</h6>     
    </div>
    </div>      
    <div class="modal-footer">
    <button type="button" class="btn btn-round btn-primary" data-dismiss="modal" aria-label="Close" aria-hidden="true">No</button>
    <button type="button" class="btn btn-round btn-success" data-dismiss="modal" aria-label="Close" aria-hidden="true"  (click)="suspend()">Yes</button>
    </div>
    </div>
    </div>
    </div>
    <div class="modal fade" id="activate" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">  
    <div class="modal-header">
    <h4 class="modal-title">Note !</h4>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">             
        <div class="row  justify-content-center">
                <h6>You are about to reactivate this Center!</h6>     
        </div>
    </div>      
    <div class="modal-footer">
        <button type="button" class="btn btn-round btn-primary" data-dismiss="modal" aria-label="Close" aria-hidden="true">No</button>
        <button type="button" class="btn btn-round btn-success" data-dismiss="modal" aria-label="Close" aria-hidden="true"  (click)="activate()">Yes</button>
    </div>
    </div>
    </div>
    </div>
    <div class="row clearfix">
    <div class="col-sm-12">
    <div class="card">
    <ul class="nav nav-tabs">
    <li *ngIf="role=='3003' && department=='Clinic' || role=='1001' || role==2001 || role==1002 " class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#clinic" (click)="branch('clinic')" value="clinic">Clinic</a></li>
    <!-- <ng-container *ngIf ="4004 > uPos"> -->
        <li *ngIf=" role=='3003' && department=='Pharmacy' || role=='1001' || role==2002 || role==1002 " class="nav-item"><a class="nav-link " data-toggle="tab" href="#pharmacy" (click)="branch('pharmacy')" >Pharmacy</a></li>
        <li *ngIf="  role=='3003' && department=='Records' || role=='1001' || role==2002 || role==1002 " class="nav-item"><a class="nav-link " data-toggle="tab" href="#record" (click)="branch('record')">Record</a></li>
        <li *ngIf=" role=='3003' && department=='Revenue' || role=='1001' || role==2002 || role==1002 " class="nav-item"><a class="nav-link " data-toggle="tab" href="#revenue" (click)="branch('revenue')">Revenue</a></li>
    <!-- </ng-container> -->
    <li *ngIf="  role=='3003' && department=='Theater' || role=='1001' || role==2001 || role==1002 " class="nav-item"><a class="nav-link " data-toggle="tab" href="#theater" (click)="branch('theater')">Theater</a></li>
    <!-- <li *ngIf=" role=='3003' && department=='Ward' || role=='1001' || role==2001 || role==1002 " class="nav-item"><a class="nav-link " data-toggle="tab" href="#ward" (click)="branch('ward')">Ward</a></li> -->
    <li *ngIf=" role=='3003' && department=='Nurse' || role=='1001' || role==2001 || role==1002 " class="nav-item"><a class="nav-link " data-toggle="tab" href="#nurse" (click)="branch('nurse')">Nurse</a></li>
    <li *ngIf=" role=='3003' && department=='Laboratory' || role=='1001' || role==2001 || role==1002 " class="nav-item"><a class="nav-link " data-toggle="tab" href="#lab" (click)="branch('lab')">Lab</a></li>
    <li  *ngIf="role=='1001' || role==1002" class="nav-item"><a class="nav-link " data-toggle="tab" href="#admin" (click)="branch('admin')">Admin</a></li>
    <li *ngIf=" role=='3003' && department=='Radiology' || role=='1001' || role==2001 || role==1002 " class="nav-item"><a class="nav-link " data-toggle="tab" href="#radio" (click)="branch('radio')">Radiology</a></li>
    </ul>
    <div  class="tab-content mt-0">
        <input type="text" class="form-control"  id="branch_search" placeholder="search......" [(ngModel)]="br_search">
    <div *ngIf="role=='3003' && department=='Clinic' || role=='1001' || role==2001 || role==1002 " class="tab-pane active show" id="clinic">
    <table class="table table-hover table-custom spacing8">
        <thead>
            <tr> 
                <th>#</th>
                <th>Name</th>
                <th>Address</th>                                
                <th>Branch</th>
                <th>Department</th>
                <th>Created Timestamp</th>      
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="branches">
            <tr *ngFor="let b of clinic; let r = index">
                <td>
                    {{r+1}}
                </td>                              
                <td style="color: #17C2D7;">{{b.name}}</td>     
                <td style="color: #17C2D7;">{{b.address}}</td>
                <td style="color: #17C2D7;">{{b.branch_name}}</td>
                <td style="color: #17C2D7;">{{b.dept_name}}</td>
                <td style="color: #17C2D7;">  <small>{{b.created_at.slice(0,10)}}, </small> <small *ngIf="b.created_at.slice(10,13)%12==0"> {{b.created_at.slice(10,13)%12+12}}</small><small *ngIf="b.created_at.slice(10,13)%12!=0">{{b.created_at.slice(10,13)%12}}</small><small>{{b.created_at.slice(13,16)}}</small> <small *ngIf="b.created_at.slice(11,13)<=11">am</small><small *ngIf="b.created_at.slice(11,13)>=12">pm</small></td>                                         
                <td>
                    <span class="badge badge-success" *ngIf ="b.status=== 'active'">Active</span>
                        <span class="badge badge-danger" *ngIf ="b.status=== 'suspend'">Suspend</span>                                   
                </td>
                <td>
                    <button type="button" class="btn btn-default btn-sm" title="Edit" data-toggle="modal" data-target="#EditDepartments" (click)="editdept(b.id)"><i class="fa fa-pencil"></i></button>
                    <!-- <button type="button" class="btn btn-default btn-sm" style="color: greenyellow;" title="Edit" data-toggle="modal" data-target="#EditDepartments" (click)="onEdit(b.id)"><i class="fa fa-edit"></i></button> -->
                    <button type="button" class="btn btn-default btn-sm" *ngIf ="b.status=== 'active'" style="color: red;" title="Suspend" data-toggle="modal" data-target="#suspend" (click)="onSuspend(b.id)"><i class="fa fa-times-circle"></i></button>
                    <button type="button" class="btn btn-default btn-sm" *ngIf ="b.status=== 'suspend'" style="color: greenyellow;"  title="Activate" data-toggle="modal" data-target="#activate" (click)="onActivate(b.id)"><i class="fa fa-check"></i></button>
                </td>
            </tr>
            <div *ngIf="!clinic">
                <div class="spinner-grow text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        <div class="spinner-grow text-secondary" role="status">
    <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-success" role="status">
    <span class="sr-only">Loading...</span>
    </div>
            </div>                                                     
        </tbody>
    </table>

    </div>
    <div *ngIf=" role=='3003' && department=='Pharmacy' || role=='1001' || role==2002 || role==1002 " class="tab-pane" id="pharmacy">
        <table class="table table-hover table-custom spacing8">
        <thead>
            <tr> 
                <th>#</th>
                <th>Name</th>
                <th>Address</th>                                
                <th>Branch</th>
                <th>Department</th>
                <th>Created Timestamp</th>              
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="branches">
            <tr *ngFor="let b of pharmacy; let r = index">
                <td>
                    {{r+1}}
                </td>                              
                <td style="color: #17C2D7;">{{b.name}}</td>     
                <td style="color: #17C2D7;">{{b.address}}</td>
                <td style="color: #17C2D7;">{{b.branch_name}}</td>
                <td style="color: #17C2D7;">{{b.dept_name}}</td> 
                <td style="color: #17C2D7;">  <small>{{b.created_at.slice(0,10)}}, </small> <small *ngIf="b.created_at.slice(10,13)%12==0"> {{b.created_at.slice(10,13)%12+12}}</small><small *ngIf="b.created_at.slice(10,13)%12!=0">{{b.created_at.slice(10,13)%12}}</small><small>{{b.created_at.slice(13,16)}}</small> <small *ngIf="b.created_at.slice(11,13)<=11">am</small><small *ngIf="b.created_at.slice(11,13)>=12">pm</small></td>                                         
           
                <td>
                    <span class="badge badge-success" *ngIf ="b.status=== 'active'">Active</span>
                    <span class="badge badge-danger" *ngIf ="b.status=== 'suspend'">Suspend</span>                                   
                </td>                          
                <td>
                    <button type="button" class="btn btn-default btn-sm" style="color: greenyellow;" title="Suspend" data-toggle="modal" data-target="#EditDepartments" (click)="onEdit(b.id)"><i class="fa fa-edit"></i></button>
                    <button type="button" class="btn btn-default btn-sm" *ngIf ="b.status=== 'active'" style="color: red;" title="Suspend" data-toggle="modal" data-target="#suspend" (click)="onSuspend(b.id)"><i class="fa fa-times-circle"></i></button>
                    <button type="button" class="btn btn-default btn-sm" *ngIf ="b.status=== 'suspend'" style="color: greenyellow;" title="Activate" data-toggle="modal" data-target="#activate" (click)="onActivate(b.id)"><i class="fa fa-check"></i></button>
                </td>
            </tr>
            <div *ngIf="!pharmacy">
            <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    <div class="spinner-grow text-secondary" role="status">
    <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-success" role="status">
    <span class="sr-only">Loading...</span>
    </div>
            </div>                                                     
        </tbody>
    </table>
    </div>
    <div *ngIf=" role=='3003' && department=='Radiology' || role=='1001' || role==2001 || role==1002 " class="tab-pane" id="radio">
    <table class="table table-hover table-custom spacing8">
    <thead>
        <tr> 
            <th>#</th>
            <th>Name</th>
            <th>Address</th>                                
            <th>Branch</th>
            <th>Department</th>                
            <th>Sales Rep</th>
            <th>Created Timestamp</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="branches">
        <tr *ngFor="let b of radio; let r = index">
            <td>
                {{r+1}}
            </td>                              
            <td style="color: #17C2D7;">{{b.name}}</td>     
            <td style="color: #17C2D7;">{{b.address}}</td>
            <td style="color: #17C2D7;">{{b.branch_name}}</td>
            <td style="color: #17C2D7;">{{b.dept_name}}</td> 
            <td style="color: #17C2D7;">  <small>{{b.created_at.slice(0,10)}}, </small> <small *ngIf="b.created_at.slice(10,13)%12==0"> {{b.created_at.slice(10,13)%12+12}}</small><small *ngIf="b.created_at.slice(10,13)%12!=0">{{b.created_at.slice(10,13)%12}}</small><small>{{b.created_at.slice(13,16)}}</small> <small *ngIf="b.created_at.slice(11,13)<=11">am</small><small *ngIf="b.created_at.slice(11,13)>=12">pm</small></td>                                         
            <td>
                <span class="badge badge-success" *ngIf ="b.status=== 'active'">Active</span>
                    <span class="badge badge-danger" *ngIf ="b.status=== 'suspend'">Suspend</span>                                   
            </td>                          
            <td>
                <button type="button" class="btn btn-default btn-sm" style="color: greenyellow;" title="Suspend" data-toggle="modal" data-target="#EditDepartments" (click)="onEdit(b.id)"><i class="fa fa-edit"></i></button>
                <button type="button" class="btn btn-default btn-sm" *ngIf ="b.status=== 'active'" style="color: red;" title="Suspend" data-toggle="modal" data-target="#suspend" (click)="onSuspend(b.id)"><i class="fa fa-times-circle"></i></button>
                <button type="button" class="btn btn-default btn-sm" *ngIf ="b.status=== 'suspend'" style="color: greenyellow;" title="Activate" data-toggle="modal" data-target="#activate" (click)="onActivate(b.id)"><i class="fa fa-check"></i></button>
            </td>
        </tr>
        <div *ngIf="!radio">
            <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    <div class="spinner-grow text-secondary" role="status">
    <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-success" role="status">
    <span class="sr-only">Loading...</span>
    </div>
        </div>                                                     
    </tbody>
    </table>

    </div>
    <div *ngIf="  role=='3003' && department=='Records' || role=='1001' || role==2002 || role==1002 " class="tab-pane" id="record">
    <table class="table table-hover table-custom spacing8">
    <thead>
        <tr> 
            <th>#</th>
            <th>Name</th>
            <th>Address</th>                                
            <th>Branch</th>
            <th>Department</th>            
            <th>Created Timestamp</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="branches">
        <tr *ngFor="let b of record; let r = index">
            <td>
                {{r+1}}
            </td>                              
            <td style="color: #17C2D7;">{{b.name}}</td>     
            <td style="color: #17C2D7;">{{b.address}}</td>            
            <td style="color: #17C2D7;">{{b.branch_name}}</td>
            <td style="color: #17C2D7;">{{b.dept_name}}</td>            
            <td style="color: #17C2D7;">  <small>{{b.created_at.slice(0,10)}}, </small> <small *ngIf="b.created_at.slice(10,13)%12==0"> {{b.created_at.slice(10,13)%12+12}}</small><small *ngIf="b.created_at.slice(10,13)%12!=0">{{b.created_at.slice(10,13)%12}}</small><small>{{b.created_at.slice(13,16)}}</small> <small *ngIf="b.created_at.slice(11,13)<=11">am</small><small *ngIf="b.created_at.slice(11,13)>=12">pm</small></td>                                         
            <td>
                <span class="badge badge-success" *ngIf ="b.status=== 'active'">Active</span>
                    <span class="badge badge-danger" *ngIf ="b.status=== 'suspend'">Suspend</span>                                   
            </td>                          
            <td>
                <button type="button" class="btn btn-default btn-sm" style="color: greenyellow;" title="Suspend" data-toggle="modal" data-target="#EditDepartments" (click)="onEdit(b.id)"><i class="fa fa-edit"></i></button>
                <button type="button" class="btn btn-default btn-sm" *ngIf ="b.status=== 'active'" style="color: red;" title="Suspend" data-toggle="modal" data-target="#suspend" (click)="onSuspend(b.id)"><i class="fa fa-times-circle"></i></button>
                <button type="button" class="btn btn-default btn-sm" *ngIf ="b.status=== 'suspend'" style="color: greenyellow;" title="Activate" data-toggle="modal" data-target="#activate" (click)="onActivate(b.id)"><i class="fa fa-check"></i></button>
            </td>
        </tr>
        <div *ngIf="!record">
            <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    <div class="spinner-grow text-secondary" role="status">
    <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-success" role="status">
    <span class="sr-only">Loading...</span>
    </div>
        </div>                                                     
    </tbody>
    </table>

    </div>
    <div *ngIf=" role=='3003' && department=='Revenue' || role=='1001' || role==2002 || role==1002 " class="tab-pane" id="revenue">
    <table class="table table-hover table-custom spacing8">
    <thead>
        <tr> 
            <th>#</th>
            <th>Name</th>
            <th>Address</th>                                
            <th>Branch</th>
            <th>Department</th>               
            <th>Created Timestamp</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="branches">
        <tr *ngFor="let b of revenue; let r = index">
            <td>
                {{r+1}}
            </td>                              
            <td style="color: #17C2D7;">{{b.name}}</td>     
            <td style="color: #17C2D7;">{{b.address}}</td>           
            <td style="color: #17C2D7;">{{b.branch_name}}</td>
            <td style="color: #17C2D7;">{{b.dept_name}}</td> 
            <td style="color: #17C2D7;">  <small>{{b.created_at.slice(0,10)}}, </small> <small *ngIf="b.created_at.slice(10,13)%12==0"> {{b.created_at.slice(10,13)%12+12}}</small><small *ngIf="b.created_at.slice(10,13)%12!=0">{{b.created_at.slice(10,13)%12}}</small><small>{{b.created_at.slice(13,16)}}</small> <small *ngIf="b.created_at.slice(11,13)<=11">am</small><small *ngIf="b.created_at.slice(11,13)>=12">pm</small></td>                                         
            <td>
                <span class="badge badge-success" *ngIf ="b.status=== 'active'">Active</span>
                    <span class="badge badge-danger" *ngIf ="b.status=== 'suspend'">Suspend</span>                                   
            </td>                          
            <td>
                <button type="button" class="btn btn-default btn-sm" style="color: greenyellow;" title="Suspend" data-toggle="modal" data-target="#EditDepartments" (click)="onEdit(b.id)"><i class="fa fa-edit"></i></button>
                <button type="button" class="btn btn-default btn-sm" *ngIf ="b.status=== 'active'" style="color: red;" title="Suspend" data-toggle="modal" data-target="#suspend" (click)="onSuspend(b.id)"><i class="fa fa-times-circle"></i></button>
                <button type="button" class="btn btn-default btn-sm" *ngIf ="b.status=== 'suspend'" style="color: greenyellow;" title="Activate" data-toggle="modal" data-target="#activate" (click)="onActivate(b.id)"><i class="fa fa-check"></i></button>
            </td>
        </tr>
        <div *ngIf="!revenue">
            <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    <div class="spinner-grow text-secondary" role="status">
    <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-success" role="status">
    <span class="sr-only">Loading...</span>
    </div>
        </div>                                                     
    </tbody>
    </table>

    </div>
    <div *ngIf="  role=='3003' && department=='Theater' || role=='1001' || role==2001 || role==1002 " class="tab-pane" id="theater">
    <table class="table table-hover table-custom spacing8">
    <thead>
        <tr> 
            <th>#</th>
            <th>Name</th>
            <th>Address</th>                                
            <th>Branch</th>
            <th>Department</th>                
            <th>Created Timestamp</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="branches">
        <tr *ngFor="let b of theater; let r = index">
            <td>
                {{r+1}}
            </td>                              
            <td style="color: #17C2D7;">{{b.name}}</td>     
            <td style="color: #17C2D7;">{{b.address}}</td>           
            <td style="color: #17C2D7;">{{b.branch_name}}</td>
            <td style="color: #17C2D7;">{{b.dept_name}}</td> 
            <td style="color: #17C2D7;">  <small>{{b.created_at.slice(0,10)}}, </small> <small *ngIf="b.created_at.slice(10,13)%12==0"> {{b.created_at.slice(10,13)%12+12}}</small><small *ngIf="b.created_at.slice(10,13)%12!=0">{{b.created_at.slice(10,13)%12}}</small><small>{{b.created_at.slice(13,16)}}</small> <small *ngIf="b.created_at.slice(11,13)<=11">am</small><small *ngIf="b.created_at.slice(11,13)>=12">pm</small></td>                                         
            <td>
                <span class="badge badge-success" *ngIf ="b.status=== 'active'">Active</span>
                    <span class="badge badge-danger" *ngIf ="b.status=== 'suspend'">Suspend</span>                                   
            </td>                          
            <td>
                <button type="button" class="btn btn-default btn-sm" style="color: greenyellow;" title="Suspend" data-toggle="modal" data-target="#EditDepartments" (click)="onEdit(b.id)"><i class="fa fa-edit"></i></button>
                <button type="button" class="btn btn-default btn-sm" *ngIf ="b.status=== 'active'" style="color: red;" title="Suspend" data-toggle="modal" data-target="#suspend" (click)="onSuspend(b.id)"><i class="fa fa-times-circle"></i></button>
                <button type="button" class="btn btn-default btn-sm" *ngIf ="b.status=== 'suspend'" style="color: greenyellow;" title="Activate" data-toggle="modal" data-target="#activate" (click)="onActivate(b.id)"><i class="fa fa-check"></i></button>
            </td>
        </tr>
        <div *ngIf="!theater">
            <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    <div class="spinner-grow text-secondary" role="status">
    <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-success" role="status">
    <span class="sr-only">Loading...</span>
    </div>
        </div>                                                     
    </tbody>
    </table>

    </div>
    <div *ngIf=" role=='3003' && department=='Nurse' || role=='1001' || role==2001 || role==1002 " class="tab-pane" id="nurse">
    <table class="table table-hover table-custom spacing8">
    <thead>
        <tr> 
            <th>#</th>
            <th>Name</th>
            <th>Address</th>                                
            <th>Branch</th>
            <th>Department</th>               
            <th>Created Timestamp</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="branches">
        <tr *ngFor="let b of nurse; let r = index">
            <td>
                {{r+1}}
            </td>                              
            <td style="color: #17C2D7;">{{b.name}}</td>     
            <td style="color: #17C2D7;">{{b.address}}</td>            
            <td style="color: #17C2D7;">{{b.branch_name}}</td>
            <td style="color: #17C2D7;">{{b.dept_name}}</td> 
            <td style="color: #17C2D7;">  <small>{{b.created_at.slice(0,10)}}, </small> <small *ngIf="b.created_at.slice(10,13)%12==0"> {{b.created_at.slice(10,13)%12+12}}</small><small *ngIf="b.created_at.slice(10,13)%12!=0">{{b.created_at.slice(10,13)%12}}</small><small>{{b.created_at.slice(13,16)}}</small> <small *ngIf="b.created_at.slice(11,13)<=11">am</small><small *ngIf="b.created_at.slice(11,13)>=12">pm</small></td>                                         
            <td>
                <span class="badge badge-success" *ngIf ="b.status=== 'active'">Active</span>
                    <span class="badge badge-danger" *ngIf ="b.status=== 'suspend'">Suspend</span>                                   
            </td>                          
            <td>
                <button type="button" class="btn btn-default btn-sm" style="color: greenyellow;" title="Suspend" data-toggle="modal" data-target="#EditDepartments" (click)="onEdit(b.id)"><i class="fa fa-edit"></i></button>
                <button type="button" class="btn btn-default btn-sm" *ngIf ="b.status=== 'active'" style="color: red;" title="Suspend" data-toggle="modal" data-target="#suspend" (click)="onSuspend(b.id)"><i class="fa fa-times-circle"></i></button>
                <button type="button" class="btn btn-default btn-sm" *ngIf ="b.status=== 'suspend'" style="color: greenyellow;" title="Activate" data-toggle="modal" data-target="#activate" (click)="onActivate(b.id)"><i class="fa fa-check"></i></button>
            </td>
        </tr>
        <div *ngIf="!nurse">
            <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    <div class="spinner-grow text-secondary" role="status">
    <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-success" role="status">
    <span class="sr-only">Loading...</span>
    </div>
        </div>                                                     
    </tbody>
    </table>

    </div>
    <!-- <div *ngIf=" role=='3003' && department=='Ward' || role=='1001' || role==2001 || role==1002 " class="tab-pane" id="ward">
    <table class="table table-hover table-custom spacing8">
    <thead>
        <tr> 
            <th>#</th>
            <th>Name</th>
            <th>Address</th>                                
            <th>Branch</th>
            <th>Department</th>               
            <th>Created Timestamp</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="branches">
        <tr *ngFor="let b of ward; let r = index">
            <td>
                {{r+1}}
            </td>                              
            <td style="color: #17C2D7;">{{b.name}}</td>     
            <td style="color: #17C2D7;">{{b.address}}</td>           
            <td style="color: #17C2D7;">{{b.branch_name}}</td>
            <td style="color: #17C2D7;">{{b.dept_name}}</td> 
            <td style="color: #17C2D7;">  <small>{{b.created_at.slice(0,10)}}, </small> <small *ngIf="b.created_at.slice(10,13)%12==0"> {{b.created_at.slice(10,13)%12+12}}</small><small *ngIf="b.created_at.slice(10,13)%12!=0">{{b.created_at.slice(10,13)%12}}</small><small>{{b.created_at.slice(13,16)}}</small> <small *ngIf="b.created_at.slice(11,13)<=11">am</small><small *ngIf="b.created_at.slice(11,13)>=12">pm</small></td>                                         
            <td>
                <span class="badge badge-success" *ngIf ="b.status=== 'active'">Active</span>
                    <span class="badge badge-danger" *ngIf ="b.status=== 'suspend'">Suspend</span>                                   
            </td>                          
            <td>
                <button type="button" class="btn btn-default btn-sm" style="color: greenyellow;" title="Suspend" data-toggle="modal" data-target="#EditDepartments" (click)="onEdit(b.id)"><i class="fa fa-edit"></i></button>
                <button type="button" class="btn btn-default btn-sm" *ngIf ="b.status=== 'active'" style="color: red;" title="Suspend" data-toggle="modal" data-target="#suspend" (click)="onSuspend(b.id)"><i class="fa fa-times-circle"></i></button>
                <button type="button" class="btn btn-default btn-sm" *ngIf ="b.status=== 'suspend'" style="color: greenyellow;" title="Activate" data-toggle="modal" data-target="#activate" (click)="onActivate(b.id)"><i class="fa fa-check"></i></button>
            </td>
        </tr>
        <div *ngIf="!ward">
            <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    <div class="spinner-grow text-secondary" role="status">
    <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-success" role="status">
    <span class="sr-only">Loading...</span>
    </div>
        </div>                                                     
    </tbody>
    </table>

    </div> -->
    <div *ngIf=" role=='3003' && department=='Laboratory' || role=='1001' || role==2001 || role==1002 " class="tab-pane" id="lab">
    <table class="table table-hover table-custom spacing8">
    <thead>
        <tr> 
            <th>#</th>
            <th>Name</th>
            <th>Address</th>                                
            <th>Branch</th>
            <th>Department</th>                
            <th>Created Timestamp</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="branches">
        <tr *ngFor="let b of lab; let r = index">
            <td>
                {{r+1}}
            </td>                              
            <td style="color: #17C2D7;">{{b.name}}</td>     
            <td style="color: #17C2D7;">{{b.address}}</td>           
            <td style="color: #17C2D7;">{{b.branch_name}}</td>
            <td style="color: #17C2D7;">{{b.dept_name}}</td> 
            <td style="color: #17C2D7;">  <small>{{b.created_at.slice(0,10)}}, </small> <small *ngIf="b.created_at.slice(10,13)%12==0"> {{b.created_at.slice(10,13)%12+12}}</small><small *ngIf="b.created_at.slice(10,13)%12!=0">{{b.created_at.slice(10,13)%12}}</small><small>{{b.created_at.slice(13,16)}}</small> <small *ngIf="b.created_at.slice(11,13)<=11">am</small><small *ngIf="b.created_at.slice(11,13)>=12">pm</small></td>                                         
            <td>
                <span class="badge badge-success" *ngIf ="b.status=== 'active'">Active</span>
                    <span class="badge badge-danger" *ngIf ="b.status=== 'suspend'">Suspend</span>                                   
            </td>                          
            <td>
                <button type="button" class="btn btn-default btn-sm" style="color: greenyellow;" title="Suspend" data-toggle="modal" data-target="#EditDepartments" (click)="onEdit(b.id)"><i class="fa fa-edit"></i></button>
                <button type="button" class="btn btn-default btn-sm" *ngIf ="b.status=== 'active'" style="color: red;" title="Suspend" data-toggle="modal" data-target="#suspend" (click)="onSuspend(b.id)"><i class="fa fa-times-circle"></i></button>
                <button type="button" class="btn btn-default btn-sm" *ngIf ="b.status=== 'suspend'" style="color: greenyellow;" title="Activate" data-toggle="modal" data-target="#activate" (click)="onActivate(b.id)"><i class="fa fa-check"></i></button>
            </td>
        </tr>
        <div *ngIf="!Lab">
            <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    <div class="spinner-grow text-secondary" role="status">
    <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-success" role="status">
    <span class="sr-only">Loading...</span>
    </div>
        </div>                                                     
    </tbody>
    </table>

    </div>
    <div *ngIf="role=='1001' || role==1002" class="tab-pane" id="admin">
    <table class="table table-hover table-custom spacing8">
    <thead>
        <tr> 
            <th>#</th>
            <th>Name</th>
            <th>Address</th>                                
            <th>Branch</th>
            <th>Department</th>               
            <th>Created Timestamp</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="branches">
        <tr *ngFor="let b of admin; let r = index">
            <td>
                {{r+1}}
            </td>                              
            <td style="color: #17C2D7;">{{b.name}}</td>     
            <td style="color: #17C2D7;">{{b.address}}</td>            
            <td style="color: #17C2D7;">{{b.branch_name}}</td>
            <td style="color: #17C2D7;">{{b.dept_name}}</td> 
            <td style="color: #17C2D7;">  <small>{{b.created_at.slice(0,10)}}, </small> <small *ngIf="b.created_at.slice(10,13)%12==0"> {{b.created_at.slice(10,13)%12+12}}</small><small *ngIf="b.created_at.slice(10,13)%12!=0">{{b.created_at.slice(10,13)%12}}</small><small>{{b.created_at.slice(13,16)}}</small> <small *ngIf="b.created_at.slice(11,13)<=11">am</small><small *ngIf="b.created_at.slice(11,13)>=12">pm</small></td>                                         
            <td>
                <span class="badge badge-success" *ngIf ="b.status=== 'active'">Active</span>
                    <span class="badge badge-danger" *ngIf ="b.status=== 'suspend'">Suspend</span>                                   
            </td>                          
            <td>
                <button type="button" class="btn btn-default btn-sm" style="color: greenyellow;" title="Suspend" data-toggle="modal" data-target="#EditDepartments" (click)="onEdit(b.id)"><i class="fa fa-edit"></i></button>
                <button type="button" class="btn btn-default btn-sm" *ngIf ="b.status=== 'active'" style="color: red;" title="Suspend" data-toggle="modal" data-target="#suspend" (click)="onSuspend(b.id)"><i class="fa fa-times-circle"></i></button>
                <button type="button" class="btn btn-default btn-sm" *ngIf ="b.status=== 'suspend'" style="color: greenyellow;" title="Activate" data-toggle="modal" data-target="#activate" (click)="onActivate(b.id)"><i class="fa fa-check"></i></button>
            </td>
        </tr>
        <div  *ngIf="!admin">
            <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    <div class="spinner-grow text-secondary" role="status">
    <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-success" role="status">
    <span class="sr-only">Loading...</span>
    </div>
        </div>                                                     
    </tbody>
    </table>

    </div>
    </div> 
    </div>
    </div>
    </div>
    </div>
    </div> 
    <!-- Default Size -->
    <div class="modal fade" id="AddDepartments" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
    <h5 class="modal-title h4" id="myLargeModalLabel">Add Center</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">×</span>
    </button>
    </div>
    <form  class="form-auth-small m-t-20" role="form" (ngSubmit)="onSubmit(fm)" #fm="ngForm"> 
    <div class="modal-body">             
    <div class="row clearfix">
    <div class="col-md-8">
    <div class="form-group">
    <select name="branch_id" id="" required ngModel class="form-control">
    <option value="">Branch</option>
    <option *ngFor="let bran of branches" value="{{bran.id}}">{{bran.name}}</option>
    </select>
    <!-- <input type="text" class="form-control" placeholder="Branch Rep" ngModel name="sales_rep" required> -->
    </div>
    </div>             
    </div>
    </div>
    <div class="modal-body">             
    <div class="row clearfix">
    <div class="col-md-8">
    <div class="form-group">
    <select *ngIf="role=='1001' || role=='1002'" class="form-control "  id="" (change)="dept($event)" ngModel name="dept_id" required  >
        <option value="">Select department</option>
        <option *ngFor="let dep of depts" value="{{dep.id}}">{{dep.name}}</option>
    </select>  
    <select *ngIf="role=='2001'"  class="form-control "  id="" (change)="dept($event)" ngModel name="dept_id" required  >
        <option value="">Select department</option>
        <option *ngFor="let dep of clinic_dept" value="{{dep.id}}">{{dep.name}}</option>
    </select>  
    <select *ngIf="role=='2002'"  class="form-control "  id="" (change)="dept($event)" ngModel name="dept_id" required  >
        <option value="">Select department</option>
        <option *ngFor="let dep of oppration_dept" value="{{dep.id}}">{{dep.name}}</option>
    </select>
    <select *ngIf="role=='3003'"  class="form-control "  id="" (change)="dept($event)" ngModel name="dept_id" required  >
        <option value="">Select department</option>
        <option *ngFor="let dep of center_dept" value="{{dep.id}}">{{dep.name}}</option>
        
    </select>                        
    </div>
    </div>             
    </div>
    </div>  

    <div class="modal-body">             
    <div class="row clearfix">
    <div class="col-md-8">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Branch Name" ngModel name="bran_name" required>
    </div>
    </div>             
    </div>
    </div>
    <div class="modal-body">             
    <div class="row clearfix">
    <div class="col-md-8">
    <div class="form-group">
    <input type="text" class="form-control" placeholder="Branch Description" ngModel name="description" required>
    </div>
    </div>             
    </div>
    </div>
    
    <div class="modal-body">             
        <div class="row clearfix">
        <div class="col-md-8">
        <div class="form-group">
        <select name="center_type" id="" required ngModel class="form-control">
        <option value="">Center type</option>
        <option *ngFor="let dpt of app_type" value="{{dpt.id}}">{{dpt.name}}</option>
        </select>
        </div>
        </div>             
        </div>
    </div>
    <div class="modal-body">             
    <div class="row clearfix">
    <div class="col-md-8">
    <div class="form-group">
    <select name="sales_rep" id="" required ngModel class="form-control">
    <option value="">Select HOD</option>
    <option *ngFor="let dpt of staff" value="{{dpt.id}}">{{dpt.firstname}}</option>
    </select>
    <!-- <input type="text" class="form-control" placeholder="Branch Rep" ngModel name="sales_rep" required> -->
    </div>
    </div>             
    </div>
    </div>
    
   
<!-- 
    <div class="modal-body">             
    <div class="row clearfix">
    <div class="col-md-8">
    <div class="form-group">
        <select class="form-control show-tick" ngModel name="status">
            <option value="">-- Select Status --</option>
            <option value="active">Active</option>
            <option value="suspend">Suspend</option>                                
        </select>                  
    </div>
    </div>             
    </div>
    </div>       -->
    <div class="modal-footer">
    <button type="submit" class="btn btn-round btn-primary">Add<i *ngIf="disabled" class="fa fa-spin fa-spinner" aria-hidden="true"></i></button>
    <button type="button" class="btn btn-round btn-default" data-toggle="modal" aria-hidden="true" (click)="close()">Close</button>
    </div>
    </form>
    </div>
    </div>
    </div>


    <!-- Default Size -->
    <div class="modal fade" id="EditDepartments" tabindex="1" role="dialog">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
    <h5 class="modal-title h4" id="myLargeModalLabel">Update Branch</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">×</span>
    </button>
    </div>
    <form class="form-auth-small m-t-20" role="form" (ngSubmit)="onUpdateBranch(form)" #form="ngForm"> 
    <div class="modal-body">             
    <div class="modal-body"> 
        <div class="modal-body">             
            <div class="row clearfix">
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="">Branch</label>
                        <!-- <input type="text" > -->
                       <select class="form-control"  [(ngModel)]="center_id" name="branch_id" required>   
                           <option value="">{{center_name}}</option>                           
                           <option *ngFor="let cent of center" value="{{cent.id}}">{{cent.name}}</option>    
                       </select>                          
                    </div>
                </div>             
            </div>
            </div> 
            <div class="modal-body">             
                <div class="row clearfix">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="">Depertment</label>
                            <!-- <input type="text" > -->
                           <select class="form-control"   [(ngModel)]="depart_id" name="dept_id" required>    
                               <option value="">{{depart_name}}</option>                      
                               <option *ngFor="let dep of depart" value="{{dep.id}}">{{dep.name}}</option>
                           </select>                       
                        </div>
                    </div>             
                </div>
                </div>           
    <div class="row clearfix">
        <div class="col-md-8">
            <div class="form-group">
                <label for="">Center Name</label>
                <input type="text" class="form-control" [value]="catName" [(ngModel)]="branch_name"  ngModel name="name" required>
                <input type="hidden" [value]="manufid" [(ngModel)]="branch_id" name="id">

            </div>
        </div>             
    </div>
    </div>
    <div class="modal-body">             
        <div class="row clearfix">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="">Center Description</label>
                    <input type="text" class="form-control" [value]="catName" [(ngModel)]="branch_adress"  ngModel name="description" required>
                    <input type="hidden" [value]="manufid" ngModel name="id">
    
                    
                </div>
            </div>             
        </div>
        </div>
        <div class="modal-body">             
            <div class="row clearfix">
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="">CLINIC TYPE</label>
                        <!-- <input type="text" > -->
                       <select name="" id="" class="form-control"  [(ngModel)]="clinic_type" name="clinic_type" required>
                        <option value="">{{clinic_type}}</option> 
                           <option *ngFor="let clinic of clinic_types" value="{{clinic.id}}">{{clinic.name}}</option>
                       </select>
                        <input type="hidden" [value]="manufid" ngModel name="id">
                    </div>
                </div>             
            </div>
            </div>

        <div class="modal-body">             
            <div class="row clearfix">
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="">HOD</label>
                        <!-- <input type="text" > -->
                       <select name="" id="" class="form-control"  [(ngModel)]="branch_rep_id" name="sales_rep" required>
                        <option value="">{{branch_hod}}</option> 
                           <option *ngFor="let staff of staffs" value="{{staff.id}}">{{staff.firstname}}</option>
                       </select>
                        <input type="hidden" [value]="manufid" ngModel name="id">
                    </div>
                </div>             
            </div>
            </div>
            

          
        
       

    <div class="modal-body">             
    <div class="row clearfix">
        <div class="col-md-8">
            <div class="form-group">
                <label for="">Status</label>
                <select class="form-control show-tick" [(ngModel)]="branch_status" name="status">
                    <option value="">{{ branch_status}}</option>
                    <option active value="active">Active</option>
                    <option value="suspend">Suspend</option>                                
                </select>                  
            </div>
        </div>             
    </div>
    </div>      
    </div>
    <div class="modal-footer">
    <button type="submit" class="btn btn-round btn-success" >Update</button>
    <button type="button" class="btn btn-round btn-primary" data-dismiss="modal" >Close</button>
    </div>
    </form>
    </div>
    </div>
    </div>


    <div class="modal fade" id="EditDepartments2" tabindex="1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title h4" id="myLargeModalLabel">Edit Branch Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                    </button>
                </div>
                <form class="form-auth-small m-t-20" role="form" (ngSubmit)="onUpdate(ed)" #ed="ngForm"> 
                <div class="modal-body">             
                    <div class="row clearfix">
                        <div class="col-md-8">
                            <div class="form-group">
                           
                                <input type="text" class="form-control" [value]="deptName" ngModel name="name" >
                                <input hidden="true" [value]="deptid" ngModel name="id">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                               
                                <select class="form-control show-tick" ngModel name="position_id">
                                  <option value="">- Status -</option>
                                <option Value="active">Active</option> 
                                <option value="inactive">Inactive</option>  
                                </select>
                            </div>
                        </div>
                       
                        <div class="col-sm-12">
                            <div class="form-group mt-3">                            
                                <textarea rows="6" class="form-control no-resize" placeholder="Edit about the depertment..." [value]="deptDescrip" ngModel name="description"></textarea>
                            </div>
                        </div>
                       
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-round btn-primary">Update</button>
                    <button type="button" class="btn btn-round btn-default" data-dismiss="modal">Close</button>
                </div>
                </form>
            </div>
        </div>
        </div>
