<div id="main-content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row clearfix">
          <div class="col-md-6 col-sm-12">
              <h2>Invoice / Label Details</h2>
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#" [routerLink]="['/Admin', {outlets: {side: ['home']}}]">Home</a></li>
                  <li class="breadcrumb-item"><a href="#" [routerLink]="['/Admin', {outlets: {side: ['pharmacy_log']}}]">Phamarcy Log</a></li>
                  <li class="breadcrumb-item"><a href="#">Voucher</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Invoices</li>
                  </ol>
              </nav>
          </div>            
          <!-- <div class="col-md-6 col-sm-12 text-right hidden-xs">
              <a href="javascript:void(0);" class="btn btn-sm btn-primary btn-round" title="">Add New</a>
          </div> -->
      </div>
  </div>
      <div class="row clearfix">
          <div class="col-lg-12">
              <div class="card">
                  <div class="header">
                      <h2>Check Invoice <small> </small></h2>
                  </div>
                  <div class="body" id="print-history">
                      <div class="row clearfix" *ngIf = "inv.pres[0].status == 'invoice'"> 
                        <div class="col-md-12 col-sm-12">
                          <div class="text-center">
                          <img width="4%" src="../assets/images/icon.svg" alt="Check Logo" class="center"><span>Check HMS</span>
                          </div>
                          <div class="text-center">
                            <p><strong>Order ID: </strong> {{inv.pres[0].voucher_id}}</p> 
                          </div>
                          <hr>  
                        </div>
                          <div class="col-md-6 col-sm-6">                           
                            <p class="m-b-0"><strong>Order Date: </strong> {{inv.pres[0].p_date}}</p>
                              <p class="m-b-0"><strong>Name: </strong>{{inv.patient.name}} {{inv.patient.othername}}</p>
                              <p class="m-b-0"><strong>Card Number: </strong> {{inv.patient.card_number}}</p> 
                              <p class="m-b-0"><strong>Address: </strong>{{inv.patient.address}}, {{inv.patient.city}}, {{inv.patient.state}}, {{inv.patient.country}}</p>
                              <p class="m-b-0"><strong>Phone: </strong>{{inv.patient.mobile_number}}</p>                                   
                          </div>
                          <div class="col-md-6 col-sm-6 text-right">
                              
                          </div>
                      </div>
                      <div class="row clearfix">
                          <div class="col-md-12">
                              <div class="table-responsive">
                                  <table class="table table-hover table-custom spacing5 mb-5">
                                      <thead>
                                          <tr>
                                              <th>#</th>                                                        
                                              <th>Item</th>
                                              <th style="width: 120px;">Quantity</th>
                                              <th class="hidden-sm-down" style="width: 80px;">Cost</th>
                                              <th style="width: 80px; text-align: right">Total</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                            <tr *ngFor="let i of inv.pres; let n =index">
                                                <ng-container *ngIf = "i.status == 'invoice'" >
                                                    <td>{{n+1}}</td>
                                                    <td>
                                                        <span>{{i.generic_name}}</span>
                                                        <p class="hidden-sm-down mb-0 text-muted"> {{i.name}}</p>
                                                    </td>                                                    
                                                    <td>{{i.quantity}}</td>
                                                    <td class="hidden-sm-down">{{i.amount  | currency:'NGN':'symbol-narrow'}}</td>
                                                    <td class="text-right">{{i.amount_paid  | currency:'NGN':'symbol-narrow'}}</td>
                                                </ng-container>
                                            </tr>
                                      </tbody>
                                      <tfoot *ngIf = "inv.status == 'un-paid'">
                                          <td colspan="4"></td>
                                          <td class="text-right">
                                              <span>Total: <strong class="text-success">{{inv.totalAmount.amount  | currency:'NGN':'symbol-narrow'}}</strong></span>
                                          </td>
                                      </tfoot>
                                  </table>
                              </div>
                          </div>
                      </div>
                      <div class="row clearfix">
                          <div class="col-md-6">
                              <span><strong>Note:</strong> Ipsum is simply dummy text of the printing and typesetting industry.</span>
                          </div>
                      </div> 
                  </div>
                  <div class="row clearfix mt-2">
                        <div class="col-md-6 text-left">
                              <strong>Invoice Status: </strong><span class="badge badge-success">{{inv.pres[0].status}}</span>
                        </div>
                      <div class="col-md-6 text-right">
                          <button class="btn btn-info ml-2" printSectionId="print-history" ngxPrint><i class="icon-printer"></i>Print</button>
                          <button class="btn btn-success ml-2" (click)="saveToInvoice()" *ngIf = "inv.pres[0].status == 'invoice'"><i class="icon-printer"></i>Payment</button>
                          <button class="btn btn-success ml-2" (click)="saveToInvoice()" *ngIf = "inv.pres[0].status == 'paid'" disabled><i class="icon-printer"></i>Payment</button>
                          <button class="btn btn-danger ml-2" (click)="terminateAppointment(inv.pres[0].voucher_id)" title="Terminate Appointment"><i class="fa fa-times-circle"></i>Terminate Transaction</button>
                      </div>
                    </div>
              </div>                                       
          </div>
      </div>

      
  </div>

  <div class="container-fluid">
    <div class="block-header">
        <div class="row clearfix">
            <div class="col-md-6 col-sm-12">
                <h2>Label Table</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">                    
                    <li class="breadcrumb-item active" aria-current="page">The following lable description wounld be print immediatle Payment have been made</li>
                    </ol>
                </nav>
            </div>            
            <div class="col-md-6 col-sm-12 text-right hidden-xs">
                <button class="btn btn-sm btn-primary btn-round" title="End process after label is printed" *ngIf = "inv.pres[0].status == 'invoice'" disabled><i class="fa fa-hourglass-end"></i>End Process</button>
                <button class="btn btn-sm btn-primary btn-round"  (click)="closeAppointment()" title="End process after label is printed"*ngIf = "inv.pres[0].status == 'paid'"><i class="icon-printer"></i>End Process</button>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="table-responsive invoice_list mb-4">
                <table class="table table-hover table-custom spacing8">
                    <thead>
                        <tr> 
                            <th style="width: 20px;">#</th>
                            <th>Client</th>
                            <th style="width: 50px;">Amount</th>
                            <th style="width: 50px;">Status</th>
                            <th style="width: 110px;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let i of inv.pres; let n =index">
                            <ng-container *ngIf = "i.status == 'paid'" >
                                <td>
                                        <span>{{n+1}}</span>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                                <img src="http://localhost/buth-pharm/backend/public/upload/uploads/{{i.item_img}}" data-toggle="tooltip" data-placement="top" title="Avatar Name" alt="Avatar" class="w35 h35 rounded">
                                                <div class="ml-3">
                                                <a href="javascript:void(0);" title="{{i.generic_name}} ">{{i.generic_name}}</a>
                                                <p class="mb-0">{{i.name}}</p>
                                            </div>
                                        </div>                                        
                                    </td>
                                    <td>{{i.amount  | currency:'NGN':'symbol-narrow'}}</td>
                                    <td><span class="badge badge-success ml-0 mr-0">{{i.status}}</span></td>
                                    <td>
                                        <!-- <button type="button" class="btn btn-sm btn-default" title="Send Invoice" data-toggle="tooltip" data-placement="top"><i class="icon-envelope"></i></button> -->
                                        <button type="button" class="btn btn-sm btn-default" (click)="openPrintDialogue(i.id)" title="Print Label" data-toggle="tooltip" data-placement="top"><i class="icon-printer"></i></button>
                                        <!-- <button type="button" class="btn btn-sm btn-default" title="Delete" data-toggle="tooltip" data-placement="top"><i class="icon-trash"></i></button> -->
                                    </td>
                            </ng-container>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>