<div id="main-content">
  <div class="container-fluid">
      <div class="block-header">
          <div class="row clearfix">
              <div class="col-md-6 col-sm-12">
                  <h2>My Profile</h2>
                  <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                      <li class="breadcrumb-item"><a href="#">Pages</a></li>
                      <li class="breadcrumb-item active" aria-current="page">My Profile</li>
                      </ol>
                  </nav>
              </div>            
              <!-- <div class="col-md-6 col-sm-12 text-right hidden-xs">
                  <a href="javascript:void(0);" class="btn btn-sm btn-primary btn-round" title="">Add New</a>
              </div> -->
          </div>
      </div>
      <div class="row clearfix">
          <div class="col-md-12">
              <div class="card social">
                  <div class="profile-header d-flex justify-content-between justify-content-center">
                      <div class="d-flex">
                          <div class="mr-3">
                              <img src="https://{{imgLink}}/backend/public/upload/uploads/{{me.image}}" class="rounded" alt="">
                          </div>
                          <div class="details">
                              <h5 class="mb-0"><strong>{{me.firstname}} </strong>{{me.lastname}}</h5>
                              <p class="mb-0">Department: {{me.nameD}}</p>
                              <p class="mb-0">Role: {{me.role_name}}</p>
                              <!-- <p class="mb-0"><span>Posts: <strong>321</strong></span> <span>Followers: <strong>4,230</strong></span> <span>Following: <strong>560</strong></span></p> -->
                          </div>                                
                      </div>
                      <div>
                        <!-- <input type="file" name="file" class="btn btn-primary btn-sm" value="Change file" (change)="uploadFile($event)"> -->
                          <button class="btn btn-primary btn-sm">Change</button>
                          <!-- <button class="btn btn-success btn-sm">Message</button> -->
                      </div>
                  </div>
              </div>                    
          </div>

          <div class="col-xl-4 col-lg-4 col-md-5">
              <div class="card">
                  <div class="header">
                      <h2>Info</h2>
                      <ul class="header-dropdown dropdown">                                
                          <li><a href="javascript:void(0);" class="full-screen"><i class="icon-frame"></i></a></li>
                          <li class="dropdown">
                              <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                              <ul class="dropdown-menu">
                                  <li><a href="javascript:void(0);">Action</a></li>
                                  <li><a href="javascript:void(0);">Another Action</a></li>
                                  <li><a href="javascript:void(0);">Something else</a></li>
                              </ul>
                          </li>
                      </ul>
                  </div>
                  <div class="body">
                      <small class="text-muted">Address: </small>
                      <p>{{me.address}}</p>
                      <div>
                          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1923731.7533500232!2d-120.39098936853455!3d37.63767091877441!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80859a6d00690021%3A0x4a501367f076adff!2sSan+Francisco%2C+CA%2C+USA!5e0!3m2!1sen!2sin!4v1522391841133" width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
                      </div>
                      <hr>
                      <small class="text-muted">Email address: </small>
                      <p>{{me.email}}</p>                            
                      <hr>
                      <small class="text-muted">Mobile: </small>
                      <p>{{me.mobile_number}}</p>
                      <hr>
                      <small class="text-muted">Gender: </small>
                      <p class="m-b-0">{{me.gender}}</p>
                      <hr>
                      <small class="text-muted">Social: </small>
                      <p><i class="fa fa-twitter m-r-5"></i> {{me.twitter_handle}}</p>
                      <p><i class="fa fa-facebook  m-r-5"></i> {{me.facebook_handle}}</p>
                      <p><i class="fa fa-github m-r-5"></i> github.com/example</p>
                      <p><i class="fa fa-instagram m-r-5"></i> {{me.instagram_handle}}</p>
                  </div>
              </div>
          </div>

          <div class="col-xl-8 col-lg-8 col-md-7">
              <div class="card">
                  <div class="header">
                      <h2>Basic Information</h2>
                      <ul class="header-dropdown dropdown">                                
                          <li><a href="javascript:void(0);" class="full-screen"><i class="icon-frame"></i></a></li>
                          <li class="dropdown">
                              <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                              <ul class="dropdown-menu">
                                  <li><a href="javascript:void(0);">Action</a></li>
                                  <li><a href="javascript:void(0);">Another Action</a></li>
                                  <li><a href="javascript:void(0);">Something else</a></li>
                              </ul>
                          </li>
                      </ul>
                  </div>
                  <div class="body">
                    <form [formGroup]="submissionForm" >
                      <div class="row clearfix">
                          <div class="col-lg-6 col-md-12">
                              <div class="form-group">                                                
                                  <input type="text" class="form-control" formControlName="firstname" >
                              </div>
                          </div>
                          <div class="col-lg-6 col-md-12">
                              <div class="form-group">                                                
                                  <input type="text" class="form-control" formControlName="lastname">
                              </div>
                          </div>
                          <div class="col-lg-4 col-md-12">
                              <div class="form-group">
                                <input type="text" class="form-control" formControlName="email">
                              </div>
                          </div>
                          <div class="col-lg-4 col-md-12">
                              <div class="form-group">
                                  <div class="input-group">
                                    <input type="text" class="form-control" formControlName="mobile_number" placeholder="mobile number">
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-4 col-md-12">
                              <div class="form-group">
                                  <div class="input-group">
                                      <div class="input-group-prepend">
                                          <span class="input-group-text"><i class="icon-globe"></i></span>
                                      </div>
                                      <input type="text" class="form-control" formControlName="twitter_handle" placeholder="Twitter link">
                                      
                                  </div>
                              </div>
                          </div>                                
                          <div class="col-lg-4 col-md-12">
                              <div class="form-group">
                                <input type="text" class="form-control" formControlName="facebook_handle" placeholder="Facebook link">
                              </div>
                          </div>
                          <div class="col-lg-4 col-md-12">
                            <div class="form-group">
                              <input type="text" class="form-control" formControlName="instagram_handle" placeholder="Instagram link">
                            </div>
                        </div>
                          <div class="col-lg-4 col-md-12">
                              <div class="form-group">
                                  <input type="text" class="form-control" formControlName="state" placeholder="State">
                              </div>
                          </div>
                          <div class="col-lg-4 col-md-12">
                            <div class="form-group">
                          <label>Change file</label><br>
                          <input type="file" name="file"  (change)="uploadFile($event)">
                          </div>
                          </div>
                          <div class="col-lg-4 col-md-12">
                              <div class="form-group">
                                  <input type="text" class="form-control" formControlName="city" placeholder="City">
                              </div>
                          </div>
                          <div class="col-lg-12 col-md-12">
                              <div class="form-group">                                                
                                  <textarea rows="4" type="text" class="form-control" formControlName="address" placeholder="Address"></textarea>
                              </div>
                          </div>
                          <div class="col-12">
                              <ul class="list-group mb-3 tp-setting">
                                  <li class="list-group-item">
                                      Anyone seeing my profile page
                                      <div class="float-right">
                                          <label class="switch">
                                              <input type="checkbox" checked>
                                              <span class="slider round"></span>
                                          </label>
                                      </div>
                                  </li>
                                  <li class="list-group-item">
                                      Anyone send me a message
                                      <div class="float-right">
                                          <label class="switch">
                                              <input type="checkbox">
                                              <span class="slider round"></span>
                                          </label>
                                      </div>
                                  </li>
                                  <li class="list-group-item">
                                      Anyone posts a comment on my post
                                      <div class="float-right">
                                          <label class="switch">
                                              <input type="checkbox" checked>
                                              <span class="slider round"></span>
                                          </label>
                                      </div>
                                  </li>
                                  <li class="list-group-item">
                                      Anyone invite me to group
                                      <div class="float-right">
                                          <label class="switch">
                                              <input type="checkbox" checked>
                                              <span class="slider round"></span>
                                          </label>
                                      </div>
                                  </li>
                              </ul>
                          </div>
                      </div>
                      <button type="button" (click)="onSubmitprofile()" class="btn btn-round btn-primary">Update</button> &nbsp;&nbsp;
                      <button type="button" class="btn btn-round btn-default">Cancel</button>
                      </form>
                  </div>
              </div>
              <div class="card">
                  <div class="header">
                      <h2>Account Data</h2>
                  </div>
                  <div class="body">
                      <div class="row clearfix">
                          <div class="col-lg-4 col-md-12">                                            
                              <div class="form-group">                                                
                                  <input type="text" class="form-control" value="louispierce" disabled placeholder="Username">
                              </div>
                          </div>
                          <div class="col-lg-4 col-md-12">
                              <div class="form-group">
                                  <input type="email" class="form-control" value="louis.info@yourdomain.com" placeholder="Email">
                              </div>
                          </div>
                          <div class="col-lg-4 col-md-12">
                              <div class="form-group">
                                  <input type="text" class="form-control" placeholder="Phone Number">
                              </div>
                          </div>                                
                          <div class="col-lg-12 col-md-12">
                            <form class="form-auth-small m-t-20" role="form" (ngSubmit)="onChangePwd(payloads)" #payloads="ngForm">  
                              <hr>
                              <h6>Change Password</h6>
                              <div class="form-group">
                                  <input type="password" class="form-control" placeholder="Current Password"ngModel name="current_password" required>
                              </div>
                              <div class="form-group">
                                  <input type="password" class="form-control" (keyup)="get1($event)" placeholder="New Password" ngModel name="new_password" required>
                              </div>
                              <div class="form-group">
                                  <input type="password" class="form-control" (keyup)="get2($event)" placeholder="Confirm New Password" required>
                              </div>
                              <div class="text-danger" [hidden]="!error">
                                    {{error}}
                                </div>
                              <button type="submit" class="btn btn-round btn-primary">Update</button> &nbsp;&nbsp;
                            </form>
                          </div>
                      </div>
                      <!-- <button type="button" class="btn btn-round btn-default">Cancel</button> -->
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>