<div id="main-content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-md-6 col-sm-12">
                    <h1>Taskboard</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="../html/index.html">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="index.html">Hospital</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Taskboard</li>
                        </ol>
                    </nav>
                </div>            
                <!-- <div class="col-md-6 col-sm-12 text-right hidden-xs">
                    <a href="javascript:void(0);" class="btn btn-sm btn-primary" title="">Create Campaign</a>
                    <a href="https://themeforest.net/item/oculux-bootstrap-4x-admin-dashboard-clean-modern-ui-kit/23091507" class="btn btn-sm btn-success" title="Themeforest"><i class="icon-basket"></i> Buy Now</a>
                </div> -->
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card">
                    <div class="body taskboard b-cyan planned_task">
                        <h6 class="font300 mb-3">Planned <span class="float-right">02</span></h6>                            
                        <div class="dd" data-plugin="nestable">
                            <ol class="dd-list">
                                <li class="dd-item" data-id="1">
                                    <div class="dd-handle d-flex justify-content-between align-items-center">
                                        <div>Themeforest update</div>
                                        <div class="action">
                                            <a href="javascript:void(0);"><i class="fa fa-edit"></i></a>
                                            <a href="javascript:void(0);"><i class="fa fa-trash-o"></i></a>
                                        </div>
                                    </div>
                                    <div class="dd-content p-15">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                        <ul class="list-unstyled d-flex bd-highlight align-items-center">
                                            <li class="mr-2 flex-grow-1 bd-highlight"><span class="badge badge-default"><i class="fa fa-clock-o"></i> 18 Jan</span></li>
                                            <li class="ml-3 bd-highlight"><a href="javascript:void(0);" class="text-muted"><i class="zmdi zmdi-comments"></i> 5</a></li>
                                            <li class="ml-3 bd-highlight"><a href="javascript:void(0);" class="text-muted"><i class="zmdi zmdi-check-square"></i> 11</a></li>
                                            <li class="ml-3 bd-highlight">
                                                <ul class="list-unstyled sm team-info margin-0">
                                                    <li><img src="../assets/images/xs/avatar7.jpg" alt="Avatar"></li>
                                                    <li><img src="../assets/images/xs/avatar8.jpg" alt="Avatar"></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="dd-item" data-id="2">
                                    <div class="dd-handle d-flex justify-content-between align-items-center">
                                        <div>Sites to review</div>
                                        <div class="action">
                                            <a href="javascript:void(0);"><i class="fa fa-edit"></i></a>
                                            <a href="javascript:void(0);"><i class="fa fa-trash-o"></i></a>
                                        </div>
                                    </div>
                                    <div class="dd-content p-15">
                                        <p>Contrary to popular belief, Lorem Ipsum is not simply.</p>
                                        <ul class="list-unstyled d-flex bd-highlight align-items-center">
                                            <li class="mr-2 flex-grow-1 bd-highlight"><span class="badge badge-default"><i class="fa fa-clock-o"></i> 28 Jan</span></li>
                                            <li class="ml-3 bd-highlight"><a href="javascript:void(0);" class="text-muted"><i class="zmdi zmdi-comments"></i> 2</a></li>
                                            <li class="ml-3 bd-highlight"><a href="javascript:void(0);" class="text-muted"><i class="zmdi zmdi-check-square"></i> 8</a></li>
                                        </ul>
                                    </div>
                                </li>                                   
                            </ol>
                        </div>
                        <button class="btn btn-primary btn-block" type="button">ADD NEW</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card">
                    <div class="body taskboard b-orange progress_task">
                        <h6 class="font300 mb-3">In progress <span class="float-right">04</span></h6>
                        <div class="dd" data-plugin="nestable">
                            <ol class="dd-list">
                                <li class="dd-item" data-id="2">
                                    <div class="dd-handle d-flex justify-content-between align-items-center">
                                        <div>Sites to review</div>
                                        <div class="action">
                                            <a href="javascript:void(0);"><i class="fa fa-edit"></i></a>
                                            <a href="javascript:void(0);"><i class="fa fa-trash-o"></i></a>
                                        </div>
                                    </div>
                                    <div class="dd-content p-15">
                                        <p>Contrary to popular belief, Lorem Ipsum is not simply.</p>
                                        <ul class="list-unstyled d-flex bd-highlight align-items-center">
                                            <li class="mr-2 flex-grow-1 bd-highlight"><span class="badge badge-default"><i class="fa fa-clock-o"></i> 28 Jan</span></li>
                                            <li class="ml-3 bd-highlight"><a href="javascript:void(0);" class="text-muted"><i class="zmdi zmdi-comments"></i> 2</a></li>
                                            <li class="ml-3 bd-highlight"><a href="javascript:void(0);" class="text-muted"><i class="zmdi zmdi-check-square"></i> 8</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="dd-item" data-id="3">
                                    <div class="dd-handle d-flex justify-content-between align-items-center">
                                        <div>Client Followup</div>
                                        <div class="action">
                                            <a href="javascript:void(0);"><i class="fa fa-edit"></i></a>
                                            <a href="javascript:void(0);"><i class="fa fa-trash-o"></i></a>
                                        </div>
                                    </div>
                                    <div class="dd-content p-15">
                                        <p>It is a long established fact that a reader.</p>
                                        <ul class="list-unstyled d-flex bd-highlight align-items-center">
                                            <li class="mr-2 flex-grow-1 bd-highlight"><span class="badge badge-default"><i class="fa fa-clock-o"></i> 05 Feb</span></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="dd-item" data-id="3">
                                    <div class="dd-handle d-flex justify-content-between align-items-center">
                                        <div>Client Followup</div>
                                        <div class="action">
                                            <a href="javascript:void(0);"><i class="fa fa-edit"></i></a>
                                            <a href="javascript:void(0);"><i class="fa fa-trash-o"></i></a>
                                        </div>
                                    </div>
                                    <div class="dd-content p-15">
                                        <p>It is a long established fact that a reader.</p>
                                        <ul class="list-unstyled d-flex bd-highlight align-items-center">
                                            <li class="mr-2 flex-grow-1 bd-highlight"><span class="badge badge-default"><i class="fa fa-clock-o"></i> 05 Feb</span></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="dd-item" data-id="2">
                                    <div class="dd-handle d-flex justify-content-between align-items-center">
                                        <div>Sites to review</div>
                                        <div class="action">
                                            <a href="javascript:void(0);"><i class="fa fa-edit"></i></a>
                                            <a href="javascript:void(0);"><i class="fa fa-trash-o"></i></a>
                                        </div>
                                    </div>
                                    <div class="dd-content p-15">
                                        <p>Contrary to popular belief, Lorem Ipsum is not simply.</p>
                                        <ul class="list-unstyled d-flex bd-highlight align-items-center">
                                            <li class="mr-2 flex-grow-1 bd-highlight"><span class="badge badge-default"><i class="fa fa-clock-o"></i> 28 Jan</span></li>
                                            <li class="ml-3 bd-highlight"><a href="javascript:void(0);" class="text-muted"><i class="zmdi zmdi-comments"></i> 2</a></li>
                                            <li class="ml-3 bd-highlight"><a href="javascript:void(0);" class="text-muted"><i class="zmdi zmdi-check-square"></i> 8</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ol>
                        </div>
                        <button class="btn btn-primary btn-block" type="button">ADD NEW</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card">
                    <div class="body taskboard b-green completed_task">
                        <h6 class="font300 mb-3">Complete <span class="float-right">03</span></h6>
                        <div class="dd" data-plugin="nestable">
                            <ol class="dd-list">
                                <li class="dd-item" data-id="1">
                                    <div class="dd-handle d-flex justify-content-between align-items-center">
                                        <div>Themeforest update</div>
                                        <div class="action">
                                            <a href="javascript:void(0);"><i class="fa fa-edit"></i></a>
                                            <a href="javascript:void(0);"><i class="fa fa-trash-o"></i></a>
                                        </div>
                                    </div>
                                    <div class="dd-content p-15">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                        <ul class="list-unstyled d-flex bd-highlight align-items-center">
                                            <li class="mr-2 flex-grow-1 bd-highlight"><span class="badge badge-default"><i class="fa fa-clock-o"></i> 18 Jan</span></li>
                                            <li class="ml-3 bd-highlight"><a href="javascript:void(0);" class="text-muted"><i class="zmdi zmdi-comments"></i> 5</a></li>
                                            <li class="ml-3 bd-highlight"><a href="javascript:void(0);" class="text-muted"><i class="zmdi zmdi-check-square"></i> 11</a></li>
                                            <li class="ml-3 bd-highlight">
                                                <ul class="list-unstyled sm team-info margin-0">
                                                    <li><img src="../assets/images/xs/avatar7.jpg" alt="Avatar"></li>
                                                    <li><img src="../assets/images/xs/avatar8.jpg" alt="Avatar"></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="dd-item" data-id="2">
                                    <div class="dd-handle d-flex justify-content-between align-items-center">
                                        <div>Sites to review</div>
                                        <div class="action">
                                            <a href="javascript:void(0);"><i class="fa fa-edit"></i></a>
                                            <a href="javascript:void(0);"><i class="fa fa-trash-o"></i></a>
                                        </div>
                                    </div>
                                    <div class="dd-content p-15">
                                        <p>Contrary to popular belief, Lorem Ipsum is not simply.</p>
                                        <ul class="list-unstyled d-flex bd-highlight align-items-center">
                                            <li class="mr-2 flex-grow-1 bd-highlight"><span class="badge badge-default"><i class="fa fa-clock-o"></i> 28 Jan</span></li>
                                            <li class="ml-3 bd-highlight"><a href="javascript:void(0);" class="text-muted"><i class="zmdi zmdi-comments"></i> 2</a></li>
                                            <li class="ml-3 bd-highlight"><a href="javascript:void(0);" class="text-muted"><i class="zmdi zmdi-check-square"></i> 8</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="dd-item" data-id="3">
                                    <div class="dd-handle d-flex justify-content-between align-items-center">
                                        <div>Client Followup</div>
                                        <div class="action">
                                            <a href="javascript:void(0);"><i class="fa fa-edit"></i></a>
                                            <a href="javascript:void(0);"><i class="fa fa-trash-o"></i></a>
                                        </div>
                                    </div>
                                    <div class="dd-content p-15">
                                        <p>It is a long established fact that a reader.</p>
                                        <ul class="list-unstyled d-flex bd-highlight align-items-center">
                                            <li class="mr-2 flex-grow-1 bd-highlight"><span class="badge badge-default"><i class="fa fa-clock-o"></i> 05 Feb</span></li>
                                        </ul>
                                    </div>
                                </li>
                            </ol>
                        </div>
                        <button class="btn btn-primary btn-block" type="button">ADD NEW</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card">
                    <div class="body taskboard b-red incompleted_task">
                        <h6 class="font300 mb-3">In Complete <span class="float-right">02</span></h6>
                        <div class="dd" data-plugin="nestable">
                            <ol class="dd-list">
                                <li class="dd-item" data-id="1">
                                    <div class="dd-handle d-flex justify-content-between align-items-center">
                                        <div>Themeforest update</div>
                                        <div class="action">
                                            <a href="javascript:void(0);"><i class="fa fa-edit"></i></a>
                                            <a href="javascript:void(0);"><i class="fa fa-trash-o"></i></a>
                                        </div>
                                    </div>
                                    <div class="dd-content p-15">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                        <ul class="list-unstyled d-flex bd-highlight align-items-center">
                                            <li class="mr-2 flex-grow-1 bd-highlight"><span class="badge badge-default"><i class="fa fa-clock-o"></i> 18 Jan</span></li>
                                            <li class="ml-3 bd-highlight"><a href="javascript:void(0);" class="text-muted"><i class="zmdi zmdi-comments"></i> 5</a></li>
                                            <li class="ml-3 bd-highlight"><a href="javascript:void(0);" class="text-muted"><i class="zmdi zmdi-check-square"></i> 11</a></li>
                                            <li class="ml-3 bd-highlight">
                                                <ul class="list-unstyled sm team-info margin-0">
                                                    <li><img src="../assets/images/xs/avatar7.jpg" alt="Avatar"></li>
                                                    <li><img src="../assets/images/xs/avatar8.jpg" alt="Avatar"></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="dd-item" data-id="3">
                                    <div class="dd-handle d-flex justify-content-between align-items-center">
                                        <div>Client Followup</div>
                                        <div class="action">
                                            <a href="javascript:void(0);"><i class="fa fa-edit"></i></a>
                                            <a href="javascript:void(0);"><i class="fa fa-trash-o"></i></a>
                                        </div>
                                    </div>
                                    <div class="dd-content p-15">
                                        <p>It is a long established fact that a reader.</p>
                                        <ul class="list-unstyled d-flex bd-highlight align-items-center">
                                            <li class="mr-2 flex-grow-1 bd-highlight"><span class="badge badge-default"><i class="fa fa-clock-o"></i> 05 Feb</span></li>
                                        </ul>
                                    </div>
                                </li>
                            </ol>
                        </div>
                        <button class="btn btn-primary btn-block" type="button">ADD NEW</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>