
    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row clearfix">
                    <div class="col-md-6 col-sm-12">
                        <h1>All Patient</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="../html/index.html">Oculux</a></li>
                            <li class="breadcrumb-item"><a href="index.html">Hospital</a></li>
                            <li class="breadcrumb-item active" aria-current="page">All Patient</li>
                            </ol>
                        </nav>
                    </div>            
                    <div class="col-md-6 col-sm-12 text-right hidden-xs">
                        <button class="btn btn-sm btn-primary" title="">Add</button>
                        <a href="https://themeforest.net/item/oculux-bootstrap-4x-admin-dashboard-clean-modern-ui-kit/23091507" class="btn btn-sm btn-success" title="Themeforest"><i class="icon-basket"></i> Buy Now</a>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-sm-12">
                    <div class="table-responsive">                        
                        <table class="table table-hover table-custom spacing5">
                            <thead>
                                <tr>                                       
                                    <th>Media</th>
                                    <th>Patients ID</th>
                                    <th>Name</th>
                                    <th>Age</th>
                                    <th>Address</th>
                                    <th>Number</th>
                                    <th>Last Visit</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="w60">
                                        <img src="../assets/images/xs/avatar1.jpg" data-toggle="tooltip" data-placement="top" title="" alt="Avatar" class="w35 rounded" data-original-title="Avatar Name">
                                    </td>
                                    <td><span class="list-name">US 00598</span></td>
                                    <td>Daniel</td>
                                    <td>32</td>
                                    <td>71 Pilgrim Avenue Chevy Chase, MD 20815</td>
                                    <td>404-447-7845</td>
                                    <td>11 Jan 2019</td>
                                    <td><span class="badge badge-success">Approved</span></td>
                                </tr>
                                <tr>
                                    <td class="w60">
                                        <img src="../assets/images/xs/avatar2.jpg" data-toggle="tooltip" data-placement="top" title="" alt="Avatar" class="w35 rounded" data-original-title="Avatar Name">
                                    </td>
                                    <td><span class="list-name">DR 00258</span></td>
                                    <td>Alexander</td>
                                    <td>22</td>
                                    <td>123 6th St. Melbourne, FL 32904</td>
                                    <td>404-447-6013</td>
                                    <td>15 Jan 2019</td>
                                    <td><span class="badge badge-success">Approved</span></td>
                                </tr>
                                <tr>
                                    <td class="w60">
                                        <img src="../assets/images/xs/avatar3.jpg" data-toggle="tooltip" data-placement="top" title="" alt="Avatar" class="w35 rounded" data-original-title="Avatar Name">
                                    </td>
                                    <td><span class="list-name">YM 00369</span></td>
                                    <td>Richard</td>
                                    <td>26</td>
                                    <td>123 6th St. Melbourne, FL 32904</td>
                                    <td>404-447-8545</td>
                                    <td>16 Jan 2019</td>
                                    <td><span class="badge badge-success">Approved</span></td>
                                </tr>
                                <tr>
                                    <td class="w60">
                                        <img src="../assets/images/xs/avatar4.jpg" data-toggle="tooltip" data-placement="top" title="" alt="Avatar" class="w35 rounded" data-original-title="Avatar Name">
                                    </td>
                                    <td><span class="list-name">SO 00147</span></td>
                                    <td>Samuel</td>
                                    <td>45</td>
                                    <td>71 Pilgrim Avenue Chevy Chase, MD 20815</td>
                                    <td>404-447-5963</td>
                                    <td>17 Jan 2019</td>
                                    <td><span class="badge badge-success">Approved</span></td>
                                </tr>
                                <tr>
                                    <td class="w60">
                                        <img src="../assets/images/xs/avatar5.jpg" data-toggle="tooltip" data-placement="top" title="" alt="Avatar" class="w35 rounded" data-original-title="Avatar Name">
                                    </td>
                                    <td><span class="list-name">JW 00123</span></td>
                                    <td>Stephen</td>
                                    <td>55</td>
                                    <td>71 Pilgrim Avenue Chevy Chase, MD 20815</td>
                                    <td>404-447-6013</td>
                                    <td>18 Jan 2019</td>
                                    <td><span class="badge badge-success">Approved</span></td>
                                </tr>
                                <tr>
                                    <td class="w60">
                                        <img src="../assets/images/xs/avatar6.jpg" data-toggle="tooltip" data-placement="top" title="" alt="Avatar" class="w35 rounded" data-original-title="Avatar Name">
                                    </td>
                                    <td><span class="list-name">GY 00456</span></td>
                                    <td>Joseph</td>
                                    <td>27</td>
                                    <td>70 Bowman St. South Windsor, CT 06074</td>
                                    <td>404-447-7845</td>
                                    <td>19 Jan 2019</td>
                                    <td><span class="badge badge-success">Approved</span></td>
                                </tr>
                                <tr>
                                    <td class="w60">
                                        <img src="../assets/images/xs/avatar7.jpg" data-toggle="tooltip" data-placement="top" title="" alt="Avatar" class="w35 rounded" data-original-title="Avatar Name">
                                    </td>
                                    <td><span class="list-name">EG 00789</span></td>
                                    <td>Cameron</td>
                                    <td>38</td>
                                    <td>123 6th St. Melbourne, FL 32904</td>
                                    <td>404-447-4593</td>
                                    <td>19 Jan 2019</td>
                                    <td><span class="badge badge-warning">Pending</span></td>
                                </tr>
                                <tr>
                                    <td class="w60">
                                        <img src="../assets/images/xs/avatar8.jpg" data-toggle="tooltip" data-placement="top" title="" alt="Avatar" class="w35 rounded" data-original-title="Avatar Name">
                                    </td>
                                    <td><span class="list-name">PD 00987</span></td>
                                    <td>Alex</td>
                                    <td>39</td>
                                    <td>123 6th St. Melbourne, FL 32904</td>
                                    <td>404-447-1593</td>
                                    <td>20 Jan 2019</td>
                                    <td><span class="badge badge-success">Approved</span></td>
                                </tr>
                                <tr>
                                    <td class="w60">
                                        <img src="../assets/images/xs/avatar1.jpg" data-toggle="tooltip" data-placement="top" title="" alt="Avatar" class="w35 rounded" data-original-title="Avatar Name">
                                    </td>
                                    <td><span class="list-name">AA 00951</span></td>
                                    <td>James</td>
                                    <td>32</td>
                                    <td>44 Shirley Ave. West Chicago, IL 60185</td>
                                    <td>404-447-6013</td>
                                    <td>22 Jan 2019</td>
                                    <td><span class="badge badge-warning">Pending</span></td>
                                </tr>
                                <tr>
                                    <td class="w60">
                                        <img src="../assets/images/xs/avatar2.jpg" data-toggle="tooltip" data-placement="top" title="" alt="Avatar" class="w35 rounded" data-original-title="Avatar Name">
                                    </td>
                                    <td><span class="list-name">JS 00953</span></td>
                                    <td>charlie</td>
                                    <td>51</td>
                                    <td>123 6th St. Melbourne, FL 32904</td>
                                    <td>404-447-2478</td>
                                    <td>22 Jan 2019</td>
                                    <td><span class="badge badge-warning">Pending</span></td>
                                </tr>
                                <tr>
                                    <td class="w60">
                                        <img src="../assets/images/xs/avatar3.jpg" data-toggle="tooltip" data-placement="top" title="" alt="Avatar" class="w35 rounded" data-original-title="Avatar Name">
                                    </td>
                                    <td><span class="list-name">TS 00984</span></td>
                                    <td>William</td>
                                    <td>35</td>
                                    <td>123 6th St. Melbourne, FL 32904</td>
                                    <td>404-447-9865</td>
                                    <td>22 Jan 2019</td>
                                    <td><span class="badge badge-success">Approved</span></td>
                                </tr>
                                <tr>
                                    <td class="w60">
                                        <img src="../assets/images/xs/avatar4.jpg" data-toggle="tooltip" data-placement="top" title="" alt="Avatar" class="w35 rounded" data-original-title="Avatar Name">
                                    </td>
                                    <td><span class="list-name">RT 00934</span></td>
                                    <td>Bing</td>
                                    <td>26</td>
                                    <td>123 6th St. Melbourne, FL 32904</td>
                                    <td>404-447-5622</td>
                                    <td>29 Jan 2019</td>
                                    <td><span class="badge badge-warning">Pending</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


