<div id="main-content">
  <div class="container-fluid">
      <div class="block-header">
          <div class="row clearfix">
              <div class="col-md-6 col-sm-12">
                  <h1>Branch Setup</h1>
                  <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="/">Dashboard</a></li>                  
                      <li class="breadcrumb-item active" aria-current="page">Brances</li>
                      </ol>
                  </nav>
              </div>            
              <div class="col-md-6 col-sm-12 text-right hidden-xs">
                  <button class="btn btn-sm btn-primary" title="" data-toggle="modal" data-target="#AddDepartments">Add Branch</button>
              </div>
          </div>
      </div>

      <div class="row clearfix">
          <div class="col-sm-12">
              <div class="table-responsive">
                  <table class="table table-hover table-custom spacing8">
                      <thead>
                          <tr> 
                              <th>#</th>
                              <th>Branch Name</th>
                              <th>Branch Address</th>
                              <!-- <th>Total Staff</th> -->
                              <th>Status</th>
                              <th>Action</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let d of dept; let r=index">
                              <td>
                                {{r+1}}
                              </td>
                              <td>{{d.name}}</td>
                              <td>{{d.address}}</td>                               
                              
                              <td>{{d.status}}</td>   
                              <td>
                                  <button type="button" class="btn btn-default btn-sm" title="Edit" data-toggle="modal" data-target="#EditDepartments" (click)="editdept(d.id)"><i class="fa fa-pencil"></i></button>
                                  <button type="button" class="btn btn-default btn-sm" title="Delete" data-toggle="modal" (click)="onDelete(d.id)"><i class="fa fa-trash-o"></i></button>
                              </td>
                          </tr>                                                   
                      </tbody>
                  </table>                    
              </div>
          </div>
      </div>
  </div>
</div>



<div class="modal fade" id="AddDepartments" tabindex="-1" role="dialog">
<div class="modal-dialog" role="document">
  <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title h4" id="myLargeModalLabel">Add Branche</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
          </button>
      </div>
      <form class="form-auth-small m-t-20" role="form" (ngSubmit)="onSubmit(fm)" #fm="ngForm"> 
      <div class="modal-body">             
          <div class="row clearfix">
              <div class="col-md-8">
                  <div class="form-group">
                    <label>Branch Name</label>
                      <input type="text" class="form-control" placeholder="Branch Name" ngModel name="name" required>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="form-group">
                    <label>Status</label>
                      <select class="form-control show-tick" ngModel name="status">
                          <option value="">- Status -</option>
                          <option Value="active">Active</option> 
                          <option value="inactive">Inactive</option>                                
                      </select>
                  </div>
              </div>
             
              <div class="col-sm-12">
                  <div class="form-group mt-3">
                    <label>Address</label>
                      <textarea rows="6" class="form-control no-resize" placeholder="Address" ngModel name="address" required></textarea>
                  </div>
              </div>
            
          </div>
      </div>
      <div class="modal-footer">
          <button type="submit" class="btn btn-round btn-primary">Submit</button>
          <button type="button" class="btn btn-round btn-default" data-dismiss="modal">Close</button>
      </div>
      </form>
  </div>
</div>
</div>

<div class="modal fade" id="EditDepartments" tabindex="1" role="dialog">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title h4" id="myLargeModalLabel">Edit Branch Information</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
              </button>
          </div>
          <form class="form-auth-small m-t-20" role="form" (ngSubmit)="onUpdate(ed)" #ed="ngForm"> 
          <div class="modal-body">             
              <div class="row clearfix">
                  <div class="col-md-8">
                      <div class="form-group">
                     
                          <input type="text" class="form-control" [value]="deptName" ngModel name="name" >
                          <input hidden="true" [value]="deptid" ngModel name="id">
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="form-group">
                         
                          <select class="form-control show-tick" ngModel name="position_id">
                            <option value="">- Status -</option>
                          <option Value="active">Active</option> 
                          <option value="inactive">Inactive</option>  
                          </select>
                      </div>
                  </div>
                 
                  <div class="col-sm-12">
                      <div class="form-group mt-3">                            
                          <textarea rows="6" class="form-control no-resize" placeholder="Edit about the depertment..." [value]="deptDescrip" ngModel name="description"></textarea>
                      </div>
                  </div>
                 
              </div>
          </div>
          <div class="modal-footer">
              <button type="submit" class="btn btn-round btn-primary">Update</button>
              <button type="button" class="btn btn-round btn-default" data-dismiss="modal">Close</button>
          </div>
          </form>
      </div>
  </div>
  </div>


  
  
