<div id="main-content">
    <div class="container-fluid">
    <div class="block-header">
    <div class="row clearfix">
    </div>
    </div>
    <div class="row clearfix">
    <div class="col-lg-12">
    <div class="card">
    <div class="tab-pane" id="addUser">
    <div class="body mt-2">
    <div class="row clearfix">
       <form  class="form-auth-small m-t-20 row" role="form" (ngSubmit)="onSubmit(fm)" #fm="ngForm" >
       <div class="col-lg-2 col-md-6 col-sm-12">
        <div class="form-group">
            <input type="text" class="form-control round" placeholder="Input staff ID number here" [(ngModel)]="id_number" name="id_number" required>
        </div>
       </div>
    
    <div class="col-lg-8 col-md-6 col-sm-12">
        <div class="form-group">
            <input type="text" class="form-control round" placeholder="Input staff Firstname here" [(ngModel)]="firstname" name="firstname" required>
        </div>
    </div>
    <div class="col-lg-8 col-md-6 col-sm-12">
        <div class="form-group">
            <input type="text" class="form-control round" placeholder="Input staff Othername here"  [(ngModel)]="lastname" name="lastname" required>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="form-group">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text">Staff Gender</label>
                </div>  
                <span class="input-group-prepend">
                    <span class="input-group-text"> {{gender}}</span>
                </span>     
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-6 col-sm-12">
        <div class="form-group">
            <input type="email" class="form-control round"  placeholder="Input staff email address here" [(ngModel)]="email" name="email" required>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="form-group">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text">Staff Rank</label>
                </div> 
                <select class="custom-select" ngModel  name="rank_id"> 
                    <option value="">{{rankName}}</option>   
                    <ng-container *ngFor="let r of ranks">
                            <option value="{{r.id}}" [value]="r.id">{{r.rank_name}}</option>
                    </ng-container>                                                                           
                </select>        
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="form-group">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text">Staff Team</label>
                </div> 
                <select class="custom-select" ngModel name="team_id"> 
                    <option value="">{{teamName}}</option>   
                    <ng-container *ngFor="let t of teams">
                            <option value="{{t.id}}" [value]="t.id">{{t.team_name}}</option>
                    </ng-container>                                                                           
                </select>        
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="form-group">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text">Staff Role</label>
                </div> 
                <select class="custom-select" ngModel name="role_id"> 
                    <option value="">{{role_name}}</option>   
                    <ng-container *ngFor="let r of roles">
                        <ng-container *ngIf="roleID != r.id && r.id > roleID">
                            <option value="{{r.id}}" [value]="r.id">{{r.name}}</option>
                        </ng-container>
                    </ng-container>                                                                           
                </select>        
            </div>
        </div>
    </div>
        <div class="col-lg-4 col-md-6 col-sm-12 clearfix">
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text">Staff Position</label>
                    </div>  
                    <span  class="input-group-prepend">
                        <span class="input-group-text"> {{positionName}}</span>
                    </span>        
                </div>
            </div>
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text">Staff Department</label>
                    </div>  
                    <span class="input-group-prepend">
                        <span class="input-group-text"> {{departmentName}}</span>
                    </span>      
                </div>
            </div>
        </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="form-group">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text">Center</label>
                </div> 
                <select class="custom-select" ngModel name="branch_id"> 
                    <option value="">{{centerName}}</option>   
                    <ng-container *ngFor="let b of centers">
                            <option value="{{b.id}}" [value]="b.id">{{b.name}}</option>  
                    </ng-container>                                  
                </select>        
            </div>
        </div>
    </div>
    <!-- <div class="col-lg-9 col-md-6 col-sm-12">
    <div class="form-group" >
        <textarea  class="form-control" [(ngModel)]="description" name="description"></textarea>
    </div>
    </div> -->
    <div class="col-12">
    <h6>Module Permission</h6>
    <div class="table-responsive">
    <table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <td>Description</td>
            <th>Read</th>
            <th>Write</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let mod of permitions">
            <td>{{mod.component_name}}</td>
            <td>{{mod.description}}</td>
             <td>
                <label class="fancy-checkbox" *ngIf="mod.read_status == 'read'">
                    <input class="checkbox-tick" type="checkbox" (click)="check(mod.component_id,'read')" checked>
                    <span></span>
                </label>
                <label class="fancy-checkbox" *ngIf="mod.read_status == null">
                    <input class="checkbox-tick" type="checkbox" (click)="check(mod.component_id,'read')">
                    <span></span>
                </label>
            </td>
            <td>
                <label class="fancy-checkbox" *ngIf="mod.write_status == 'write'">
                    <input class="checkbox-tick" type="checkbox" (click)="check(mod.component_id,'write')" checked>
                    <span></span>
                </label>
                <label class="fancy-checkbox" *ngIf="mod.write_status == null">
                    <input class="checkbox-tick" type="checkbox" (click)="check(mod.component_id,'write')">
                    <span></span>
                </label>
            </td>
        </tr>
        <tr *ngFor="let p of newPermite">
            <td>{{p.component_name}}</td>
            <td>{{p.description}}</td>
            <td>
                <label class="fancy-checkbox">
                    <input class="checkbox-tick" type="checkbox" (click)="check(p.id,'read')">
                    <span></span>
                </label>
            </td>
            <td>
                <label class="fancy-checkbox">
                    <input class="checkbox-tick" type="checkbox" (click)="check(p.id,'write')">
                    <span></span>
                </label>
            </td>
        </tr>
    </tbody>
    </table>
    </div>
    </div>
    <div class="col-12 ">
        <div class="float-right">
            <button type="submit" class="btn btn-round btn-primary">Update<i *ngIf="disabled" class="fa fa-spin fa-spinner"></i></button>
            <button type="button" class="btn btn-round btn-default" data-toggle="modal"><a href="#" [routerLink]="['/Admin', {outlets: {side: ['all_staff']}}]">Close</a></button>
        </div>
    </div>
    </form>
    </div>
    </div>
    </div>
    </div>            
    </div>
    </div>
    </div>
    </div>
