<div id="main-content">
  <div class="container-fluid">
      <div class="block-header">
          <div class="row clearfix">
              <div class="col-md-6 col-sm-12">
                  <h1>Patients Category Table</h1>
                  <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                      <!-- <li class="breadcrumb-item"><a href="index.html">Hospital</a></li> -->
                      <li class="breadcrumb-item active" aria-current="page">Patients Category</li>
                      </ol>
                  </nav>
              </div>            
              <div class="col-md-6 col-sm-12 text-right hidden-xs">
                  <button class="btn btn-sm btn-primary" title="" data-toggle="modal" data-target="#AddCustCat">Add</button>
                  <!-- <a href="https://themeforest.net/item/oculux-bootstrap-4x-admin-dashboard-clean-modern-ui-kit/23091507" class="btn btn-sm btn-success" title="Themeforest"><i class="icon-basket"></i> Buy Now</a> -->
              </div>
          </div>
      </div>

      <div class="row clearfix">
          <div class="col-sm-12">
              <!-- <input [(ngModel)]="filterString" placeholder="Search..." (ngModelChange)="onFilterChange()" class="form-control"/> -->
              <div
              class="search-results"
              infiniteScroll
              [infiniteScrollDistance]="2"
              [infiniteScrollThrottle]="50"
              (scrolled)="onScroll()"
            >
              <div class="table-responsive">
                  <table class="table table-hover table-custom spacing8">
                      <thead>
                          <tr> 
                              <th>#</th>
                              <th>Name</th>
                              <th>Description</th>
                              <th>Percentage value</th>
                              <th>Price Scheme</th>
                              <th>Action</th>
                          </tr>
                      </thead>
                      <tbody>
     
                          <tr *ngFor="let c of custCats; let r = index">
                              <td>
                                  {{r+1}}
                              </td>                              
                              <td style="color: #17C2D7;">{{c.category_name}}</td>
                              <td style="color: #17C2D7;">{{c.description}}</td>
                              <td style="color: #17C2D7;">{{c.pacentage_value}}%</td>
                              <td style="color: #17C2D7;">
                                <span class="badge badge-success" *ngIf = "c.price_list_column == 'price_2'">GORAH Price</span>
                                <span class="badge badge-success" *ngIf = "c.price_list_column == 'price_3'">NHIS Price</span>
                                <span class="badge badge-success" *ngIf = "c.price_list_column == 'price_1'">General Price</span>
                              </td>     
                              
                              <!-- <td>
                                  <span class="badge badge-success" *ngIf ="c.status=== 'active'">Active</span>
                                    <span class="badge badge-danger" *ngIf ="c.status=== 'suspend'">Suspend</span>                                   
                              </td>                           -->
                              <td>
                                  <button type="button" class="btn btn-default btn-sm" style="color: blue;" title="Edit" data-toggle="modal" data-target="#EditCustCat" (click)="editdept(c.id)"><i class="fa fa-pencil"></i></button>
                                  <button type="button" class="btn btn-default btn-sm" style="color: red;" title="Delete" data-toggle="modal" (click)="onDelete(c.id)" *ngIf = "c.price_list_column != 'price_1'"><i class="fa fa-trash-o"></i></button>
                              </td>
                          </tr> 
                         
                          <div *ngIf="!custCats">
                              <div class="spinner-grow text-primary" role="status">
                              <span class="sr-only">Loading...</span>
                          </div>
                      <div class="spinner-grow text-secondary" role="status">
  <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-success" role="status">
  <span class="sr-only">Loading...</span>
  </div>
                            </div>                                                   
                      </tbody>
                  </table>
                  <!-- <pagination-controls style="background: blue;" (pageChange)="p = $event" class="my-pagination"></pagination-controls> -->
              </div>
              </div>
          </div>
      </div>
  </div>
</div> 
<!-- Default Size -->
<div class="modal fade" id="AddCustCat" tabindex="-1" role="dialog">
<div class="modal-dialog" role="document">
  <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title h4" id="myLargeModalLabel">Add Patients Category</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
          </button>
      </div>
      <form class="form-auth-small m-t-20" role="form" (ngSubmit)="onSubmit(fm)" #fm="ngForm"> 
      <div class="modal-body">             
          <div class="row clearfix">
              <div class="col-md-8">
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="Category Name" ngModel name="category_name" required>
                  </div>
              </div>             
          </div>
      </div>
      <div class="modal-body">             
        <div class="row clearfix">
            <div class="col-md-8">
                <div class="form-group">
                    <input type="textarea" class="form-control" placeholder="Category Description" ngModel name="description" required>
                </div>
            </div>             
        </div>
    </div>
    <div class="modal-body">             
      <div class="row clearfix">
          <div class="col-md-8">
              <div class="form-group">
                  <input type="text" class="form-control" placeholder="Percentage value to pay" ngModel name="pacentage_value" required>
              </div>
          </div>             
      </div>
  </div>
      
      <div class="modal-body">             
          <div class="row clearfix">
              <div class="col-md-8">
                  <div class="form-group">
                      <select class="form-control show-tick" ngModel name="price_list_column">
                          <option value="">-- Select Price List --</option>
                          <option value="price_1">General Price</option>
                          <option value="price_2">GORAH</option>
                          <option value="price_3">NHIS</option>                                
                      </select>                  
                    </div>
              </div>             
          </div>
      </div>      
      <div class="modal-footer">
          <button type="submit" class="btn btn-round btn-primary">Add</button>
          <button type="button" class="btn btn-round btn-default" data-toggle="modal">Close</button>
      </div>
      </form>
  </div>
</div>
</div>


<!-- Default Size -->
<div class="modal fade" id="EditCustCat" tabindex="1" role="dialog">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title h4" id="myLargeModalLabel">Update Patients Category</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
              </button>
          </div>
          <form class="form-auth-small m-t-20" role="form" (ngSubmit)="onUpdate(ed)" #ed="ngForm"> 
          <div class="modal-body">             
              <div class="modal-body">             
                  <div class="row clearfix">
                      <div class="col-md-8">
                          <div class="form-group">
                              <input type="text" class="form-control" [value]="custCatName" placeholder="Category Name" ngModel name="category_name" required>
                              <input type="hidden" [value]="custcatid" ngModel name="id">
                            </div>
                      </div>             
                  </div>
              </div>
              <div class="modal-body">             
                <div class="row clearfix">
                    <div class="col-md-8">
                        <div class="form-group">
                            <input type="textarea" class="form-control" [value]="custCatDescpt" placeholder="Description" ngModel name="description" required>
                          </div>
                    </div>             
                </div>
            </div>
            <div class="modal-body">             
              <div class="row clearfix">
                  <div class="col-md-8">
                      <div class="form-group">
                          <input type="text" class="form-control" [value]="percent" placeholder="Percentage" ngModel name="pacentage_value" required>
                        </div>
                  </div>             
              </div>
          </div>
              
          <div class="modal-body">             
            <div class="row clearfix">
                <div class="col-md-8">
                    <div class="form-group">
                        <select class="form-control show-tick" ngModel name="price_list_column">
                            <option value="">-- Select Price List --</option>
                            <option value="price_1">General Price</option>
                            <option value="price_2">GORAH</option>
                            <option value="price_3">NHIS</option>                                
                        </select>                  
                      </div>
                </div>             
            </div>
        </div> 

          </div>
          <div class="modal-footer">
              <button type="submit" class="btn btn-round btn-primary">Update</button>
              <button type="button" class="btn btn-round btn-default" class="close" data-dismiss="modal" aria-label="Close">Close</button>
          </div>
          </form>
      </div>
  </div>
  </div>
