<div id="main-content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-md-6 col-sm-12">
                    <h1>Nurse Dashboard</h1>
                    <!-- <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Oculux</a></li>
                        <li class="breadcrumb-item active" aria-current="page">My Page</li>
                        </ol>
                    </nav> -->
                </div>            
                <!-- <div class="col-md-6 col-sm-12 text-right hidden-xs">
                    <a href="javascript:void(0);" class="btn btn-sm btn-primary" title="">Create Campaign</a>
                    <a href="https://themeforest.net/item/oculux-bootstrap-4x-admin-dashboard-clean-modern-ui-kit/23091507" class="btn btn-sm btn-success" title="Themeforest"><i class="icon-basket"></i> Buy Now</a>
                </div> -->
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="body">
                        <div class="d-flex align-items-center">
                            <div class="icon-in-bg bg-indigo text-white rounded-circle"><i class="fa fa-briefcase"></i></div>
                            <div class="ml-4">
                                <span>Total OPD</span>
                                <h4 class="mb-0 font-weight-medium">{{countOPD}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="body">
                        <div class="d-flex align-items-center">
                            <div class="icon-in-bg bg-azura text-white rounded-circle"><i class="fa fa-credit-card"></i></div>
                            <div class="ml-4">
                                <span>Total GOPD</span>
                                <h4 class="mb-0 font-weight-medium">{{countGOPD}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="body">
                        <div class="d-flex align-items-center">
                            <div class="icon-in-bg bg-orange text-white rounded-circle"><i class="fa fa-users"></i></div>
                            <div class="ml-4">
                                <span>Total COPD</span>
                                <h4 class="mb-0 font-weight-medium">{{countCOPD}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="body">
                        <div class="d-flex align-items-center">
                            <div class="icon-in-bg bg-pink text-white rounded-circle"><i class="fa fa-life-ring"></i></div>
                            <div class="ml-4">
                                <span>Total MC</span>
                                <h4 class="mb-0 font-weight-medium">{{countMC}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="header">
                      <h2>IPD Report</h2>
                    </div>
                    <div class="body">
                        <div class="row text-center">
                            <div class="col-lg-4 col-sm-12 border-right pb-4 pt-4">
                                <label class="mb-0">Total IPD</label>
                                <h4 class="font-30 font-weight-bold text-col-blue">{{countIPD}}</h4>
                            </div>
                            <div class="col-lg-4 col-sm-12 border-right pb-4 pt-4">
                                <label class="mb-0">Male</label>
                                <h4 class="font-30 font-weight-bold text-col-blue">{{countMale}}</h4>
                            </div>
                            <div class="col-lg-4 col-sm-12 pb-4 pt-4">
                                <label class="mb-0">Female</label>
                                <h4 class="font-30 font-weight-bold text-col-blue">{{countFemale}}</h4>
                            </div>
                        </div>
                        <hr>
                        <div *ngIf="wards">
                        <div *ngFor="let ward of wards" class="mb-4 mt-3">
                            <label class="d-block">{{ward[0]}}<span class="float-right">{{ward[1]}}</span></label>
                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="3" aria-valuemin="0" aria-valuemax="" style="width: 100%;"></div>
                            </div>
                        </div>
                    </div>
                   
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card user_statistics">
                    <div class="header">
                        <h2>Monthly Report</h2>
                    </div>
                    <div class="body">                            
                        <div id="chart-pie" style="height: 300px"></div>
                    </div>
                </div>
            </div>                
            <div class="col-lg-8 col-md-12">             
                <div class="table-responsive"> 
                    <div class="card">                       
                        <div class="body">
                            <div class="row text-center">
                                <div class="col-lg-3 col-sm-6 border-right pt-2">
                                    <label class="mb-0">Total Appointments</label>
                                    <h4 class="font-30 text-info font-weight-bold text-col-blue">{{appt}}</h4>
                                </div>
                                <div class="col-lg-3 col-sm-6 border-right pt-2">
                                    <label class="mb-0">Assigned</label>
                                    <h4 class="font-30 text-warning font-weight-bold text-col-blue">{{asign}}</h4>
                                </div>
                                <div class="col-lg-3 col-sm-6 border-right pt-2">
                                    <label class="mb-0">Approved</label>
                                    <h4 class="font-30 text-success font-weight-bold text-col-blue">{{approve}}</h4>
                                </div>
                                <div class="col-lg-3 col-sm-6  pt-2">
                                    <label class="mb-0">Rejected</label>
                                    <h4 class="font-30 text-danger font-weight-bold text-col-blue">{{reject}}</h4>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>     
                    <div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="10" (scrolled)="onScroll()">            
                     <table class="table table-hover table-custom spacing5" style="padding: top 10px;">
                        <thead>
                            <tr> 
                                <th style="width: 20px;">#</th>
                                <th>Patient</th>
                                <th style="width: 50px;">HN</th>
                                <th style="width: 50px;">Status</th>
                                <th style="width: 110px;">Action</th>
                            </tr>
                        </thead>
                        <tbody>                           
                            <tr *ngFor="let appL of apptList; let i = index">
                                <td>
                                    <span>{{i+1}}</span>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img src="http://{{ imgLink}}/backend/public/upload/uploads/{{appL.patient_image}}" data-toggle="tooltip" data-placement="top" title="Avatar Name" alt="Avatar" class="w35 h35 rounded">
                                        <div class="ml-3">
                                            <a href="javascript:void(0);" (click)="appcustomer(appL.id)" title="Patient Name">{{appL.name}}</a>
                                            <p class="mb-0">{{appL.mobile_number}}</p>
                                        </div>
                                    </div>                                        
                                </td>
                                <td>{{appL.card_number}}</td>
                                <td>
                                    <span *ngIf="appL.status == 'open'" class="badge badge-info ml-0 mr-0">{{appL.status}}</span>
                                    <span *ngIf="appL.status == 'assigned'" class="badge badge-warning ml-0 mr-0">{{appL.status}}</span>
                                    <span *ngIf="appL.status == 'approved'" class="badge badge-success ml-0 mr-0">{{appL.status}}</span>
                                    <span *ngIf="appL.status == 'rejected'" class="badge badge-danger ml-0 mr-0">{{appL.status}}</span>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-default" title="Send Invoice" (click)="appcustomer(appL.id)" data-toggle="tooltip" data-placement="top"><i class="icon-eye"></i></button>
                                    <!-- <button type="button" class="btn btn-sm btn-default " title="Assign to doctor" data-toggle="tooltip" data-placement="top"><i class="fa fa-share-square-o"></i></button> -->
                                    <button type="button" class="btn btn-sm btn-default" title="Delete" data-toggle="tooltip" data-placement="top"><i class="icon-trash"></i></button>
                                </td>
                            </tr>                          
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <a class="card" href="javascript:void(0)">
                    <div class="body text-center">
                        <img class="img-thumbnail rounded-circle" width="80%" src="http://{{ imgLink}}/backend/public/upload/uploads/{{apptUser.patient_image}}" alt="">
                        <h6 class="mt-3">{{apptUser.name}}</h6>
                        <h4 class="mt-3">{{apptUser.card_number}}</h4>
                        <div class="text-center text-muted"><span class="badge badge-warning ml-0 mr-0">{{apptUser.br_name}}</span></div>
                    </div>
                    <div class="card-footer text-center">
                        <div class="row clearfix">
                            <div class="col-12">
                                <!-- <i class="fa fa-tag font-22"></i> -->
                                <button type="button" class="btn btn-primary" title="Click to Start Process" [routerLink]="['/Admin', {outlets: {side: ['patient_review', apptUser.id]}}]" data-toggle="tooltip" data-placement="top"><i class="fa fa-paper-plane-o"></i> Start Process</button>
                            </div>
                            <!-- <div class="col-6">
                                <i class="fa fa-dollar font-22"></i>
                                <div><span class="text-muted">$ 3.100</span></div>
                            </div> -->
                        </div>
                    </div>
                </a>
                <div class="card">
                    <div class="body">
                        <div class="card-text">
                            <div class="mt-0">
                                <span *ngIf="apptVstatus == 'paid'" class="float-right badge badge-success ml-0 mr-0">paid</span>
                                <span *ngIf="apptVstatus == 'unpaid'" class="float-right badge badge-danger ml-0 mr-0">Un-paid</span>
                                <span >Service Charge</span>                               
                            </div>
                            <div class="mt-4">
                                <small class="float-right badge badge-danger ml-0 mr-0">Close</small>
                                <span>Vital Sings</span>                                
                            </div>
                            <div class="mt-4">
                                <small class="float-right badge badge-info ml-0 mr-0">{{apptUser.patient_status}}</small>
                                <span>Appointment Type</span>                               
                            </div>
                            <div class="mt-4">
                                <span *ngIf="apptUser.insurance_status == 'disabled'" class="float-right badge badge-warning ml-0 mr-0">{{apptUser.insurance_status}}</span>
                                <span *ngIf="apptUser.insurance_status == 'enabled'" class="float-right badge badge-success ml-0 mr-0">{{apptUser.insurance_status}}</span>
                                <span>Discount(NHIS)</span>                               
                            </div>
                            <div class="mt-4">
                                <small class="float-right badge badge-info ml-0 mr-0">{{apptUser.firstname}} {{apptUser.lastname}}</small>
                                <span>Appointment Type</span>                               
                            </div>
                        </div>
                    </div>
                </div>                    
            </div>
        </div>

    </div>
</div>