  <div class="pattern">
      <span class="red"></span>
      <span class="indigo"></span>
      <span class="blue"></span>
      <span class="green"></span>
      <span class="orange"></span>
  </div>
  <div class="auth-main particles_js">
      <div class="auth_div vivify popIn">
          <div class="auth_brand">
              <a class="navbar-brand" href="javascript:void(0);"><img src="../assets/images/icon.svg" width="30" height="30" class="d-inline-block align-top mr-2" alt="">Check HMS</a>                                                
          </div>
          <div class="card">
              <div class="body">
                  <p class="lead">Create an account</p>
                  <!-- <form class="form-auth-small m-t-20" role="form" #signupForm=ngForm (ngSubmit)="onSubmit()"> -->
                      <form class="form-auth-small m-t-20" role="form" (ngSubmit)="onSubmit(fm)" #fm="ngForm">                 
                      <div class="form-group">
                          <input type="text" class="form-control round" placeholder="ID Number" ngModel name="id_number">
                          
                      </div>
                      <div class="form-group">
                          <input type="text" class="form-control round" placeholder="Firstname" ngModel name="firstname" required>
                          <div class="text-danger" [hidden]="!error.firstname">
                              {{error.firstname}}
                          </div>
                      </div>
                      <div class="form-group">
                          <input type="text" class="form-control round" placeholder="Othername" ngModel name="lastname" required>
                          <div class="text-danger" [hidden]="!error.lastname">
                              {{error.lastname}}
                          </div>
                        </div>
                      <div class="form-group">                            
                                <label class="fancy-radio custom-color-green"><input name="gender" ngModel name="gender" value="male" type="radio" checked><span><i></i>Male</span></label>
                                <label class="fancy-radio custom-color-green"><input name="gender" ngModel name="gender" value="female" type="radio"><span><i></i>Female</span></label>
                          <div class="text-danger" [hidden]="!error.gender">
                              {{error.gender}}
                          </div>
                        </div>
                      <div class="form-group">
                          <input type="email" class="form-control round" placeholder="Your email" ngModel name="email" required>
                          <div class="text-danger" [hidden]="!error.email">
                              {{error.email}}
                          </div>
                        </div>
                      <div class="form-group">                            
                          <input type="password" class="form-control round" placeholder="Password" ngModel name="password" required>
                          <div class="text-danger" [hidden]="!error.password">
                              {{error.password}}
                          </div>
                        </div>
                      <div class="form-group">
                          <input type="password" class="form-control round" placeholder="confirm Password" ngModel name="password_confirmation" required>
                      </div>
    
                      <div class="form-group">
                          <input type="text" class="form-control round" placeholder="phone" ngModel name="mobile_number" required>
                          <div class="text-danger" [hidden]="!error.mobile_number">
                              {{error.mobile_number}}
                          </div>
                        </div>
                      <div class="form-group">
                            <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="inputGroupSelect01">Department</label>
                                    </div> 
                                    <select class="custom-select" id="inputGroupSelect01"  ngModel name="dept_id">                                        
                                        <option *ngFor="let d of department" [value]="d.id">{{d.name}}</option>                                       
                                    </select>
                                    
                                </div>
                          <div class="text-danger" [hidden]="!error.dept_id">
                              {{error.dept_id}}
                          </div>
                        </div>
                      <button type="submit" [disabled]= "disabled" class="btn btn-primary btn-round btn-block">
                        Register <i id="loader2" *ngIf="disabled"  class="fa fa-spin fa-spinner"></i>
                      </button>                                
                  </form>
                  
                  <div class="separator-linethrough"><span>OR</span></div>
                  <div class="bottom">
                    <!-- <span class="helper-text m-b-10"><i class="fa fa-lock"></i> <a href="page-forgot-password.html">Forgot password?</a></span> -->
                    <span>Go Back <a [routerLink]="['']">Login</a></span>
                </div>
              </div>
          </div>
      </div>
      <div id="particles-js"></div>
  </div>
  <!-- END WRAPPER -->
